[2015-02-17 01:13] Calama-Consulting opened #2 "bring pvlib-python up to date with PVLIB-MATLAB 1.2 and 1.3"
Add additional functions introduces in PVLIB-matlab 1.2

[2015-02-17 01:15] Calama-Consulting opened #3 "Develop a common set of physical unit tests for the Python and MATLAB implementations."
Calama consulting is developing a set of notebooks using the NREL Regional Test Centre data which will compare the pvlib models to physical reality. Anyone who is interested in assisting with this, please get in touch

[2015-02-17 01:16] Calama-Consulting opened #4 "fix dirint function"
similar to Sandia-Labs/PVLIB_Python#40 , ensure compatibility in the new package

[2015-02-17 01:18] Calama-Consulting opened #5 "Add automated TMY pulls"
As recommended by @dacoex in Sandia-Labs/PVLIB_Python#34

[2015-02-17 10:04] dacoex commented on #2
Where can we find PVLIB-matlab 1.2

[2015-02-17 17:38] wholmgren commented on #2
PVLIB-Matlab 1.2 is only available at the PVPMC website. The github PVLIB_Matlab repository is an older version and may be removed. @Calama-Consulting you might want to ask Josh if he wants the matlab project available on github since it may hurt their official download statistics.

The readme has a link to the documentation.

We want to keep the core functionality and algorithms of the python and

[2015-02-17 21:00] dacoex commented on #2
an older version and may be removed.

OK, so login and find out...

Which is behind a login gate.

So this means:
PVPMC adds a functionality and then issues a release, then the pvlib-python would be updated?
A rather parallel process?
In consequence, one would have to know Mtalab, as well?

OK, one the development strategy discussed here is clear.

[2015-02-17 21:58] wholmgren commented on #2
The read me for this github repo has a line

"Full documentation can be found at readthedocs"

Which links to

http://pvlib-python.readthedocs.org/en/latest/

This is the Pvlib Python documentation only.

The Matlab and Python projects are developed by different teams that do not
regularly work together. There will not be feature parity, only similarity.
On Tue, Feb 17, 2015 at 2:00 PM Data & Code

[2015-02-17 22:45] dacoex commented on #2
OK, this is more clear.
Consequently, you may decide to spearhead with new features and then the Matlab will follow?

Or is pvlib after a similar feature set but more driven by its developers/users?

Maybe good also to limit the scope and compare it to other packages such as https://github.com/pingswept/pysolar. Then teh docs cloud show where pvlib by its intention will be different apart from the

[2015-02-17 23:27] wholmgren commented on #2
Pvlib Python already has a few features that the Matlab version doesn't
have. It's up to the Matlab developers to update their code where possible.
I can only say that the Python project will try to stay current with most
things that the Matlab project adds.

The Python project will be mostly community supported, whereas the Matlab
project is mostly supported by u.s. department of energy grants.

[2015-02-18 07:36] dacoex commented on #2
Thanks a lot.

So next could be a series of feature plans that can be added to the roadmap.

[2015-02-25 16:22] Lamaf opened #6 "Missing values using DISC to generate the direct normal irradiance"
I am having missing values when using DISC to simulate DNI, I trad this using clear sky GHI data and even with data I have from a measuring device
For an example try this:

    import datetime
    import pandas as pd
    from pvlib.location import Location
    import pvlib.solarposition
    import pvlib.clearsky

    # make a location
    tus = Location(32.2, -111, 'MST', 700)
    # make a pandas

[2015-02-25 21:00] wholmgren commented on #6
Thanks for moving the issue here.

Looks like there are some nan assignments:

https://github.com/pvlib/pvlib-python/blob/master/pvlib/clearsky.py#L378

I don't personally have any experience with this algorithm so I don't know if those conditions can be relaxed or not. If you have experience with this algorithm then I'll encourage you to make the appropriate changes and submit a pull request. The

[2015-02-26 11:51] Lamaf commented on #6
It is not the nan assignments in the script. According to the DISC algorithm, the condition in the lines 368,369 and 370 must be (Kt <= 0.6)
Still not sure if it perfect, as in my previous example the values of DNI is high in the early morning and in the end of the day, because  the GHI will be more than the I0h
and here is the plot
![disc](https://cloud.githubusercontent.com/assets/11089685/63912

[2015-02-26 19:16] wholmgren commented on #6
Ok, I understand now.

Sandia-Labs/PVLIB_Python#35 fixed the DISC algorithm on the old master branch.

Sandia-Labs/PVLIB_Python#37 was supposedly closed with [Sandia-Labs/PVLIB_Python/8ffbf80e](https://github.com/Sandia-Labs/PVLIB_Python/commit/8ffbf80e6935294f9b165175174047d9f184b50c), but I now see that the fix was incomplete since it missed the ``0.6-1``'s on the right side of the assignments.

[2015-02-28 20:51] wholmgren opened #8 "Add What's New section to docs"
A good pattern seems to be to make a separate file for each release.

Possibly helpful links

https://github.com/pydata/pandas/tree/master/doc/source

https://github.com/ipython/ipython/tree/master/docs/source

https://github.com/statsmodels/statsmodels/tree/master/docs/source

[2015-02-28 22:02] wholmgren opened #9 "NREL SPA license problems"
It appears to me that we may be in violation of NREL's SPA [license](https://github.com/pvlib/pvlib-python/blob/master/pvlib/spa_c_files/SPA_NOTICE.md)

"The Software is being provided for internal, noncommercial purposes only and shall not be re-distributed."

A couple of potential problems:
* We are redistributing their code rather than just making binaries with it.
* We (or at least I) don't wa

[2015-03-01 09:11] bmu opened #11 "Versioning and labels"
I think we should use github milestones. Also it is not clear to me on which version we are at the moment (`pvlib.version` says 0.3, but we are on something like `0.4dev` I think).

I would also like to use github labels for the issues.

[2015-03-01 09:52] bmu opened #12 "Class based testing"
I would like to implement real nose test cases or pandas based [`TestCases`](https://github.com/pydata/pandas/blob/master/pandas/util/testing.py#L80)

Also pandas like testscripts for lokal testing would be nice (see https://github.com/pydata/pandas).

At the moment I don't know how to run the test suite locally.

[2015-03-02 01:17] wholmgren commented on #11
Agreed on both. I was wishing for milestone labels yesterday.

@Calama-Consulting did you have a plan for what version to call the first PyPI release? 1.0 would make some sense for a first release, but I also feel like there's still a lot of loose ends for that label. So, I have a slight preference for 0.4.

[2015-03-02 01:27] wholmgren commented on #12
``nosetests`` will try to run any python modules labeled ``*test*`` that are in the current directory or any subdirectories. You can also give it an explicit test module e.g. ``nosetests pvlib/tests/test_tmy.py``. That being said, I don't have any objection to adding a ``test.sh`` similar to the one in ``pandas``.

There are certainly a lot of tests that could be made cleaner with class based test

[2015-03-02 04:05] wholmgren opened #13 "clearsky.py requires scipy.io"
Scipy either needs to be added to the setup.py file or we need to wrap the scipy statement with try/except and then throw a warning about reduced usability.

I would lean towards the latter as scipy installation is much more difficult than numpy and pandas. Best would be to remove the scipy.io dependency entirely.

[2015-03-02 06:12] bmu commented on #13
Recent matlab files should be hdf5 based (see [this question](http://stackoverflow.com/questions/874461/read-mat-files-in-python) on SO). So maybe we could simply update this file and read it with `pd.read_hdf` (Seems not to work with the current file, so maybe this is created with an older matlab version).

[2015-03-02 06:18] bmu commented on #12
Yes, it should, however if I run it in my local repository from the base folder (where `setup.py` is located) the output of `nosetests` is

[code]

Not sure whats going on here, as the coverage seems to work:

[code]

[2015-03-02 16:12] wholmgren commented on #12
Strange. I ran that exact command from the same directory and it worked as expected.

[code]

[2015-03-02 16:31] wholmgren commented on #13
Looks like it's matlab 5.

[code]

I checked the PVLIB 1.2 release and it's the same. I think that the ideal situation would be for both the matlab and python projects to use the same ``.h5`` file. Maybe this could be a part of the work going into #3.

[2015-03-03 18:02] Calama-Consulting commented on #9
My inclusion of it was based on it's original inclusion in the MATLAB version of the code, which carries the following liscence:

are permitted provided that the following conditions are met:

  list of conditions and the following disclaimer.

  list of conditions and the following disclaimer in the documentation and/or
  other materials provided with the distribution.

  contributors may be used

[2015-03-03 18:13] Calama-Consulting commented on #13
Yes, I think the best would be for us to lead in translating this into a more portable file format, best case would be a .csv that can then be read with standard techniques (as this is just a 2D array). Any takers? In the near term, @wholmgren , could you add scipy.io to the setup.py to make sure we're internally consistent?

[2015-03-03 18:20] Calama-Consulting commented on #12
In some cases you need to enable the --exe option for it to work . That being said the following worked for me:

    nosetests -v

in the pvlib-python directory

[2015-03-03 18:22] Calama-Consulting commented on #11
I agree with @wholmgren , the initial release will probably not warrant the 1.0 label, but I'd like to start at a fresh versioning with the new package. Let's reset  and release initially under 0.1? If there's agreement I'll set up the tags appropriately

[2015-03-03 18:24] Calama-Consulting opened #15 "Initial release to PyPi"
At what point should we push the initial release to PyPi? I'm leaning towards pushing after #6 and #13 are resolved with the 0.1 tag.

Thoughts?

[2015-03-03 18:29] wholmgren commented on #9
Hm, sort of makes sense. Maybe I need more coffee. I don't see that the NREL C code is actually contained in PVLIB-Matlab, so I'm not sure how that license applies here.

Since I wasn't very clear, I am specifically concerned about us including NREL's ``spa.c`` and ``spa.h`` files in our distribution.

It seems as though the authors of the ``pvl_spa.m`` file read the NREL SPA paper, looked at the

[2015-03-03 18:33] wholmgren commented on #11
Sure, I'm ok with calling it 0.1. One slight hiccup is that anybody that ``pip`` installed the package will need to specify ``-force`` instead of ``-upgrade``. That's probably only a concern for 3 people though.

[2015-03-03 18:57] wholmgren commented on #13
Yes, but I would prefer to go with something like

[code]

right before [line 137](https://github.com/pvlib/pvlib-python/blob/master/pvlib/clearsky.py#L137).

[2015-03-03 19:07] wholmgren commented on #15
Sounds good for the code.

What should we do about the tutorials? My suggestion is to just promise that one good tutorial works at this point. I can fix up, or even remove, the module level ones later. Another idea is to make a new repo under the pvlib org with the tutorials (at least the detailed ones). Not sure if that would be confusing to people that are new to git/github/python.

We should al

[2015-03-03 19:14] Calama-Consulting commented on #15
The tutorials on the dev branch of the sandia site are pretty good, and fixed for the new package layout, I'll port those over

[2015-03-03 19:20] wholmgren opened #16 "short term doc fixes"
A list of [doc](http://pvlib-python.readthedocs.org/en/latest/) fixes that we may consider before an initial release:

* Add more to the homepage, probably stuff from ``README.py``.
* Describe the relation to PVPMC, PVLIB-Matlab.
* Make a text link for the tutorials instead of my usual url dump.
* Different page for each module?

Any other relatively easy and important doc fixes?

[2015-03-03 20:19] Calama-Consulting commented on #9
I'm working on a change that will allow the user to install spa themselves with a version of the .c and .h files that they download from the NREL website. The best way I can think of is to have the pypi version have the function disabled by default. If they want to install spa, you would need to download the full tarball from github, and run

    python setup_spa.py install

where setup_spa is the

[2015-03-03 20:53] wholmgren commented on #9
On the first proposal: my guess is that if NREL won't let us put their files in the PyPI package, then they won't let us put them on the github repo either. If I'm wrong about that, then this idea could work.

On the second proposal:

I think that it would be easier in the end to actually go further and just split the spa wrappers into a separate package. Here's my thinking...

Users would downloa

[2015-03-03 20:56] wholmgren commented on #9
Sorry, I think I misread your first proposal. That would work. We could probably just use try/except in a single ``setup.py`` file.

[2015-03-04 05:46] bmu commented on #9
My feelng is, that it would be the best to skip inclusion of SPA until we have a pure python version (in case it is allowed to use the algorythm, but not the C implementation). If there is a matlab version, we could try to "translate" it.

[2015-03-04 05:50] bmu commented on #12
I use the same versions. However I'm on linux 64bit, maybe something goes wrong here. Still couldn't figure out, what the problem is, but will have time on Friday to check this.

[2015-03-04 06:24] bmu commented on #3
I am not sure about these tests. The comparison of model output against physical reality (or at least measurements) is model validation. This is usually done by scientists and published in papers (maybe we are also scientists ;-), but the focus here is on programming). And this is not an easy task: e.g. for transposition models like Perez the uncertaitny of very good field measurements is about 2%

[2015-03-04 17:51] dacoex commented on #12
@bmu
take a look at this:
https://launchpad.net/~pythonxy/+archive/ubuntu/pythonxy-devel
may ease up your updating with auto built daily packages.

[2015-03-04 18:13] wholmgren commented on #3
You make a lot of good points and I think that we're actually all in agreement.

Physical unit tests may be a bad choice of words (and partially my fault). I think that @Calama-Consulting's notebooks will certainly be valuable documentation and will establish the validity of some of our library. Some of his code could be adapted for the test modules, but don't think that we'll want or need to do t

[2015-03-04 19:27] Calama-Consulting commented on #9
I got part way through translating the matlab code, it is definitely possible though because of the differences in matrix handling between matlab and python, it is not an easy task. However, I stopped because it doesn't make a lot of sense to re-write good, functional and validated C code in slower python. That being said, if licensing is the bottleneck, that that might be what we have to do.

But

[2015-03-04 20:07] wholmgren commented on #9
For the sake of expediency, this is ok with me for the 0.1 release.

``pyephem`` is currently the default spa method (I think that this was a difference between UARENForecating and Sandia-Labs), and we should probably keep it that way if this is going to be the solution. We'd also want to add ``pyephem`` to the dependencies in ``setup.py``.

Beyond 0.1, I do think that we'd want to put the spa wra

[2015-03-06 01:02] jforbess opened #17 "meta, location, and systemdef philosophy"
I don't fully understand the differences of meta, location, and systemdef, in terms of how they should be used.

systemdef expects TMY meta to be used in its first parameter. But what if I want to use the lat/long for my plant, not the TMY station? What if I am looking at operating data (which I am), and have no need to pull in a TMY file?

Why doesn't systemdef use a location instead of a TMY met

[2015-03-06 20:12] wholmgren commented on #17
These are all good points/questions. This is definitely a place where we need to improve the package.

I propose that we:
* Make TMY importers return ``Location`` objects instead of meta dicts.
* Create a ``System`` class that inherits from ``Location`` and replaces ``systemdef``. ``System`` objects could be instantiated directly or accept ``Location`` objects plus the current ``systemdef`` argume

[2015-03-06 20:30] jforbess commented on #17
Great, that is what I was thinking, but I wasn't sure there was something I was missing. Both the 0.1 and 0.2 solutions make sense to me.

[2015-03-06 20:47] wholmgren commented on #17
@jforbess would you like to make a pull request with the 0.1 fixes?

Should probably add a ``test_systemdef_dict`` function to [``test_pvsystem``](https://github.com/pvlib/pvlib-python/blob/master/pvlib/test/test_pvsystem.py) to prove that it works as expected.

[2015-03-06 23:52] jforbess commented on #17
@wholmgren sure, I'll do that, but not until Sunday or Monday.

[2015-03-08 06:08] bmu commented on #12
I solved my problem (The reason was, that I was trying to test pvlib on a NTFS drive on my new machine, which was mounted so that the files were executable and nosetests skippes files, that are executable!).

@wholmgren: Do you think it makes sence, that I open a pull request that changes the unit tests to "real" unittests test now, or is this something for a later release? I could also create the

[2015-03-08 17:51] wholmgren commented on #12
There are definitely problems with the existing test modules that classes traditionally fix:
* The set up code is run once at the beginning of the module and reused for all tests
* The set up code is executed when the module is imported since it's not protected by a class or ``if __name__ == '__main__'`` statement
* I used copy/paste/modify to write many functions

I'll take most (all?) of the bla

[2015-03-08 17:55] wholmgren commented on #15
@Calama-Consulting do you have an approximate date in mind for the ``0.1`` release? I'll knock out a few of these easy issues this afternoon.

[2015-03-08 18:18] Calama-Consulting commented on #15
Let's aim for the end of this week, to give me time to make sure the tutorial are solid. We will also need to resolve #9, @wholmgren can you handle this as well? I beleive we had decided on the option with a modified `setup.py` which allows a user to manually install spa if they download the package from github and add their spa C code.

[2015-03-08 18:22] wholmgren commented on #15
Sounds good!

[2015-03-09 06:08] bmu commented on #12
My intention to move to Pandas TestCases is not to have "nicer code" or that we use classes without a need to.
The reason is, that these test cases really test a series or a DataFrame: they test for expected values and for the expected index.
This is especially useful because often time series are used as input for pvlib functions. My experience from everyday work with functions (not classes;-) th

[2015-03-09 06:29] wholmgren commented on #12
That all makes sense. Good point regarding the templates too.
On Sun, Mar 8, 2015 at 11:08 PM bmu <notifications@github.com> wrote:

[2015-03-09 18:55] jforbess commented on #16
Issues found in docs, likely from auto-gen content that hasn't been updated in code? Perhaps not all of these qualify as easy to fix before release:

Ineichen doesn’t provide info on single df output
function is now aoi, but docs reference getaoi throughout, except in actual function doc
lots of references to pvl_function not function

[2015-03-09 23:19] wholmgren commented on #16
Thanks.

The numpydoc convention is to avoid using "See also" unless it's really important. I think that we can follow that rule now now that the library structure is in better shape.

More issues:
* The doc title capitalization needs to be updated.
* Copyright needs to be updated.
* ``pvlib.pvsystem.snlinverter`` has a poorly formatted table.
* References to ``maketimestruct, makelocationstruct``

[2015-03-09 23:22] wholmgren opened #20 "identify private methods, add _"
This issue can be a place to list methods that should be identified as private methods. Private methods start with ``_``, they do not show up in the documentation, and they should not be relied on by end-users.

[code]

Recommend a ``0.2`` tag.

[2015-03-10 03:54] wholmgren opened #21 "irradiance.globalinplane"
This method does not work and is not tested.

[2015-03-10 18:24] wholmgren opened #24 "DISC algorithm modifies input zenith series"
Here's the offending [lines](https://github.com/pvlib/pvlib-python/blob/master/pvlib/clearsky.py#L360):

[code]

``Ztemp`` references the same object as the input ``SunZen``, so the ``87`` assignment rudely modifies the input object.

This can be fixed by using ``Ztemp=SunZen.copy()``.

Can be closed in the same PR as #6.

[2015-03-10 18:26] wholmgren commented on #15
Add #24 to 0.1 milestones.

[2015-03-11 19:57] #5 closed

[2015-03-11 22:54] wholmgren commented on #15
Looks pretty easy to [make a conda package](http://conda.pydata.org/docs/build_tutorials/pkgs.html). Should we do that for 0.1 or wait for a future release? I don't use Anacondas but it seems to be all the rage these days, especially for people that are new to Python e.g. former PVLIB_MATLAB users.

[2015-03-11 23:16] bmu commented on #15
+1 for a conda package. I use anaconda on Windows and linux. However I think its fine to wait for the next release. Maybe I could create the package than.

[2015-03-12 00:03] wholmgren opened #25 "DISC function ignores input pressure"
Here's the offending [line](https://github.com/pvlib/pvlib-python/blob/78ab403b6c5c71379603f7b9fefdec67d742f7ad/pvlib/clearsky.py#L353).

Working on a DISC PR now...

[2015-03-12 06:56] bmu commented on #11
I created milestones and some labels. Maybe you should have a look.
If they seem reasonable, we can close this issue.

[2015-03-12 08:40] dacoex opened #27 "docs: issue linking"
The issue link does not work:

[code]
on page
http://wholmgren-pvlib-python-new.readthedocs.org/en/docfixes/whatsnew.html#new-features

[2015-03-12 08:51] dacoex opened #28 "docs: add tutorials to Sphinx build"
Add
https://github.com/pvlib/pvlib-python/tree/master/docs/tutorials
to
http://wholmgren-pvlib-python-new.readthedocs.org/en/docfixes/index.html#

maybe with a link to the nbviewer.
there's also a ipython sphinx plugin
http://matplotlib.org/sampledoc/extensions.html#ipython-sessions
https://github.com/ipython/ipython/tree/master/IPython/sphinxext

[2015-03-12 12:23] dacoex opened #29 "add a io module"
From:
https://github.com/pvlib/pvlib-python/pull/7#issuecomment-78441084

Shall we add standard readers for typical data providers such as:

Input:
-  Meteonorm
-  SolarGIS, e.g. http://solargis.info/doc/_files/sample_data/SolarGIS-climData/SolarGIS-TMY-hourly-P50-PSA-ES.zip
- BSRN
- SoDa-IS

Output:
- epw: http://apps1.eere.energy.gov/buildings/energyplus/cfm/weather_data3.cfm
- SAM

Hints:
https

[2015-03-12 14:37] wholmgren commented on #27
#22 isn't even merged yet! I want to keep the issues page focused on the code and documentation that is actually in pvlib/pvlib-python. You can reopen the issue if this is not resolved when it is merged.

[2015-03-12 14:37] #27 closed

[2015-03-12 14:44] wholmgren commented on #28
There's already a link to an nbviewer page with the tutorials.

"This documenation focuses on providing a reference for all of the modules and functions available in pvlib-python. For examples of how to use pvlib-python, please see the [tutorials](http://nbviewer.ipython.org/github/pvlib/pvlib-python/tree/master/docs/tutorials/)."

Inline code in documentation and IPython sphinxext is a separate i

[2015-03-12 14:44] #28 closed

[2015-03-12 14:53] wholmgren commented on #29
I would support renaming ``tmy.py`` to ``io.py`` and adding importers for the most useful data sets. We need to be careful about the scope, though. A comment on the pandas issue correctly points out the danger

solutions to the 1001 weird data problems found in the wild that most pepole won't see.

It's also worth pointing out that pydata recently created a new repo [pandas-datareader](https://git

[2015-03-12 14:58] wholmgren commented on #11
Nice, they look good.

Let's leave this issue open until we fix the version (it's currently 0.3, which is a hold-over from the UARENForecasting project)

[2015-03-12 15:13] dacoex commented on #28
Yes, but from which page in the docs at RTD can this be found?

[2015-03-12 15:24] wholmgren commented on #28
Not sure what exactly you want me to address here...

#22 is a PR to fix documentation problems raised in issue #16 (and more). This is what I quoted from, since this is what you linked to originally.

The official documentation for pvlib-python is http://pvlib-python.readthedocs.org/en/latest/ and it too contains a link to the tutorials.

[2015-03-12 17:14] wholmgren commented on #4
Wondering if this is going to make it into 0.1 and if so, who is going to do it. I would consider implementing it for 0.2, but I can't do it in the 0.1 time frame.

[2015-03-12 20:27] dacoex commented on #28
Nevermin. overlooked that sentence
"This documenation focuses on providing a reference for all of the modules and functions available in pvlib-python. For examples of how to use pvlib-python, please see the tutorials."

I was used to check only the ToC

[2015-03-12 20:57] #6 closed

[2015-03-12 20:57] #24 closed

[2015-03-12 20:57] #25 closed

[2015-03-12 21:32] Calama-Consulting commented on #4
@wholmgren , is this completed with #26 ?

[2015-03-12 21:35] wholmgren commented on #4
No, that PR just addressed the issues with the DISC function.

[2015-03-12 21:37] Calama-Consulting commented on #13
Sounds good to me

[2015-03-12 21:39] Calama-Consulting commented on #15
Sounds good, it doesn't look too involved,  I will add a conda wrapper and upload to binstar in addition to pypi for 0.1 . I think it will increase the ability to uptake, especially for new windows users.

[2015-03-12 21:41] Calama-Consulting commented on #4
Right, lets shift this to 0.2 for the dirint function.

[2015-03-12 21:42] Calama-Consulting opened #30 "Port Tutorials"
Port of tutorials from sandia labs develop branch.

[2015-03-13 00:06] #8 closed

[2015-03-13 00:07] Calama-Consulting commented on #16
Closed from #22

[2015-03-13 00:07] #16 closed

[2015-03-13 02:52] Calama-Consulting commented on #9
Not fully resolved, keeping this for context and shifting to the 0.2 milestone

[2015-03-13 13:31] dacoex commented on #15
Please ping me when you release the package to pypi.

I will adapt the Ubuntu package accordingly and propose a change in the docs for pointing at this repository:
https://code.launchpad.net/~pythonxy/+archive/ubuntu/pythonxy-devel/+packages?field.name_filter=pvlib

[2015-03-13 15:59] wholmgren commented on #11
I changed the version to ``0.1.0`` in a28e45d2. I suggest that we keep it this way until after the release, at which point we change it to ``0.1.1dev``. I think that there are some scripts for fancy versioning, but I don't think we need them now. Not sure if you want to close this issue or not.

[2015-03-13 17:49] #11 closed

[2015-03-13 17:53] bmu commented on #29
I think we should call it `data_io`, because `io` is a module in the python standard library. Pandas uses `io` but if I remember correctly I already had some issues because of this name clash.

[2015-03-17 16:25] wholmgren opened #32 "tracker algorithms"
I'm in need of some single axis tracker algorithms that include back tracking. So:
1. Can anybody recommend a reference for a single axis tracker algorithm with back tracking?
2. Does anybody have a Python implementation of a tracker algorithm?
3. Should we add tracker algorithms to pvlib?

The best reference I have so far is a NREL [tech report](http://www.nrel.gov/docs/fy13osti/58891.pdf), but i

[2015-03-18 17:03] wholmgren commented on #32
Turns out that pvlib matlab has a single axis tracker function ``pvl_singleaxis.m``. Should definitely port this. It references

Lorenzo, E et al., 2011, "Tracking and back-tracking", Prog. in Photovoltaics: Research and Applications, v. 19, pp. 747-753. [wiley.com](http://onlinelibrary.wiley.com/doi/10.1002/pip.1085/abstract)

[2015-03-18 17:05] wholmgren commented on #32
Where would this function live? In it's own module, maybe called ``tracking.py`` or ``trackers.py``?

[2015-03-18 17:12] Calama-Consulting commented on #32
I think it warrants it's own module: `tracking.py` is my vote

[2015-03-20 07:12] bmu opened #36 "Skip tests if optional dependencies are not installed"
See #13, #31, #34

Beside scipy there may be other optional dependencies? spa , ...?
We should first define optional dependencies, test if they are installed, if not skip
tests that need them.

[2015-03-20 07:12] bmu commented on #13
I close this for 0.1 in favor of #36

[2015-03-20 07:12] #13 closed

[2015-03-20 16:08] wholmgren opened #37 "consistent variable names and capitalization"
Let's try to agree on the variable names and capitalization rules for all terms in the library. PEP8 is a good place to start, but it may be reasonable to break those rules for some terms.

I don't expect that we can come to agreement on everything in this issue, but let's at least write down the terms and rules for which we do agree and change the code to reflect whatever consensus emerges.

A wi

[2015-03-20 18:12] uvchik commented on #37
I would use existing conventions like PEP8 because this is easier for new contributors. For variable names I like the convention table of pylint: http://pylint-messages.wikidot.com/messages:c0103

Pylint is a program to check your code. It marks all lines where you broke the rules. You can integrate pylint in many IDEs or editors (http://docs.pylint.org/ide-integration) or use it as a standalone t

[2015-03-20 18:39] #21 closed

[2015-03-20 18:53] wholmgren commented on #37
I'll put a few of my preferences here, going from perhaps least to most controversial.

Everything that is not an acronym or a complicated variable in an equation should be lower case. This is just good PEP8, and most of the code actually follows this already. Of the list above, the only change would be that ``In_Plane_SkyDiffuse`` becomes ``in_plane_skydiffuse`` or similar.

Airmass should just b

[2015-03-21 10:11] bmu commented on #37
It would be great, if we could agree on naming conventions! And we could have something like a table of definitions in the wiki or documentation.
In a first step these definitions coul be used by developers.

As an idea, they could possibly also be used by users in the future, if we would switch to dataframe inputs for some functions or a different kind of api. This would enable us to include som

[2015-03-21 10:17] bmu commented on #37
For pylint we could include a `pylintrc` in the repository.

[2015-03-22 21:12] wholmgren commented on #37
Yes, I would really like to see some new high level functions that utilize the API and standardizing names will make this much easier. I'll suggest a new issue(s) for scoping out those functions, though.

I'm ok with adding a ``pylintrc`` or similar file, but I want to be pragmatic about this. I think that using good PEP8 practices for API-relevant things is a lot more important than removing extr

[2015-03-23 08:50] uvchik commented on #37
1. I agree with @wholmgren, that it is easier to read the code if the variables are spelled out. Abbreviations are okay for often used phrases like diffuse but we should avoid them. Maybe we could create a table with the most important variable names, so that we and all new developers get an overview of how the naming works. Example: [Variables-and-style-rules](../wiki/Variables-and-style-rules)

[2015-03-23 09:45] wholmgren commented on #37
The table is a good start. Can you keep going with your specific suggestions for the rest of the parameters discussed above? I'll add mine after that. I think we all agree that we should follow pep8 but that still leaves room to differ on some parameters.

[2015-03-23 14:33] Calama-Consulting opened #39 "Dataframe input for functions"
From a conversation started in #37 by @bmu :

[code]

My veiw on this would be to stay away from datframe passing as inputs, especially as the only form of input. One of the advantages of pvlib is that there is the ability to use  different inputs (irradiance sources, plane transposition models, etc.) and compare their outputs from the functions. This means that a user might have multiple versions

[2015-03-23 14:34] Calama-Consulting commented on #37
Hi Folks, I agree with the conversation above, and think that for the majority of the time we should be sticking to PEP8.

However, another topic came into this thread, which is to look at implementing a dataframe input method for the functions. This is a topic that came up earlier in the project, that we decided to steer away from, though it could be revisited. I've opened up a new issue to talk

[2015-03-23 15:27] wholmgren commented on #39
@Calama-Consulting is right to express caution. Maybe we should restrict this sort of function signature to those that build on the core pvlib functionality and leave the core functions alone.

In this case the "explicit" variables would probably become kwargs, along with the new ``df`` input. Most of these kwargs would probably be set to ``None`` and then we'd need to make sure that sensible erro

[2015-03-24 10:35] caro-rli opened #40 "solarposition.ephemeris"
returns solar azimuth angle in wrong definition with zero = south. But irradiance.aoi needs as input panel azimuth angles from north.

This function is discouraged anyway, so may it be better to remove it from the library?

[2015-03-24 16:52] uvchik commented on #37
I think the variables should be lower case but I'm not sure with the keys of the DataFrame. They could be camel case. It might make things even clearer in the documentation but I'm not sure. I updated the wiki. What do you think? Please add or comment.

[2015-03-24 16:56] dacoex commented on #37
a question:
Alternatively to the wiki the variables could be added to the documentation or dedicated module where variables will be defined as a dictionary or table...

Offeres the possibility to use it in the documentation or even the code.

[2015-03-24 17:50] wholmgren commented on #37
@uvchik The wiki looks nice, and I'll add some comments there. I would say that we should try to be consistent between function parameters and the DataFrame keys. I think most people would wonder why the function outputs are formatted differently than the inputs, but I could be wrong about that. Trying to stay consistent also makes it possible to use the **DataFrame technique discussed in #39.

@d

[2015-03-24 20:39] wholmgren commented on #40
I'm inclined to say that we should fix it, but I'm ok with removing it too. If I remember right, @Calama-Consulting is in favor of keeping it. A PR (with tests) is welcome.

[2015-03-24 20:44] wholmgren commented on #9
Just noticed this from PVLIB MATLAB's ``pvl_spa_help.m``

So they've apparently run into the same problem.

[2015-03-24 20:48] wholmgren commented on #37
Here's a [PVPMC page](https://pvpmc.sandia.gov/resources/variable-list/) that's worth reviewing, although I do not suggest that we follow these definitions for our code.

[2015-03-24 21:09] wholmgren commented on #4
PVLIB MATLAB 1.2 has a lot more GHI to DNI functions:
[code]
Not sure if we want to rename this issue to encompass the implementation of all of these algorithms or if we should just put this in #2.

[2015-03-25 07:25] bmu commented on #39
My intention was to leave the functions as they are and to develop something like a different api, that uses these functions under the hood. So we agree here, I think.
And I also think that one advantage of pvlib ist, that you can use different data sources and models to calculate whatever you want.

The main advantage of such an api would be that "magical" objects could be implemented (if we use

[2015-03-25 10:12] uvchik commented on #37
I removed the 'key' column. So variable names and key names will be the same.

We have to decide whether we want the 'e_*' or not.

I totally agree that the result of this discussion should be added to the documentation.

@wholmgren This is a basic decision. Do we want variable names that are close the symbols used in equations or do we want longer "talking" variable names. I prefer the longer nam

[2015-03-25 10:32] uvchik commented on #39
What about adding a new module named "applications.py" containing meta functions. If this is not intended by the pvlib, it could be a good idea to start a 'pvlib_app' repository with these meta functions.

I would prefer adding a module.

[2015-03-25 12:42] dacoex commented on #11
What about adding a label such as "Good as first PR" / "easy catch"

https://github.com/pydata/pandas/labels/Good%20as%20first%20PR

For contibutors with litlle time or who are just starting to understand this library or do not use it everyday.

[2015-03-25 13:45] wholmgren commented on #37
I also prefer the longer names.
On Wed, Mar 25, 2015 at 3:12 AM ukrien <notifications@github.com> wrote:

[2015-03-25 15:25] wholmgren commented on #39
I very much think that these high level functions should be a part of pvlib. They'll build upon the core library and illustrate how to use each part of it. IPython notebooks that walk through each step of the function could be interesting and educational. These high level functions would be useful for people like me that are not experts in every step of PV system modeling and would be happy to hav

[2015-03-25 17:43] jforbess commented on #37
I really dislike e_* form of irradiance names. e doesn't mean irradiance to
me, it means energy generated with volts and amps.

I'm a lazy typist, but there are so many common notations for irradiance, i
think it is probably better to write them out. Me, I prefer ghi, dhi, dni,
poa_global, poa_beam, poa_diffuse but could see spelling out the
abbreviations if the consensus went that way.

On Wed, M

[2015-03-25 18:16] wholmgren commented on #37
I like poa*. Feel free to edit/add to the wiki.

[2015-03-26 17:40] wholmgren commented on #40
We'll keep using this issue to solve the timezone problem in this function.

The pyephem and NREL spa functions use UTC, so as long as Python, pandas, pytz, and dateutils can get the conversion right, DST should be ok there. ``test_solarposition.py`` has several tests that use a Golden, CO ``Location`` with a DST-allowing ``America/Denver`` timezone.

See #41 for a summary of the tz issue.

[2015-03-26 21:19] wholmgren commented on #40
This code block causes problems.

[code]

It creates a fixed ``utc_offset`` based the first element of the DatetimeIndex. ``utc_offset`` should instead be an array so that it can handle a change from DST to non-DST. I believe that the original code suffers from the same problem.

To fix it, I suggest using [``pvlib.tools.localize``](https://github.com/pvlib/pvlib-python/blob/master/pvlib/tools.py#

[2015-03-26 21:20] wholmgren commented on #40
cc @uvchik.

[2015-03-27 18:41] wholmgren opened #42 "disc algorithm location"
The disc algorithm is currently in ``clearsky``, but I think ``irradiance`` is a better place for it (and the rest of the similar models that still need to be implemented #2 #4).

[2015-03-31 13:47] uvchik commented on #40
The Problem is, that I don't really understand the function and it is not well commented. I tried some thing but I didn't succeeded.

I think I won't be able to repair and test this function in an acceptable period. First I have to learn more about Pandas timestamps and how to work with pandas and time zones.

Shall we add another warning, that using this function is on one owns risk. Or does anyo

[2015-03-31 14:43] uvchik commented on #37
I would add a "*_rad" if an angle is in radiant and not degree, but I wouldn't add a "*_deg" for degree.

[2015-03-31 14:44] wholmgren commented on #40
Thanks for looking. I'll see if I can implement my thoughts above.

[2015-03-31 14:48] wholmgren commented on #37
@uvchik that seems reasonable. Do we have any pvlib functions that use radians for inputs and outputs?

[2015-03-31 14:56] wholmgren commented on #37
The updated table looks good. I like the longer ``dni_extra``, the item-modifier pattern used in ``airmass_[relative|absolute]`` (most other variables are now listed this way), and the ``solar_zenith`` since we use "solar" more often than "sun".

[2015-03-31 15:02] wholmgren commented on #37
If you're only seeing this via email, now is a good time to look at @uvchik's updated table and let us know what you think. @uvchik and I have dominated the discussion here, but I don't want all of pvlib-python's naming conventions to be determined by our preferences.

[2015-04-04 07:28] bmu opened #46 "Contributing"
If we agree on it, we could either completely rely on [pandas](http://pandas-docs.github.io/pandas-docs-travis/contributing.html) or give some rules, where we use our own conventions (in the [wiki](https://github.com/pvlib/pvlib-python/wiki/Development-information) or in the docs).

[2015-04-04 08:49] bmu commented on #37
I agree with your conventions, especially to use longer "talking" names. Here are my thoughts on some of the the bold ones (I have no preference for the other bold ones) in the wiki page and some other comments:

### tz or timezone
I am not sure, if this is a good name in general, as we can have time stamps given as UTC, really related to a time zone, local time (without DST), mean solar time, tru

[2015-04-04 08:52] #4 closed

[2015-04-04 08:55] bmu commented on #15
What about the release?

[2015-04-04 08:56] bmu commented on #30
I think we could shift this to 0.2 and release 0.1 of pvlib.

[2015-04-04 08:57] #40 closed

[2015-04-04 09:15] bmu opened #47 "Time zones / Time references"
I think we should make sure, that time zones, other time references are used correctly.
We can have time stamps given as UTC, really related to a time zone, local time (without DST), mean solar time, true solar time, ...? This is an everyday problem from my experience, so we should be able to handle all of these formats at least in the future.
For now it could be ok to define, that all times shoul

[2015-04-05 02:11] wholmgren commented on #47
I'm all for being helpful with timezones. This was my motivation for adding a ``tz`` attribute to the ``Location`` class. The ``solarposition`` module (with some functions in ``tools``) has an attempt at using tz knowledge from either the ``DatetimeIndex`` or the ``Location`` object. Do these fit into your scope or do you want to do something different? I did think that it would be nice if the ``L

[2015-04-05 02:15] wholmgren commented on #46
Most of the stuff I wrote was inspired by pandas (maybe I should have made that more clear), but I felt that we should have something more than just "go look at pandas" since new contributors might not yet understand the scientific python ecosystem. I'm open to changing this, though.

[2015-04-05 02:15] wholmgren commented on #30
Agreed.

[2015-04-06 06:51] bmu commented on #47
I mean true or [apparent solar time](http://en.wikipedia.org/wiki/Solar_time), so I think we talk about the same quantities. It is often useful to plot some quantities against this time e.g. to detect the azimuth angle of a system or to detect misalignments between irradiance sensor and modules, ...
So I think it would be useful.

I would also like to rely on pandas for time conversion, as it is t

[2015-04-06 06:56] bmu commented on #46
Ok, I think this is a good approach. However we could provide the link to pandas, if we agree on all of the thinks that are stated there.

[2015-04-06 06:57] bmu commented on #30
@Calama-Consulting ?

[2015-04-06 15:35] jforbess commented on #47
Agreed on using pandas and default UTC, and I think one critical component
of having a successful time implementation for others will be a tutorial
covering various conversions and manipulations.

I am still trying to wrap my head around how true solar time and mean solar
time interact with data collected from a system, but I will get there.

On Sun, Apr 5, 2015 at 11:51 PM, bmu <notifications@git

[2015-04-06 15:58] wholmgren commented on #47
That sounds like a good use case. [``solarposition.ephemeris``](https://github.com/pvlib/pvlib-python/blob/8833cfe41554e69293b7174d3babec1de99a118e/pvlib/solarposition.py#L242) does return solar time, although I did not test this output in my recent PR. Pyephem has a [``sidereal_time``](http://rhodesmill.org/pyephem/quick.html#other-observer-methods) method, so we can add solar time to ``solarposi

[2015-04-06 16:17] wholmgren commented on #46
I added a handful of links to the pandas pages. Feel free to edit anything.

[2015-04-06 17:18] bmu commented on #46
Ok, thanks. I'll close this issue.

[2015-04-06 17:45] bmu commented on #47
I think, we misunderstand each other a little bit until now; my English may be the reason ;-)

My use cases include up to now:

* irradiance data provided by a national weather service using true solar time as timestamp
* data from our own monitoring system using local time (without daylight saving)
* data from utilities most often localized (including daylight saving)
* data from meteonorm, local

[2015-04-06 18:03] jforbess commented on #47
Yes, those cases are generally what I would assume, though in my experience
irradiance data from a national weather service is also in local time, not
true solar time. I am not sure I ever see anything in true solar time
except outputs from very specialized models, like the example you cited,
and in that example, I might compare daily peaks to daily model peaks in
local time, which would look for

[2015-04-06 18:22] wholmgren commented on #47
These use cases are helpful and cover a pretty broad range. I think that properly used IANA timezones (the pytz/pandas convention) can cover all except for solar time. For example, here in the US we have ``US/Mountain`` (DST aware) and ``MST`` (no-DST):

[code]

Note the difference in the UTC offset between the two.

So long as I specify times consistent with the timezone, pandas will use the same

[2015-04-06 18:40] bmu commented on #47
Ok, I was aware of the pandas time conversion / localization, but not the non-DST ones. I agree, that in this case most of the tools are available. For the conversion from true solar time to UTC one needs the time difference of mean solar time to utc (depending on longitude) and the equation of time, should also be included in the solar position algorithms.

What about the handling of tz-naive tim

[2015-04-06 18:53] bmu commented on #47
@jforbess: just ask the German weather service ;-)

the other comment: you won't have a peak at 12:35 if you plot one year data against local time. the peak shifts from 12:20 to 12:50 due to equation of time. and i you want to detect small sensor missalignments

[2015-04-06 19:00] bmu commented on #47
There are other use cases (see e.g. [this paper][http://www.researchgate.net/publication/259400149_Long_term_satellite_hourly_daily_and_monthly_global_beam_and_diffuse_irradiance_validation._Interannual_variability_analysis), section 5.1.).

However, I'm not sure if it should be the first priority, as you seem to see no need for true solar time, and maybe most of the users also do not need it.

[2015-04-06 19:03] wholmgren commented on #47
The pandas integer representation of a tz-naive timestamp is the same as that for a UTC timestamp (see above). Is that what you meant?

You've convinced me that including solar time in the ``solarposition`` outputs is high priority, but the converter from solar time to UTC would be lower on my priority list.

[2015-04-06 19:09] jforbess commented on #47
Yes, I'm not saying that true solar time isn't a key concept, I am just
saying that it's a lower priority to be able to convert between it and UTC.

Though I suspect that the large German operations performance community
would disagree, given @bmu's insight regarding their dataset.

On Mon, Apr 6, 2015 at 12:03 PM, Will Holmgren <notifications@github.com>
wrote:

[2015-04-06 19:18] bmu commented on #47
Ok, I'm fine with a lower priority for the reverse calculation (not sure about "the large German operations performance community", though)

[2015-04-06 19:46] bmu commented on #47
@wholmgren: I had a look on the code (especially `tools.localize_to_utc`) and now it is clearer what happens until. Should have done this before, sorry.

But I think something in the documentation on this topic would be useful, as not all users will be aware of the time zone handling.

[2015-04-06 19:47] jforbess commented on #47
Just a reminder to myself and others as to the huge install base outside my
experience, and you know, the largest installed base in the world.

On Mon, Apr 6, 2015 at 12:18 PM, bmu <notifications@github.com> wrote:

[2015-04-07 05:40] bmu commented on #47
After some sleep, I see my initial confusion: From my point of view, the time zone is related to the data, not to the location. Maybe it is good to have information on the (legal) time zone of a location, but this is not necessarily an indicator for the time stamp used in e.g. measurement files (and I don't know, if this is clear for a user in general).
That's why I was asking for a time zone keyw

[2015-04-07 09:49] uvchik opened #49 "The documentation is broken"
The documentation is broken:
http://pvlib-python.readthedocs.org/en/latest/pvlib.html

I tried to compile it myself but I get import errors from sphinx, which I don't understand. Maybe for the same reason as the build on readthedocs.

Example:
The import of tools (`from pvlib import tools`) works fine for me but sphinx raises the following:
[code]

[2015-04-07 15:03] wholmgren commented on #49
Thanks, I'll look into it.

[2015-04-07 15:25] wholmgren commented on #47
My thought is to go in the other direction. Make the solar position methods only accept tz localized times, raise an error with naive times, and ignore the location object's tz attribute. This makes it so that there is only one way to do it and the user must be very explicit about it. If you have data, then it was recorded with a specific time convention (UTC, Europe/Berlin, US/Arizona) and I thin

[2015-04-07 16:01] wholmgren commented on #49
The problem was that I added a ``from ... import ..`` that wasn't captured by ``conf.py``'s Mock statements. Seemed easier to just remove the ``from``. We'll try to be better about checking documentation builds in the future.

Closed by 70fb5c4de.

[2015-04-07 16:17] uvchik commented on #49
Thanks

[2015-04-07 16:27] bmu commented on #47
I think this could be right, but I didn't used to do it this way. Time zone conversion was complicated before pandas, should be possible today for a user.

[2015-04-09 22:46] wholmgren commented on #2
Here's a list of the v1.2 Matlab project's functions that we're missing (from the 1.2 help page):

- [ ] pvl_louche - Estimate Direct Normal Irradiance from Global Horizontal Irradiance using the LOUCHE model
- [ ] pvl_orgill_hollands - Estimate Direct Normal Irradiance from Global Horizontal Irradiance using the Orgill and Hollands model
- [ ] pvl_erbs - Estimate Direct Normal Irradiance from Glo

[2015-04-10 06:05] bmu commented on #2
Maybe Anton could implement "his Inverter" ;-) @adriesse?

[2015-04-10 08:02] adriesse commented on #2
Sure.  What's the best way to publish a
      collection of model parameters?

      Anton

      On 2015-04-10 8:05, bmu wrote:

      Maybe Anton could implement "his Inverter" ;-) @adriesse?
      —
        Reply to this email directly or view
          it on GitHub.

[2015-04-10 16:41] wholmgren commented on #2
Thanks. I suggest a csv file in ``pvlib/data`` since this can be easily imported by pandas.

[2015-04-14 21:48] wholmgren commented on #15
@Calama-Consulting what can we do to help get this out? I would like to get through 0.2 before writing the PVSC paper, and I think that requires pushing 0.1 as soon as possible.

[2015-04-15 16:42] uvchik commented on #37
I prefer to use the common names like dni and ghi and beside that use systematic names like poa_diffuse, poa_global. But i could live with both variants.

I don't know how to bring about a decision.

[2015-04-15 18:25] wholmgren commented on #37
``tz`` and ``timezone``: There was a lot of discussion in #47 concerning how pvlib should handle time zones and/or time references. I believe that the conclusion is that it's ok to rely heavily on the pandas functionality and thus keep using the idea of timezones instead of inventing a new concept such as a ``time_reference`` (at least for now). So, we are back to deciding on ``tz`` vs ``timezone`

[2015-04-18 07:34] bmu commented on #37
English abbreviations are common even for non-native speakers (at least in Germany), I think. For the radiation names, the only really common names are GHI and DNI (or ghi and dni). `v_mpp`, `p_mpp` and so on, sounds good to me.

[2015-04-20 16:53] Calama-Consulting commented on #15
Hi Folks,

 Appologies for the delay on my end, I'm ready to push this out today, but want to confirm exactly which commit we want to mark as tag 0.1, and I'll take care of putting this up on pypi and conda.

[2015-04-20 17:41] wholmgren commented on #15
Great! I am good with tagging the current master as 0.1 or, if you have time for a quick PR review, after merging #51.

[2015-04-20 17:48] uvchik commented on #15
We mixed new features like spa_python (pvlib/pvlib-python@cc6a962) with bug fixes like pvlib/pvlib-python@70fb5c4. In future versions we should create a release branch a few weeks before the release date to separate bug fixes from new features.

For now I agree with @wholmgren to take the last commit (pvlib/pvlib-python@a50c8c6) or wait to integrate the pull requests (#50, #51).

[2015-04-20 19:53] Calama-Consulting commented on #15
Done with #51 , go ahead and pip install. Let me know if there are any issues, working on conda now

[2015-04-20 20:40] wholmgren commented on #15
I pip installed pvlib into clean Python 2.7 and 3.4 environments and ran the test suite. Everything is fine except for the failure in ``pvlib.test.test_pvsystem.test_retrieve_sam_network`` that is on all of our builds. I can download that file manually just fine, so I'm not sure what the issue is.

[2015-04-20 21:00] wholmgren commented on #15
Made the [0.1 docs](http://pvlib-python.readthedocs.org/en/0.1/). I forgot that we needed to update the 0.1 release date in the docs what's new section. So, we should change that in 0.2 (or 0.1.1?).

Just realized that I am the only admin for the readthedocs page. I tried to add @Calama-Consulting and @bmu but you don't seem to have rtd accounts. So, I recommend that you go ahead and make the acco

[2015-04-20 21:06] Calama-Consulting opened #52 "Include SAM files in distribution"
It looks like this is related to the downloads from the NREL website. When I tried to manually download the files, it took about a minute for the first download to happen (and it was fine after that). We might want to consider hosting the files locally? I'm not sure what the limitations are on that.

[2015-04-20 21:23] wholmgren commented on #52
The files total only 2 MB, so to me it doesn't seem like a big deal to include them along with the Linke turbidities and eventually the Driesse inverter database. This is what the Matlab version does too.

[2015-04-20 22:32] wholmgren opened #53 "git master/branch structure"
Now that we have our first release we need to make a decision regarding how to handle the git tree. This was discussed a bit in Sandia-Labs/PVLIB_Python/issues/33, and @uvchik brought it up in #15.

I always look first to copy IPython and/or pandas. The [ipython system](https://github.com/ipython/ipython/wiki/Dev%3A-GitHub-workflow) is roughly:

* ``master`` should be the next major release. Now t

[2015-04-21 18:29] Calama-Consulting commented on #52
I ran it again locally on my machine, and it worked fine. I also re-started the travisCI and we're now passing. So, I think this is fine for now. The advantage of pulling from SAM is that the database is always up to date, however a future addition might be to have a set of files included as a baseline to ensure that a user can use these algorithms without an internet connection, or if the website

[2015-04-21 20:11] wholmgren commented on #52
The links are actually to specific versions of the files (see [here](https://github.com/pvlib/pvlib-python/blob/fb7c1c6a2388b04102197825650a578b614a50c4/pvlib/pvsystem.py#L533)).

[2015-04-22 08:39] bmu commented on #15
I created an account on rtd, username bmu.

[2015-04-22 08:54] bmu commented on #53
I would prefer the pandas system (simply let `master` be the next release), because it is the most easiest. Pandas tags release candidates if they made bigger changes, before releasing the next major version. But I think up to now, this is not necessary for pvlib.

If we do so, the only thing we need to do after a release is to change `__version__` in `pvlib.version` to `<<next_release>>.dev` (`0.

[2015-04-22 08:57] bmu commented on #30
I changed the milestone to 0.2

[2015-04-22 08:58] bmu commented on #15
Can we close this issue?

[2015-04-22 09:18] bmu commented on #9
I think this is solved now, isn't it? So I would move it to the 0.1 milestone and close it.

[2015-04-22 10:22] uvchik commented on #53
For now, it might be enough to go on with the master branch and a few weeks before the release we branch a new 0.2-branch from the actual commit. Then we go on with developing the master. From this time bug fixes will be merged into the "master" and the "0.2" branch but new features will only be merged into the master branch. So we can make sure that the new version is stable. Then we release the

[2015-04-22 10:52] bmu commented on #53
Pandas has a much broader user base and uses a simpler workflow, so I don't think we need stable branches. We are free to create / tag a point release in case of a critical bug and as long as enhancements / new features are described in the release notes nothing is wrong, if they are included.

It is much easier to contribute if we use the simpler workflow (have a look at matplotlib, they have lot

[2015-04-22 14:42] #9 closed

[2015-04-22 14:46] wholmgren commented on #15
Yes, should we start a new one for 0.2? Wondering about the timeframe and scope for that.

[2015-04-22 14:46] #15 closed

[2015-04-22 14:49] wholmgren commented on #15
@bmu added you to the rtd project.

[2015-04-22 14:57] wholmgren commented on #17
@bmu and @Calama-Consulting do you support the proposal above or do you have other ideas for how to resolve this? I think is a high priority for 0.2 since it could impact the API in fairly significant ways.

@jforbess, sorry, just now realizing that I did not respond to your question regarding contributing. Does the [Development information wiki](https://github.com/pvlib/pvlib-python/wiki/Developm

[2015-04-22 15:00] wholmgren commented on #3
Suggest that we make this a 0.3 or beyond milestone since it requires a lot of collaboration. I think I've seen something like a "someday" milestone on some projects.

[2015-04-22 15:17] wholmgren commented on #29
Do we want to go forward with this for 0.2? I'm still concerned about scope and future maintenance. I don't regularly use these kinds of datasets, so I'm not a good judge of the tradeoffs. Wondering what @Calama-Consulting thinks of this.

Does ``pvsystem.retrieve_sam`` belong here too?

Not sure about naming. Technically the module would be named ``pvlib.<<something>>``, so shouldn't clashes shou

[2015-04-22 15:19] wholmgren commented on #42
Thoughts @bmu @uvchik @Calama-Consulting? Would like to resolve this before we add some of the other matlab functions.

[2015-04-22 17:21] uvchik commented on #15
Congratulation to all of us on our first release, but especially to the initiators and main contributors!

[2015-04-22 20:44] jforbess commented on #29
Agreed that future maintenance of dataset importing is an unknowable
effort.

I think the scope to consider here would be how to frame it so that someone
could easily make a reader for a common dataset and add it to pvlib,
because I don't think it makes much sense to make the readers in advance of
need, but it would be great to get people to contribute a good reader if
they found themself using So

[2015-04-22 22:50] wholmgren opened #54 "pvsystem.sapm_celltemp"
The ``pvsystem.sapm_celltemp`` function currently returns a dict ``{'tcell':tcell, 'tmodule':tmodule}``. I think it should return a DataFrame with the keys ``temp_cell`` and ``temp_module`` (as described in the [wiki](https://github.com/pvlib/pvlib-python/wiki/Variables-and-style-rules)).

I actually like the simplicity of the function parameter names here, but maybe they too should be changed.

[2015-04-23 06:19] bmu commented on #17
As mentioned by @jforbess I think that one often uses a lat/lon different from the TMY data. So I am not really sure, if it is a good idea to return the `Location` from the TMY reader. This may be different for other data sources, e.g. measurement data or satellite data.

A `System` or perhaps better a `PVSystem` class would be really nice. However I wouldn't derive it from `Location` because it i

[2015-04-23 06:34] bmu commented on #3
I have created the milestone (stolen from pandas ;-).

[2015-04-23 06:35] bmu commented on #42
Should be moved, I think.

[2015-04-23 06:37] bmu opened #55 "Release 0.2"
This issue is for discussion of the 0.2 release process.

[2015-04-23 06:39] bmu commented on #15
I added a new issue for 0.2.

[2015-04-23 06:40] bmu commented on #55
For now, the date of the 0.2 milestone is set to April 30 2015. However I think this is not realistic.
Any suggestions?

[2015-04-23 06:42] bmu commented on #17
My comment in #39 is possibly related (is it possible to link to a specific comment?)

[2015-04-23 06:47] bmu commented on #29
One way for possible new readers would be to define a specific pvlib format for input and than every reader can read data and converts it to this format.

[2015-04-23 06:48] bmu commented on #54
I think they should be changed.

[2015-04-23 06:50] bmu commented on #52
Is this resolved? I am trying to close the 0.1 milestone ;-)

[2015-04-23 08:05] bmu commented on #49
It doesn't work for me locally. I created a pull request to fix it, see #56.

I think the problem is, that autodoc can't find the modules (see the `ImportError` above, same here).
It may find it, if pvlib is installed, however one needs the modules from the current repository if you want to build the current documentation.

[2015-04-23 15:45] #49 closed

[2015-04-23 15:52] wholmgren commented on #52
Well, it's resolved in the sense that the test passes again, but there is still the question of if we should just include the files in the distribution. Another possibility is to remove this test from the standard test suite. Those all seem like 0.2 questions, though.

[2015-04-23 16:13] wholmgren commented on #55
Depends on if we want to keep everything currently labelled as 0.2. I think that 4 weeks a good amount of time to accomplish #2, #20, #30, #37, #42, #54, and #47. In addition, the testing issues should be at least partially addressed.

#29, #39, and #17 seem like they're going to require more thought and discussion to do well, so I think we'll need to limit the initial scope of those issues, label

[2015-04-23 17:05] wholmgren commented on #17
Thanks, those comments are a nice place to start the discussion.

It was pretty natural for me to think about ``PVSystem`` inheriting from ``Location`` since I always think about a PV system as being located somewhere on the globe. One place where this model breaks down is in indoor testing environments, for cells, modules, and small arrays. In any case, my real motivation was to inherit some of t

[2015-04-25 11:12] dacoex opened #59 "update link at pvpmc"
https://pvpmc.sandia.gov/resources-for-members/pv_lib-toolbox/

"Download the PVLIB_Toobox for Python (This sends you to an external GitHub site)"
at the bottom points to
https://github.com/Sandia-Labs/PVLIB_Python

[2015-04-25 11:20] dacoex opened #60 "doc: describe modeling steps"
Just to catch your options:

Would the documentation benefit from having a section, mapping the functionality against the typical modelling steps outlined in:
https://pvpmc.sandia.gov/modeling-steps/
https://pvpmc.sandia.gov/wp-content/uploads/2014/08/1199X499_slide2.png

If so, I would embark (slowly) on that.
It would help me and maybe others to understand the library.

[2015-04-25 11:40] dacoex opened #61 "add Shading, Soiling, and Reflection Losses"
These seem to miss on the environmental input side:
https://pvpmc.sandia.gov/modeling-steps/1-weather-design-inputs/shading-soiling-and-reflection-losses/

Maybe this meta issue can track this as mentioned in
https://github.com/pvlib/pvlib-python/issues/2#issuecomment-74643819

[2015-04-27 17:27] wholmgren commented on #59
@Calama-Consulting do you know who to contact at Sandia about changing this?

[2015-04-27 17:51] wholmgren commented on #60
Better linking to PVPMC would be very helpful, but we should avoid duplicating their effort. Better ipython notebook tutorials should be a priority too (see #30). I think we can make the equivalent of ``pvlib_functions_by_cat.html`` by modifying the sphinx scripts.

Would be happy to see some PRs for documentation.

[2015-04-27 17:57] wholmgren commented on #61
PRs for shading and soiling models are welcome. To my knowledge, this is not something that's currently in the Matlab project.

There are already two reflection loss functions: ``pvsystem.physicaliam`` and ``pvsystem.ashraeiam``. Did you want something different?

[2015-04-27 18:03] wholmgren commented on #52
The same test failed again, though in a slightly different way and for only one of the builds.

https://travis-ci.org/pvlib/pvlib-python/jobs/60250664

[2015-04-27 18:56] Calama-Consulting commented on #52
I think it would be worthwhile to include the files locally, I'm putting together a PR

[2015-04-28 20:12] dacoex commented on #60
OK. that's it. I will have a look at this someday ;-)

[2015-04-30 07:48] bmu opened #62 "Add examples to dostrings"
We should decide whether we want to add examples to the docstrings of the functions or not.
While (I think) examples are not included in every pandas object, they are in numpy. [numpydoc](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#docstring-standard) has an *optional* section for examples.

I would like to include examples and also I would like to use doctests.
For the m

[2015-04-30 18:47] wholmgren commented on #62
We definitely need more examples in the docs. I don't know if we need an example for absolutely everything, though. In any case, we probably will want to change the documentation formatting to 1 page per function.

I don't have any experience using ``doctest``, but I'm ok with trying it out. I would say that we should not rely on ``doctest`` for anything other than ensuring that the docs are up to

[2015-05-07 12:37] SheffieldSolar opened #63 "ValueError: Cannot cast DatetimeIndex to dtype int32"
In windows, receive an error using index.astype in solarposition.py line 284:

\>\>\> t = datetime(2014,1,1,12,0,0)
\>\>\> import pandas as pd
\>\>\> panda_t = pd.to_datetime([t,])
\>\>\> import pvlib
\>\>\> loc = pvlib.location.Location(53, -1.5, tz='UTC')
\>\>\> print pvlib.solarposition.get_solarposition(panda_t, loc)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  Fi

[2015-05-08 10:32] #63 closed

[2015-05-08 16:12] wholmgren commented on #63
Thanks @SheffieldSolar and @alorenzo175

[2015-05-11 23:01] wholmgren commented on #46
The new 0.16.1 pandas release has a new [Contributing to pandas](http://pandas.pydata.org/pandas-docs/stable/contributing.html) page. It's really good. I still think we should have a small wiki, but I'll add and emphasize links to this.

[2015-05-12 17:39] jforbess commented on #47
I just discovered that pandas doesn't seem to behave well in one situation: I have data from PVsyst (no DST) that I am trying to load into pvlib to compare to a pvlib model. I am trying to align the timestamps, but pandas doesn't seem capable of localizing timestamps without applying DST. (I'd like to just specify UTC-5, instead of 'US/Eastern'.) I asked a question about this on [stackexchange] (h

[2015-05-12 17:53] wholmgren commented on #47
I think you want to localize with ``'EST'`` or ``pytz.FixedOffset(-5*60)``.

I suppose I should finish writing the [pvlib timezone tutorial](http://nbviewer.ipython.org/github/wholmgren/pvlib-python/blob/tzs/docs/tutorials/timezones.ipynb).

[2015-05-12 18:49] jforbess commented on #47
I checked 'EST', and it still applied the UTC-4 to the periods between March and November, but the pytz.FixedOffset worked great. I had something in mind like that, but couldn't quite figure out how pytz and tz_localize interacted. Thanks!

[2015-05-26 16:38] wholmgren opened #66 "PVSC 2015 paper and poster"
A few of us are writing a paper/poster for PVSC 2015, and we need your help to make it better. The main purpose of this paper/poster is to advertise the ``pvlib-python`` project to a large audience. This will hopefully attract more users, testers, developers, and maybe eventually some institutional support.

For the poster, we would like to showcase how ``pvlib-python`` is being used in your appli

[2015-06-17 15:09] #66 closed

[2015-06-19 16:14] wholmgren commented on #55
We got a lot of positive feedback on the project at PVSC. The most common issue was installation, especially for new users on Windows. I want to capitalize on whatever extra interest we get out of PVSC, so, I'd like to resolve the easier issues and then release 0.2 with a conda package on Monday or Tuesday. I am going to devote some time today and over the weekend, and then we'll go with whatever

[2015-06-20 00:58] wholmgren commented on #55
I went ahead and made conda packages for 0.1 and updated the readme. Here's the process that I stumbled into https://github.com/pvlib/pvlib-python/wiki/Release-procedures

[2015-06-21 08:22] #20 closed

[2015-06-21 08:33] bmu commented on #55
I can have a look at your PR's and merge them. However, I have to focus on my PhD in my spare time and it seems, that I won't get any working time to contribute to pvlib. So my own contribution will not be to much. Maybe we can shift some 0.2 issues to "someday" and release it as it is. I will start for some of "my" issues.

[2015-06-21 16:59] wholmgren commented on #55
Great thanks @bmu.

[2015-06-21 17:08] wholmgren commented on #53
For now, we're going to follow the Pandas model, but we may revisit this discussion when pvlib graduates to 1.0.

[2015-06-21 17:08] #53 closed

[2015-06-21 17:14] wholmgren commented on #52
I'm going to push this to 0.3.

[2015-06-21 17:36] wholmgren commented on #47
@bmu @jforbess I reread this thread and I'm not sure what, if anything, is needed to close this issue. Can we resolve it with better documentation or do we need to change the code?

[2015-06-21 17:58] jforbess commented on #47
I think there were two potential actions:

1) Require timestamped data to be localized. I don't know that we agreed
whether this was a good requirement or not. I view it as moderately
positive, because it will force all handling of timezones to be clearer.
But a potential drawback is when I somehow find myself using a Central
timezone for data in an Eastern location because of how the data was
cap

[2015-06-21 19:27] wholmgren commented on #46
I renamed the *Development information* wiki to *Contributing to pvlib python* and rewrote some of the text. I hope we can get some other people to add-to/clarify the wiki in the future, so I'm going to leave this open for 0.3. I think @jforbess's perspective would be helpful here. I found it hard to strike a balance between high-level overview with links as opposed to detailed instructions.

[2015-06-21 19:32] wholmgren commented on #29
I'm still interested in this but will leave it the community to resolve. It gets a "Someday" milestone until somebody expresses interest in resolving it.

[2015-06-21 20:46] NelisW opened #69 "IPython notebooks update"
I have started work on bringing the notebooks in line with the latest code.

The first thing I ran into was the issue of versions.  Is the following ok with your versions?

Python	2.7.8 32bit [MSC v.1500 32 bit (Intel)]
IPython	3.0.0
numpy	1.9.2
scipy	0.15.1
matplotlib	1.4.3
pandas	0.15.2
pvlib	0.2.0dev

[2015-06-21 22:57] wholmgren commented on #69
Great, we really need help improving the tutorials. I think that we especially need good some good library-level tutorials (as opposed to the existing module-level tutorials).

Not sure the exact issue is. Are you asking what versions the tutorials should already work with or what versions the tutorials should be made compatible with or something else? In any case, there's not currently a standard

[2015-06-21 23:08] wholmgren commented on #37
Made some small updates to the wiki. We'll go with @jforbess's abbreviated names.

[2015-06-22 04:19] NelisW commented on #69
Hi Will - thanks for your efforts and keep up the good work!

I just only started yesterday with PV. I want to install a PV system in my home and want to make sure that it makes financial sense.  We are only going to stay on five to eight years in this home before moving to the coast - so I want to understand in some detail what benefit the system will have to me over the next few years.

I come f

[2015-06-22 16:02] jforbess commented on #69
Nelis, it's great to have you join pvlib.

http://irena.masdar.ac.ae might have the solar data you need, though I find
the site pretty unintuitive, and focusing on mapping annual averages rather
than providing hourly data. I haven't dug very far in.

It may be bad form to suggest other solar tools right here, but I would
recommend SAM (http://sam.nrel.gov) as a good point of reference for a
modeli

[2015-06-22 16:25] wholmgren commented on #37
Added more parameters. I'm open to last-minute appeals for cell/module parameters: ``Voc`` vs. ``voc`` vs. ``v_oc`` or ``Rs`` vs. ``rs`` vs. ``r_s`` etc. The only thing I don't like is ``V_oc`` since that requires using the shift key twice.

@jforbess you previously had a strong opinion about ``e_*`` for irradiance names. What about for effective irradiance?

[2015-06-22 16:55] wholmgren commented on #69
Thanks Nelis. I never considered an individual homeowner as a use-case for pvlib, but I'm glad to hear of it. It would be great to see an IPython notebook for that. I agree with @jforbess's suggestion to check out SAM.

Your radiometry tools look nice and I'm going to dig into them further once we get 0.2 released. Good spectral correction tools would be a very nice addition to pvlib and could rea

[2015-06-22 17:20] bmu commented on #69
Another option is [PVGIS](http://re.jrc.ec.europa.eu/pvgis/apps4/pvest.php?map=africa), which is very simple, but gives a good indication, what you can expect. But I also think, a pvlib notebook for such a case would be nice.

[2015-06-22 17:21] Calama-Consulting opened #71 "Reference or incorporate PyRTM"
PyRTM contains functional python wrappers for SMARTS and SBdart, and is capable of modelling spectra in clear-sky and cloudy conditions. This would be a great set of functionality to incorporate into PVLIB.  It could be a good project to either integrate the whole code base into the pvlib project (I was involved in the PyRTM project, and I think this would be great). Or, it might we worthwhile to

[2015-06-22 17:28] #42 closed

[2015-06-22 17:29] Calama-Consulting commented on #69
Nelis, nice to have you on board! For the conversation on spectral integration, I just added some info on a package I worked on a while ago in #71 , I'd be interested in hearing your comments for improvements and integration in that thread! Your pyradi package is outstanding, and your tutorial notebooks are now the tools I will be using to draw new folks into python.

[2015-06-22 17:33] bmu commented on #47
I agree with @jforbess in both points. But I think we can shift both of them to a later release.

[2015-06-22 17:42] jforbess commented on #37
I prefer poa_beam_eff, rather than eff_poa_beam, if that's the question. I
haven't thought hard about how it flows through modeling, but I would want
access to poa adjusted for shading, soiling, IAM, and spectrum each
individually for model development, don't you think? Not sure if you
consider shading and soiling as appropriate to adjust poa in this way,
because I think it makes some sense physic

[2015-06-22 17:50] raphaelvarieras commented on #32
Hey all, I'm new to this repository. I did quite a bit of work on tracker algorithms when I was at Solaria/Nextracker and would be happy to be able to contribute. I created this framework in which all tracker systems are essentially just subsets of a hypothetical three-axis tracker with the three Euler angles.

[2015-06-22 17:54] wholmgren commented on #37
Sorry, I was thinking of it in the context of the SAPM's effective irradiance parameter.

[2015-06-22 18:04] wholmgren commented on #32
Welcome. That sounds interesting. Do your algorithms include backtracking? Any IP/license issues?

[2015-06-22 18:14] raphaelvarieras commented on #32
Yes, I implemented horizontal backtracking for all tracker azimuths if I remember well. I did not do it for tilted tracker, azimuth or dual axis. No IP/license issues that I know of but I will double-check.

[2015-06-22 19:27] wholmgren commented on #71
Looks interesting. Some thoughts on PyRTM and the broader topic:

I would like to understand some of the pluses and minuses of the many models on https://en.wikipedia.org/wiki/Atmospheric_radiative_transfer_codes for our application. Can anybody point me to some good literature? @Calama-Consulting's referenced paper says that SBDART is simple. @NelisW uses MODTRAN, which does not appear to be open

[2015-06-22 19:47] dacoex commented on #69
@NelisW

The closes to SA I know off my head:
http://www.crses.sun.ac.za/files/research/publications/technical-reports/GeoModelSolar_SolarResRep_58-01-2011_Upington_rev2.pdf

Not quite Gauteng but...

[2015-06-22 20:06] Calama-Consulting commented on #71
Here is the selection process that we went through, as I remember it. I'll say up front that this wasn't an exhaustive search, but there was some rationale behind it:

* **SMARTS** widely used in the solar industry, and well validated. Downside is that it does not model clouds
* **MODTRAN** very heavily validated, but not open source. This is the tool against which all other tools are measured. Th

[2015-06-23 02:25] wholmgren commented on #59
Josh Stein updated the link today.

[2015-06-23 02:25] #59 closed

[2015-06-23 17:42] NelisW commented on #69
Hi All!
Really nice to receive such warm welcome - must be the sun in your PVs!  Thanks!!

thanks for your hints and suggestions for models and data sources, I followed up and found a university network http://www.sauran.net/. The data does not go back a long time but is quite useful for my purpose.

PyRTM & SMARTS: I haven't used SMARTS before, done most of my work in Modtran. But yes, I should b

[2015-06-23 17:43] NelisW commented on #69
Thanks to all with the feedback (within 48 hours!) we can now close this one.

[2015-06-23 17:43] #69 closed

[2015-06-23 18:28] NelisW commented on #71
I agree with @Calama-Consulting on Modtran. It is somewhat expensive, hard to use, HUGE, and the licence prohibits secondary distribution in any form.  My idea would be to do what SMARTS already seems to do: package reference atmospheres (which I could pre-calculate using Modtran). But since SMARTS already do this, there is little point in doing this.  It would make much more sense to integrate SB

[2015-06-24 00:00] wholmgren commented on #71
I stumbled across this PyRRTM package but I haven't looked at it closely: https://github.com/tomflannaghan/pyrrtm

[2015-06-24 18:54] wholmgren opened #72 "singlediode and I_from_V do not work on Linux/Scipy 0.15/Python 3.4"
There appears to be a problem with the conda scipy package for Python 3.4 on linux. This impacts us because we use the ``scipy.special.lambertw`` function when calculating IV curves. See more:

https://github.com/ContinuumIO/anaconda-issues/issues/243#issuecomment-114977264

http://stackoverflow.com/questions/30792319/anaconda3-scipy-special-lambertw-function-return-nan

[2015-06-24 23:59] wholmgren commented on #72
works if you ``$ conda install numpy=1.8 scipy=0.14``

[2015-06-25 01:57] wholmgren commented on #72
Does not work if you install numpy 1.9.2 and scipy 0.15.1 via pip, so this isn't just a conda problem. However, I thought that conda was supposed to prevent these kinds of conflicts from happening.

[2015-06-25 04:05] wholmgren commented on #36
@bmu are you ok with this going to 0.3?

[2015-06-25 04:17] wholmgren commented on #47
Ok, thanks for the clarification. I am going to mark this issue as 0.3 and think about it again after this release is out.

[2015-06-25 05:44] bmu commented on #36
sure

[2015-06-25 22:57] wholmgren commented on #30
I'm going to mark this 0.3 since I'm not sure what should be ported into new or existing notebooks and what should be put into the docstrings and sphinx documentation.

[2015-06-26 02:55] wholmgren commented on #72
I'm resolving this by just saying don't use that combination. We could try to make a smarter install script, but if people are using linux then they can probably figure it out for themselves and they probably have a higher tolerance for this kind of bs.

[2015-06-26 02:55] #72 closed

[2015-06-26 02:57] wholmgren commented on #72
Should note that #70 adds a test that fails with this combination and adds a hack to the travis config file so that the tests are run on numpy 1.8 and scipy 0.14.

[2015-06-30 18:47] raphaelvarieras commented on #32
No IP/license issue confirmed. Should we have a quick call to talk about this?

[2015-06-30 20:05] wholmgren commented on #32
Great. I would prefer to keep things as open on github as possible, though if necessary we can arrange a call if you email me at william.holmgren@gmail.com

Some questions to get started:
* Have you looked at the existing single axis tracker algorithm in tracking.py?
* Do you propose to replace that function entirely or add a new one?
* Have you tested the algorithms against each other?
* Would th

[2015-06-30 20:23] raphaelvarieras commented on #32
No worries - I just didn't want to burden the repository conversation with matters of branching protocol and things like that...

To your questions:
* Yes, seems pretty straightforward
* I think it would be a good idea to create a new one and being able to compare
* I ran a lot of test back in the days but haven't compared with the current one
* If I remember correctly, I had created a vector clas

[2015-06-30 21:26] wholmgren commented on #32
Ok, I would suggest throwing together the basics and submitting a pull request before you get too far. Have you seen the Contributing wiki?

https://github.com/pvlib/pvlib-python/wiki/Contributing-to-pvlib-python

Let us know if something isn't clear there so that we can improve it (or edit it yourself).

[2015-07-02 19:46] wholmgren opened #73 "add zenodo doi to readme, add preferred citation(s) to readme and docs"
@Calama-Consulting and I discussed creating DOIs for pvlib releases. I just hooked up our repo to [Zenodo](https://zenodo.org) so that it will automatically create DOIs for each release. I'll add the badge to the Readme after we release 0.2.

To test the system, I rereleased the [PVSC 2015 repo](https://github.com/pvlib/pvsc2015) to trigger the DOI creation and then I added the new badge. It takes

[2015-07-05 16:16] #54 closed

[2015-07-05 16:19] bmu commented on #37
I think this issue can be closed. The last one for 0.2 so far.

[2015-07-06 01:31] wholmgren commented on #37
I'll close it with the expectation that it will be reopened or a similar issue will be created for undiscovered inconsistencies.

[2015-07-06 01:31] #37 closed

[2015-07-06 01:52] wholmgren commented on #55
Ok, my suggestion is that we go forward with the 0.2 release. We can make a 0.2.1 with tutorial improvements if @NelisW, @Calama-Consulting, or myself find the time.

[2015-07-06 01:55] wholmgren commented on #55
@Calama-Consulting can you upload to PyPI if you think we're ready? I updated the whats new date and the version.

[2015-07-08 16:26] wholmgren commented on #55
Closed by 263c90ef26

[2015-07-08 16:26] #55 closed

[2015-07-08 16:27] wholmgren commented on #73
Added the v0.2.0 DOI. I will leave this open for a citation discussion.

[2015-07-09 18:23] wholmgren commented on #30
I've had a lot of offline feedback that broken tutorials a big problem and I'd like to do a 0.2.1 release with updated tutorials. I don't plan to make them read any better, just get them to the point that they can run end-to-end without exceptions. #69 is also relevant to this.

[2015-07-10 00:47] jforbess opened #75 "New SAM csv files available"
SAM just released new equipment CSVs dated 2015-06-30. Not sure if there is a better fix for the retrieve_sam function than just to update the URL. Probably worth updating for 0.2.1.

[2015-07-10 00:56] jforbess commented on #75
Also, they are in a slightly different format. Of course.

[2015-07-10 01:13] wholmgren opened #76 "fix perez option in total_irrad function"
The Perez option in ``total_irrad`` does not work due to the fact that the airmass keyword argument was changed in the last release.

[2015-07-10 01:18] wholmgren commented on #75
Thanks for pointing that out. I agree that this should be fixed in 0.2.1. Can you make the fix and pull request?

[2015-07-10 05:47] jforbess commented on #75
Yes, I'll do it this weekend.

On Thu, Jul 9, 2015 at 6:18 PM, Will Holmgren <notifications@github.com>
wrote:

[2015-07-11 13:26] NelisW commented on #30
Will try to help here. My take on the Sphinx vs notebook issue is that personally I prefer a worked example to get up to speed first and then dig into the API-level docs. Trying to get into a new product just by reading the API docs is just too hard. So, let's fix the notebooks first.

[2015-07-12 18:46] NelisW opened #79 "tmy_to_power commited? could not find it"
I have great difficulty with this upstream - pull request thing.  I spend more time correcting mashups than doing worthwhile coding.

Perhaps the tmy_to_power notebook was committed, but I did not find it after fetch upstream & merging to my branch. Test_Scripts is still there.

[2015-07-12 19:02] wholmgren commented on #79
Not yet, it's still in PR #74. We have a policy of administrators not merging their own pull requests.

If you're using the command line interface you can get it by doing something like

[code]

If you're using the github GUI client then you can lookup how to add my fork as a new remote.

[2015-07-12 19:02] #79 closed

[2015-07-12 19:53] #76 closed

[2015-07-12 20:53] #30 closed

[2015-07-16 19:26] wholmgren commented on #75
Closed in #80

[2015-07-16 19:26] #75 closed

[2015-07-27 11:38] dacoex opened #82 "docs: wiki page to docs"
Hello,
should this page not be added to the docs itself?

https://github.com/pvlib/pvlib-python/wiki/Projects-and-publications-that-use-pvlib-python

[2015-07-27 17:23] wholmgren commented on #82
I thought that more people would add their projects to the wiki than would submit pull requests for the docs. What's the argument for putting it in the docs?

[2015-07-27 17:48] cbirkj opened #83 "pvsystem.py - no continuous IV curve data"
The singlediode function, located in pvsystem.py, does not have the capability to return continuous current and voltage values.  I have modified the code to include a loop:

si = np.ones((NumPoints,1))
sv = np.linspace(-1,1,NumPoints)
if NumPoints >= 2:
    	for i in range(NumPoints):
    		V[i,:] = Voc.values * sv[i]
    		I[i,:] = I_from_V(Rsh=Rsh, Rs=Rs, nNsVth=nNsVth, V=V[i,:], I0=I0, IL=IL)

[2015-07-28 20:59] wholmgren commented on #83
Thanks, Birk.

I'm not sure how to best construct the API for this. I removed the ``kwargs``, and thus ``NumPoints``, from the from the ``singlediode`` function in the 0.2 API refactor. One approach is to use two different functions, one for labelled points and one for arbitrary points. What are you returning from the function? A dataframe and, optionally, a series? You could just embed the whole

[2015-08-20 07:40] dacoex opened #84 "Tutorilal: system modeling"
NOTE: no bug but clarification question.

Reading the tutorials is is unclear how inverter connections are defined and the power of a whole PV system of more than 1 string is calculated.

The notebook shows that 1 module is picked and then DC power calculated.
http://nbviewer.ipython.org/github/pvlib/pvlib-python/blob/master/docs/tutorials/tmy_to_power.ipynb#DC-power-using-SAPM

But the next step

[2015-08-21 15:23] wholmgren commented on #84
Feel free to make PRs with improved tutorials.

[2015-08-21 15:24] #82 closed

[2015-08-21 20:12] dacoex commented on #84
Well, that was the purpose of my comment: I am not really sure how it is done with pvlib.

Although I could see the potential applications already.

[2015-08-25 18:31] wholmgren commented on #84
There is currently no standardized way to do something like that in pvlib. Would be nice to see development in that direction.

[2015-08-25 21:32] dacoex commented on #84
Ok, so it means that your application of pvlib is rather for forecasting. There, single system is not that important but rather an upscale get of the typical behaviour, right?

My focus would be more system analysis.

Back to the topic: so the 30kW inverter would be simulated with a, say a number of 138 modules of 260Wp totalling to about 36kW.

So in section
http://nbviewer.ipython.org/github/pvl

[2015-08-25 21:52] jforbess commented on #84
Yes, I have put together a dict that I use that expands the systemdef, and
perhaps it is time to wrap it into the systemdef dict, because it is pretty
unhelpful to define how many modules you have if you don't define which
kind of modules they are, or what kind of inverter you are using.

One more item on the todo list.

On Tue, Aug 25, 2015 at 2:32 PM, Data & Code Expert Experimenting with Code
o

[2015-08-25 21:53] jforbess commented on #84
My dict isn't anywhere to be found in the pvlib code, in case it wasn't
clear.

On Tue, Aug 25, 2015 at 2:52 PM, Jessica Forbess <jforbess@gmail.com> wrote:

[2015-08-26 00:18] wholmgren commented on #84
Realistic system level modeling in pvlib needs expert help. I don't have the time or the expertise to do it right. There is discussion in #17 and #39 that is relevant.

And yes, upscaling small, idealized systems is fine for forecasting applications.

[2015-08-26 11:40] dacoex commented on #84
@jforbess
Would it be possible to see a demo of your dict in a notebook?

Sure. But what I like about the lib is that it can help to understand inner workings of the system well.
So we could add a joint notebook of all interested in that part.

An example might be what statsmodels team did (https://github.com/statsmodels/statsmodels/). They'd compared their models & results with existing and estab

[2015-08-26 14:28] jforbess commented on #84
I would be happy to share, once I clean it up from work I have done for a
client. Next week might be a good time for me to do that. Please feel free
to ping me again if it hasn't happened by Sept 8.

On Wed, Aug 26, 2015 at 4:40 AM, Data & Code Expert Experimenting with Code
on Data <notifications@github.com> wrote:

[2015-08-26 19:51] jforbess opened #85 "Inverter model supporting temperature derate?"
The snlinverter doesn't support an adjustment for temperature derating. My experiments with implementing it after the fact show a gap due to the way the coefficients define the curve to the maximum output, Pac0, which changes based on temperature.

I saw that in issue #2 there was a request for a new inverter model. Does that model support temperature derate, or should I work on defining an snlinv

[2015-08-26 22:59] wholmgren commented on #85
I have wanted this as well, though I have no expertise in the area. I agree that it should be separate from the snl inverter implementation.

[2015-09-08 20:50] wholmgren commented on #84
@jforbess looking forward to seeing your ideas

[2015-09-08 21:27] wholmgren opened #86 "add forecasting tools to pvlib"
Hello fellow pvlib-ers,

I've found some funding to develop open source solar power forecasting tools based on pvlib python and US weather models. EPRI and Southern Company will fund a U. Arizona grad student, Derek Groenendyk, (@MoonRaker) to do the majority of the work this fall semester, though I will work closely with Derek on the project and I will maintain it in the future. The hope is that

[2015-09-09 19:28] jforbess commented on #86
Wow. Open source forecasting sounds great. I believe it will be a definite
advantage to some pvlib users, so I view it as reasonable to include in the
pvlib-python umbrella, but others may have a different view.

I really need to dust off the pvsystem config work. Friday?

On Tue, Sep 8, 2015 at 2:27 PM, Will Holmgren <notifications@github.com>
wrote:

[2015-09-14 15:49] wholmgren opened #87 "test against python 3.5, pandas 0.17"
Python 3.5 was released yesterday (Sep 14, 2015) and Pandas 0.17 is scheduled to be released sometime this week. I'll add them to the travis build matrix later this week. I don't expect any problems.

[2015-09-18 06:05] bmu commented on #86
Would be nice to have something included in pvlib. However, if this project is mostly focussed on collecting meteorological data for the forecast (pv modelling may be only a small part of it) it may be a good idea to add it as a separate project under the pvlib organisation.

[2015-09-22 17:22] dacoex commented on #84
see also:
https://github.com/oemof/feedinlib

[2015-10-10 19:51] wholmgren commented on #87
Pandas 0.17 is now out, so I'm back to trying to make this work. There are no new real code compatibility problems introduced by Pandas 0.17 and Python 3.5, but there are new packaging problems.

* The Linux/Python3/SciPy issue #72 continues to exist on the most recent versions of those packages. On Python 3.4, you could hack around it by downgrading the numpy and scipy builds, but this is not eas

[2015-10-11 20:58] jforbess commented on #87
Seems reasonable to drop python 3.3, given the development level of pvlib,
and the ability to use virtual environments if absolutely necessary.

(Speaking as someone who prefers to not update until forced, but recognizes
the value of being pushed to upgrade somewhat regularly.)

On Sat, Oct 10, 2015 at 12:51 PM, Will Holmgren <notifications@github.com>
wrote:

[2015-10-25 18:33] wholmgren opened #89 "make logging calls more efficient"
I recently learned that I've been using the ``logging`` module incorrectly. The problem is that I've been using the pattern

[code]

Regardless of the logging level, ``numbers`` will be formatted into a string. This is because the string formatting is part of the input to the logging function, so it happens before the logging module has a chance to decide if it actually needs to do the conversion

[2015-10-25 21:09] wholmgren commented on #17
Thanks to @jforbess for creating a new tutorial in #88 and making me think about this again.

In the spirit of retaining the low-level, mostly non-object-oriented nature of pvlib, I think that we should could expand the definition of ``system_def`` to be "a general place to put crap about your PV system". If you use key words from the pvlib name list, then it will work when you ``**system_def`` in

[2015-10-26 18:51] wholmgren opened #91 "Release 0.2.2"
I propose that we create a minor release that:
* Adds Python 3.5 support (#90 #87).
* Makes the logging calls more efficient (#89).
* Has a minor doc fix (#81).
* Minor notebook fixes (#94).
* Refactor ``clearsky.ineichen`` (#95).

I will do this on Thursday or Friday unless I hear objections.

I am open to including @jforbess's tutorial (#88) in the release but would not do so without further dis

[2015-10-27 17:11] #87 closed

[2015-10-28 18:59] #89 closed

[2015-10-29 18:58] wholmgren commented on #17
I forgot that ``clearsky.ineichen`` also takes a ``Location`` object as an argument. The same changes would be applied here.

Current:

[code]

Proposed:

[code]

[2015-10-29 22:28] jforbess commented on #17
I meant to respond to your earlier thoughts about this, but time slipped
away.

I definitely agree that Location doesn't seem to be an especially useful
object, and that a dict makes more sense. I need to do a bit more research
on the links you provided, because I think I am glossing over some of the
value of the different ways to abstract this.

On Thu, Oct 29, 2015 at 11:58 AM, Will Holmgren <no

[2015-10-30 18:49] wholmgren commented on #17
It's been long enough now that I've had to remind myself of why things are the way they are. I figured that I might as well put it the results here...

The Matlab toolbox uses location structs in a few places, e.g.:

https://github.com/Sandia-Labs/PVLIB_Matlab/blob/master/PVLIB/pvl_makelocationstruct.m

https://github.com/Sandia-Labs/PVLIB_Matlab/blob/master/PVLIB/pvl_clearsky_ineichen.m

https://

[2015-11-03 11:21] dacoex commented on #84
@jforbess
The tutorial looks good:
http://nbviewer.ipython.org/github/jforbess/pvlib-python/blob/Issue84/docs/tutorials/system_loss_modeling.ipynb

I wonder if this effort is doing the same as here in:
https://github.com/oemof/feedinlib/blob/master/example/feedinlib_example.py#L134

For reference:
https://github.com/pvlib/pvlib-python/pull/88
https://github.com/jforbess/pvlib-python/blob/Issue84/d

[2015-11-03 16:46] wholmgren opened #95 "move linke turbidity lookup out of clearsky.ineichen"
I'd like to move the Linke turbidity look up code out of ``clearsky.ineichen`` and into its own function. The ``clearsky.ineichen`` API can remain the same, and it can call the new function to automatically pull in the turbidity data. Two advantages: you can easily access the turbidity data that is driving your pv models, you can cache the result so that you don't have to read and process the file

[2015-11-03 17:22] cwhanse commented on #95
I agree. There are other data sources for turbidity and it would be useful to have the option to supply turbidity as input to the Ineichen (or other) models.

Cliff

Sent from my iPhone

On Nov 3, 2015, at 9:46 AM, Will Holmgren <notifications@github.com<mailto:notifications@github.com>> wrote:

I'd like to move the Linke turbidity look up code out of clearsky.ineichen and into its own function. T

[2015-11-05 05:26] bt- opened #96 "Energy Production Modeling and Provenance"
I think this belongs as its own issue for discussion, but it is closely related to the conversation around #88 and #17.

I am new to PVLIB, contributing to projects on Github, and the scientific python stack, but I do have experience working with other PV energy production modeling software (Helioscope, PVsyst, and SAM).

One issue that I've encountered when working with these programs is keeping

[2015-11-05 16:59] wholmgren commented on #96
I'm only a 1/4 of the way through my coffee this morning, but it's not really clear to me what you're asking for here. For pvlib specifically, are you asking for something similar to #60?

I agree that using pvlib (or specific versions/commits of pvlib) and git can help make your modeling more reproducible. They don't solve everything, though. IPython notebooks are horrible for version control (se

[2015-11-05 18:26] bmatthiss opened #97 "Small typo in irradiance.py"
The 'klucher' model is named 'klutcher' in the irradiance.py model selection (line 379).

[2015-11-05 18:47] wholmgren commented on #97
Thanks for pointing this out. Would you like to make a pull request with the fix? I think that the last part of the IPython notebook ``irradiance.ipynb`` may also need to be updated, though I have not checked.

[2015-11-06 22:17] dacoex commented on #96
@bt- I agree that this is a good idea. Maybe even add Docker?

This a rather a documentation item.

[2015-11-10 12:24] dacoex commented on #17
Commenting on:
https://github.com/pvlib/pvlib-python/issues/17#issuecomment-152287032

It seems that ```Location``` and ```PVSystem``` as object will have quite some overhead:

* write the function
* insert the function call to the 2 objects above (and not forget it)

Is this correct?

What would be the benefit?

Would it allow me to have systems that inherit some parameters (tilt angle) while cha

[2015-11-10 16:52] wholmgren commented on #17
No. There are two classes, but one inherits from the other. You write the module level function and then you add a function to the appropriate class. Whether or not this is a significant overhead is relative to the benefits/drawbacks of maintaining both procedural and object-oriented code.

[2015-11-10 21:16] dacoex commented on #17
Yes, that's what I meant.

So with the object code one would be able to calculate some default settings for the ```PVSystem``` class such as the optimum tilt angle as default etc?

[2015-11-10 21:23] wholmgren commented on #17
If you add that functionality to the object code, then it would be able to do that. There is nothing stopping you from writing an optimizer using the procedural code either. The object code would just be a different way of interacting with pvlib.

[2015-11-10 21:26] cwhanse commented on #17
Yes to calculating defaults in general but no for your example – optimum is usually defined by maximizing annual energy, which will depend on weather, shading, etc., that aren't properties of the PV system.

I never liked the Location structure in Matlab PV_LIB, just for the record.

[2015-11-10 21:27] dacoex commented on #17
@cwhanse so would you propose sth. different than @wholmgren ?

[2015-11-10 21:29] cwhanse commented on #17
I don't know what sth is.

[2015-11-10 21:34] dacoex commented on #17
something

[2015-11-10 21:45] wholmgren commented on #17
Thanks @cwhanse. That is very helpful to hear. After working on #93 last night I am leaning towards suggesting that it be removed entirely from the Python version.

[2015-11-10 21:45] cwhanse commented on #17
Ah.  No I would not.

In the PV_LIB Matlab context the Location structure served only to pass three arguments (lat, long and altitude) with a single variable.  The shortcut didn't seem worth the bother of having a structure.  When there's many variables that have to stay together (like coefficients for a PV module model, or a  measured IV curve) then a structure made sense.

[2015-11-10 22:19] wholmgren commented on #17
I think that we may actually be in agreement so let me try to clarify.

The half-baked code that I'm showing in #93 introduces a new ``PVSystem`` class that currently inherits all of the ``Location`` class attributes and methods. The idea of the ``PVSystem`` class is to provide a formal container like the one you say makes sense (I think). I'm now thinking that this ``Location --> PVSystem`` class

[2015-11-10 23:11] jforbess commented on #17
I have always been confused as to the value of Location as a special object
beyond the rest of the PVsystem, and would rather consider lat, long, and
altitude as simply required attributes of a PVsystem. I know we talked
about its value for a few functions, but as I will never model a clear sky
without some PVsystem to go along with it, it doesn't seem useful to me.

So I am currently on board wit

[2015-11-10 23:12] cwhanse commented on #17
If I understand this correctly, you are now thinking that data that are intrinsic to a location (latitude, longitude, weather) will be subordinate to a PVsystem?

I think the two (PVsystem and Location) would be better separated.  What if one was trying to optimize a design for a particular site, and wanted to “loop” over many PV systems?

But what I know about object-oriented code can be summariz

[2015-11-10 23:14] cwhanse commented on #17
I frequently run parts of the PV modeling sequence, including clear sky models, for purposes other than calculating power.  For example, to investigate the quality of satellite irradiance data.  I understand jforbess’ point, just a thought that there are broader uses for this code.

From: jforbess [mailto:notifications@github.com]
Sent: Tuesday, November 10, 2015 4:11 PM
To: pvlib/pvlib-python
Cc:

[2015-11-10 23:17] dacoex commented on #17
Agree, also loop the same system through different sites.

[2015-11-11 13:31] dacoex opened #99 "doc: add tutorial to convert input ts to tilted"
Say you receive a ts that includes

*ghi*

or

*ghi, dhi, dni*

would be nice to demonstrate how to convert the values to poa_global.

It would be complementary to the  existing or a variation thereof:
https://github.com/jforbess/pvlib-python/blob/master/docs/tutorials/tmy_and_diffuse_irrad_models.ipynb

[2015-11-11 16:14] wholmgren commented on #99
I don't understand your proposal. Plane of array calculations are documented in the tutorial you linked to, the [irradiance.ipynb](https://github.com/pvlib/pvlib-python/blob/master/docs/tutorials/irradiance.ipynb) notebook, and the [documentation](http://pvlib-python.readthedocs.org/en/latest/pvlib.html#pvlib.irradiance.total_irrad).

Feel free to create a pull request with improvements.

[2015-11-11 16:14] #99 closed

[2015-11-11 16:46] wholmgren commented on #17
These are good points. I don't know if there is a right answer to these problems.

Some more half-baked ideas to consider:
* Allow ``latitude`` and ``longitude`` to be optional arguments to a ``PVSystem`` object, but keep its ``Location`` inheritance.
* Make ``PVSystem`` a totally separate idea from a ``Location``. @bmu [discussed this](https://github.com/pvlib/pvlib-python/issues/17#issuecomment-

[2015-11-11 17:09] wholmgren commented on #17
Here's one way to loop over locations using the third idea in my previous comment.

[code]

[2015-11-11 17:11] #95 closed

[2015-11-11 18:25] bmu commented on #17
From my point of view it is still the best idea to have a separated `Location` and `PVSystem` class without inheritance as I think they have nothing in common.

The `Location` class should handle and simplify all details on he location but also all meteorological data, (horizontal) irradiance, clear-sky, temperatures...
Maybe the location class could contain a `data` attribute, which is a `DataFra

[2015-11-11 19:01] cwhanse commented on #17
I agree

 Maybe the location class could contain a  data  attribute, which is a  DataFrame . So all data can be calculated and stored within this DataFrame.

This would have made the Matlab Location structure useful.

I absolutely support documenting choice of models and parameters, but I'd tie that information to the calculation of energy yield.  I'm not sure that creating a new class to contain

[2015-11-11 19:48] bmu commented on #17
The idea of the ModelChain class is more about flexibility in modeling. could also be a function, but a class allows to change single modeling steps without the need to write a whole new function.
And you have a dedicated class for all three influencing factors of the calculated energy yield: the PV system, the location and the model/models/parameters you used.

I think documenting the results is

[2015-11-11 19:50] dacoex commented on #99
That's what I plan.

But you can keep it closed since it's not a bug...

[2015-11-11 22:17] dacoex commented on #17
I would second the proposal put forward in https://github.com/pvlib/pvlib-python/issues/17#issuecomment-155868023

especially the ```ModelChain``` idea.

Let's get this started.

[2015-11-11 22:18] wholmgren commented on #17
@jforbess: have @bmu and @cwhanse changed your mind?

@bmu's example brings up another design issue: side effects. Most of @bmu's example code mutates the state of the ``pv_system`` object. In contrast, all of my example code returned a DataFrame or a new object. There are pros and cons to each approach

Against side effects:

1. Personal experience. Over the last couple of years I developed 10k+

[2015-11-11 22:25] wholmgren commented on #17
Regarding ``ModelChain``, I think I'd need to see this used in some practical applications before I could say if I think it's a good idea. I too am all for coming up with some standards for saving both metadata (possibly including a serialization of a ``ModelChain`` object``) and results.

@dacoex This is a little frustrating to hear. What do you think #93 is if not an attempt to get this discussi

[2015-11-12 03:48] bt- commented on #17
I've been hoping to have more time to explore the library before commenting, but here are some poorly organized thoughts.

I like this approach.  I'm not sure I agree totally with @bmu and @cwhanse that a `Location` and `PVsystem` class do not have anything in common. I'm trying to remember how all the algorithms fit together to get from GHI to final energy yield.  Looking at the TMY to Power tuto

[2015-11-12 04:21] bt- commented on #96
I've been meaning to respond to clarify and am just getting to it.  After reading my comment again, I agree it is not entirely clear.

What I meant by 'model' here is a simulation of a PV system- env. data, pv system definition, and energy production results.

I'm thinking that I would eventually just have straight code using PVlib to calculate energy production results and this would be controlle

[2015-11-12 16:39] wholmgren commented on #96
My understanding is that you want two things:

1. A csv/json/yaml standard for describing a PV system.
2. A script or function that takes one input csv/json/yaml file and turns it into a standard output file.

It would be easy for you to version control the input file, script, and pvlib. I think everyone would agree that this is desirable, but it will be quite complicated to make this flexible, po

[2015-11-12 17:13] dacoex commented on #17
Sorry, that was not the intention here.

Yes, sure.
But I am a little lost on what needs to be done to move that PR.
And I feel until this discussion has come to a conclusion the way to continue this work would be uncertain. But we are very close to finalise the design choices and then can start implementing.

Same would apply for me case. At least when it comes to structuring the re-fractoring  o

[2015-11-12 21:19] alorenzo175 commented on #17
Here are some thoughts on how to move forward.

First, I am strongly opposed to any methods that cause side effects. Debugging or changing code that implicitly modifies objects is frustrating and time consuming.

I also don't see a need for ``PVSystem`` to inherit from ``Location``.  In my mind, they would each simply be initialized with attributes of the system or location (lat, long, inverter ty

[2015-11-12 22:42] bmu commented on #17
This sounds good! Better this way, that the ModelChain takes system and location as arguments.

Am 12. November 2015 19:19:21 GMT-02:00, schrieb Tony Lorenzo <notifications@github.com>:

[2015-11-13 00:20] bt- commented on #17
Tony's proposals for moving forward make sense to me.  The structure and classes seem intuitive.

[2015-11-13 02:05] wholmgren commented on #17
Thanks everyone for your thoughts on this issue.

I'm now seeing almost unanimous support for independent ``PVSystem`` and ``Location`` classes, so let's go in that direction first. I updated #93 based on this conclusion. I think that the ``Location`` class in #93 is ok (though not yet complete). The implementation details of the ``PVSystem`` class in #93 need more thought. I'll welcome pull reque

[2015-11-13 03:55] #97 closed

[2015-11-13 09:04] bmu commented on #17
Just two thoughts, but mayby these are to advanced things at least for the moment:

First, for e.g. East West orientated modules and strings that are connected to a single Inverter / MPP tracker one would need Modeling chains that start with horizontal irradiance and model until DC. Than the results of these model chains must be combined and feed into a modeling chain that starts from the mpp trac

[2015-11-13 17:28] bt- commented on #17
I would love to see both of these sets of functionality developed fully.

I see these potential features as areas where PVsyst and SAM fall somewhat short.  I think SAM does have some decent capabilities for uncertainty analysis, but not the ability to propagate uncertainty through the model from inputs to final energy yield.

Sent from my iPhone

[2015-11-13 19:42] wholmgren opened #101 "find new turbidity data"
Has anybody ever looked at the default turbidity data? I finally got around to it and I think it's horrible.

First, I was surprised when changing my latitude and longitude by just a small amount gave me fairly different results.

[code]

![monthly](https://cloud.githubusercontent.com/assets/4383303/11155186/49466eda-8a01-11e5-98e4-3473bf63855b.png)

The values for Tucson change by up to 0.5 depen

[2015-11-13 21:34] wholmgren commented on #101
I pulled the following data from the [SoDa website's TL form](http://www.soda-is.com/eng/services/service_invoke/gui.php?xml_descript=soda_tl.xml#parameters). It's fairly similar to the data plotted above (I don't expect an exact match). I also grabbed their [tif files](http://www.soda-is.com/eng/services/climat_free_eng.php#lin) and they too look similar. At least pvlib-python isn't screwing some

[2015-11-15 17:09] #91 closed

[2015-11-16 21:32] cwhanse commented on #101
@wholmgren : that file of Linke turbidity values which we distributed with PV_LIB was pulled from SoDa, or from an earlier incarnation which has been rolled into SoDa.  Matt is out this week but I'll find out exactly what he did.

There are other ways to compute TL from data, but now that I've looked again I don't of other TL databases available.

0.5 units of uncertainty appears typical, see: htt

[2015-11-24 23:47] dacoex opened #102 "doc: add variables"
Hello,

anything against adding
https://github.com/pvlib/pvlib-python/wiki/Variables-and-style-rules
to the sphinx docs?

this way, I have them with me also when offline.

[2015-11-25 05:18] wholmgren commented on #102
Sure, that makes sense now that the names have stabilized. Can you make a pr?

[2015-11-25 20:24] dacoex commented on #102
sure.

I suggest to use
http://docutils.sourceforge.net/docs/ref/rst/directives.html#csv-table

Do you agree?

[2015-11-30 17:03] wholmgren commented on #102
Why do you prefer this to the standard sphinx table format? I think the sphinx format is easier to read in the doc source code.

[2015-11-30 19:28] dacoex commented on #102
Was fastest to implement.
Additionally, the csv values can be reused, e.g. to assign variables or translate variables into descriptions.

[2015-11-30 23:41] wholmgren commented on #102
Ok, well I am confused about the status since you closed your PR and deleted your branch. Please provide a link to rtd's rendering your branch when you (re)open your PR.

[2015-12-01 06:23] dacoex commented on #102
I am definitly not a git pro. But I tried to pack my 3 commits together. So maybe github closed it through the commands.
The link is here:
https://github.com/dacoex/pvlib-python/pull/2
Thanks.

[2015-12-02 23:53] dacoex commented on #29
@bmu Do you still think that this is needed?
Where do we get sample data for above data sources?
Which location is good?
Carpentras?
Or any where we get data for?

[2015-12-03 01:36] bmu commented on #29
There is no need from my side at least ;-). So maybe Wills solution to let users add some readers is the best one.

Dont't think that it is a problem to geht some sample data. I could add Meteonorm data (and ask for permission)  as well as SolarGis data.

Am 2. Dezember 2015 21:53:06 GMT-02:00, schrieb DaCoEx <notifications@github.com>:

[2015-12-03 09:15] dacoex commented on #29
OK, so we close the issue and then let users individually create the dateconverter functions etc.?

[2015-12-03 16:48] wholmgren commented on #29
@dacoex I don't have anything new to add to the discussion and it's fine with me if we close it. You created the issue so you can close it if you think we've reach a resolution.

[2015-12-15 18:36] wholmgren commented on #71
This Gueymard and Ruiz-Arias [article](http://www.sciencedirect.com/science/article/pii/S1364032115000751) might be of interest to people that come across this issue or #101.

[2015-12-21 04:02] wholmgren commented on #47
6 months later... the ``solarposition.py`` module in PR #93 now requires that timestamped data be localized or it will be assumed to be UTC time. See the [diff](https://github.com/pvlib/pvlib-python/pull/93/files#diff-6a2ba183f3966266e8130e4669bb7f5a).

[2016-01-04 16:31] wholmgren opened #104 "use conda on readthedocs"
Conda support was recently added to readthedocs. It looks like it's a lot easier to use conda than to mock unneeded dependencies. It should also make it possible for RTD to execute pvlib code and generate figures, which would make it easier for us to write better docs.

Here's the [rtd conda doc page](https://docs.readthedocs.org/en/latest/conda.html).

[2016-01-05 13:03] dacoex opened #105 "harmonise function output variables"
Reference:
https://github.com/pvlib/pvlib-python/wiki/Variables-and-style-rules

on the wiki is days `poa_global` but `´pvlib.irradiance.total_irrad` produces the column `total`

[2016-01-05 13:13] dacoex commented on #105
So it woudl look like:

[code]

[2016-01-05 13:51] dacoex commented on #37
Just a quick question:

for the ration `poa_global` to `ghi` do you prefer:
*[Transposition factor (PVSyst Glossary )](http://files.pvsyst.com/help/transposition_factor.htm)* or `poa_gain`

[2016-01-05 15:34] cwhanse commented on #37
Transposition factor

From: DaCoEx [mailto:notifications@github.com]
Sent: Tuesday, January 05, 2016 6:52 AM
To: pvlib/pvlib-python
Subject: [EXTERNAL] Re: [pvlib-python] consistent variable names and capitalization (#37)

Just a quick question:

for the ration poa_global to ghi do you prefer:
Transposition factor (PVSyst Glossary )<http://files.pvsyst.com/help/transposition_factor.htm> or poa_gai

[2016-01-05 16:13] wholmgren commented on #37
I also prefer transposition factor.

[2016-01-05 16:15] dacoex commented on #37
Interesting. I see too much risk of mixing its abbreviation (TF) with thin-film.

Shall we add it to the list, then?

[2016-01-05 16:21] wholmgren commented on #37
We try to avoid abbreviations in pvlib, so I don't think it's a problem. There is a function in ``irradiance.py`` that would need updating. It currently uses ``poa_ratio``.

[2016-01-05 16:24] wholmgren commented on #105
Yes, I think they should be changed.

[2016-01-05 16:43] dacoex commented on #37
ok, but it's a very long column name either `' transposition factor'`

[2016-01-05 16:51] wholmgren commented on #37
We have a lot of long variable/column names. Only the most obvious quantities are abbreviated. Most (all?) of the people that originally participated in this discussion supported longer names over abbreviations.

[2016-01-05 16:56] dacoex commented on #37
OK, so assign it to me and I will add it when finalising
https://github.com/pvlib/pvlib-python/pull/103

[2016-01-05 16:56] dacoex commented on #105
assign it to me, then.

[2016-01-05 18:15] dacoex commented on #29
Here's a repo for some sample data (still to be filled):
https://github.com/dacoex/pvlib_data

I plan to add some data for testing of the io functions (to be coded).

Additionally, the data can be used for tutorials / notebooks / cross-comparison with other tools / etc.

statsmodels do this for

* Stata: https://github.com/statsmodels/statsmodels/blob/master/statsmodels/stats/tests/test_panel_robu

[2016-01-05 18:40] wholmgren commented on #105
Are you intending to use this issue for multiple functions or just the total_irrad function? Either is fine, I just want the issue title to be accurate.

In any case, I believe that you have to assign it to yourself, though I don't use this GitHub feature very often.

[2016-01-05 19:16] dacoex commented on #105
So far only this one. I did not encounter more similar items.

No, it would be you here:
https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

It would help to keep track of my tasks.

[2016-01-05 19:18] dacoex opened #106 "ValueError: total_irrad"
`pvlib.irradiance.total_irrad` throws the following error with data of frequency higher than hourly:

`ValueError: cannot reindex from a duplicate axis`

The sources are:

[code]

[2016-01-05 19:19] wholmgren commented on #105
The only organization members are the people that have commit rights. I
don't want to complicate it at this time.
On Tue, Jan 5, 2016 at 12:16 PM DaCoEx <notifications@github.com> wrote:

[2016-01-05 19:46] jforbess commented on #106
I think this is an error due to multiple identical timestamps in the index.

On Tue, Jan 5, 2016 at 2:18 PM, DaCoEx <notifications@github.com> wrote:

[2016-01-05 20:18] dacoex commented on #106
OK, thanks for the hint.

[2016-01-05 20:18] #106 closed

[2016-01-05 20:34] dacoex opened #107 "best pratice: impact of timezone shifts to data"
Fellow pvlib users,
I would like to ask how you handle timezone (TZ) shifts of data supplied by the provider in UTC.
When the `tz_convert` is applied, one ends up with incomplete days at beginning and end of the series.

Let's say I have a timeseries for the whole of 2014 in hourly data.

[code]

Then I convert it to local
[code]
naturally, the values get moved into the previous day:
[code]
This i

[2016-01-05 20:42] wholmgren commented on #107
Use the ``tz`` keyword argument.

http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.date_range.html?highlight=date_range#pandas.date_range

[2016-01-05 20:45] wholmgren commented on #107
Or specify the timezone the as part of your start argument.

[2016-01-06 10:15] dacoex commented on #107
My use case is that I read the data from a CSV file which was provided from a data supplier.
This way, the `ìndex` and `freq` are inferred from the CSV file columns.

How is this different from using the `tz` keyword argument?

[2016-01-06 10:27] dacoex commented on #107
Here is the updated example code which works as expected.

[code]

Any suggestions and imporvements are welcome.

Again, a `pandas` issue but the application of this library to typical data in the meteo domain is sometimes not easy because our data has phyical plausability limitations.
Most tutorials and questions relate to fincancial or random data where this is no much of a problem.

So thanks a

[2016-01-06 10:27] #107 closed

[2016-01-06 16:20] jforbess commented on #107
Thanks for sharing your answer. I have experienced that issue, but have not
worried about solving it yet. My standard problems with timezones are
usually due to DST being applied or taken away in a dataset. Or both.

Essentially this issue occurs when the dataset is provided with a tz that
is not the timezone it is actually in.

On Wed, Jan 6, 2016 at 5:27 AM, DaCoEx <notifications@github.com> wro

[2016-01-06 17:35] wholmgren commented on #107
I'm a bit confused. Can't you just call ``.tz_localize(timezone_that_the_data_was_recorded_in)`` on the data that you imported? Then you use your data's Series/DataFrame.index as an argument to the pvlib functions. I believe that this is what the TMY examples do.

A couple of other comments...

1. Best to specify dates using ISO 8601. You and I might disagree on the meaning of '1/2/2014'.
2. It's

[2016-01-06 18:00] jforbess commented on #107
I think the key issue is that DaCoEx is given data starting on 20140101
0:00 +0:00, which is 20131231 20:00 -4:00, but wants to provide a report on
data only from 20140101 0:00 -4:00 through 20141231 23:59 -4:00, not
starting on 20131231 20:00 -4:00.

I can't quite tell if @wholmgren's solution addresses that, but I don't
think it does.

On Wed, Jan 6, 2016 at 12:36 PM, Will Holmgren <notification

[2016-01-06 18:02] jforbess commented on #107
I guess it does simplify by applying a tz to the date_range filter, which
is simpler than DaCoEx's method.

On Wed, Jan 6, 2016 at 1:00 PM, Jessica Forbess <jforbess@gmail.com> wrote:

[2016-01-06 21:49] dacoex commented on #107
My original explanation of the objective should have been better. But @jforbess fleshed it out in https://github.com/pvlib/pvlib-python/issues/107#issuecomment-169405157
The best would be to create a notebook showing the motivation etc. But I was in the middle for some processing. As you see,my issue is that I am not an every day pandas user. This is not because I dislike it but data processing is

[2016-01-11 22:50] jforbess commented on #107
Sorry for the delayed response. Yes, it was just simplifying your
date_range parameter.

On Wed, Jan 6, 2016 at 1:49 PM, DaCoEx <notifications@github.com> wrote:

[2016-01-12 18:21] wholmgren commented on #2
Copy/paste from PVPMC's recent PVLIB Matlab 1.3 announcement...

- [ ] pvl_FSspeccorr: Spectral mismatch modifier function contributed by First Solar based on precipitable water.
- [ ] pvl_calcPwat: function to estimate precipitable water content
- [ ] pvl_huld: PV performance model of Huld et al., 2011
- [ ] pvl_PVsyst_parameter_estimation: function to estimate PVsyst module parameters from IV cu

[2016-01-12 18:30] cwhanse commented on #2
Will,

I put version 1.3 together.  The PVPMC notice is only highlights, here’s the full list of new functions and changes copied from the Matlab toolbox release notes.

Cliff

% *New Functions*
%
% |pvl_PVsyst_parameter_estimation| - Estimates parameters for the PVsyst
% version 6 module performance model.
%
% |pvl_desoto_parameter_estimation| - Estimates parameters for the De Soto
% single diode

[2016-01-12 18:32] wholmgren commented on #2
Thanks Cliff!

[2016-01-15 15:05] dacoex commented on #102
Shall we also compare the parameter names with [IEC 61724](https://law.resource.org/pub/in/bis/S05/is.iec.61724.1998.pdf)

[2016-01-15 17:06] wholmgren commented on #102
You'll have to be more specific for me to understand what you're really proposing.

[2016-01-15 23:55] #104 closed

[2016-01-18 15:46] dacoex commented on #102
See:
https://github.com/pvlib/pvlib-python/commit/e6dea98a855bb93e325ef95c632b407d01c6ceed#diff-01c51400deeacb229d692d6a21e7af79R17

[2016-01-18 15:54] wholmgren commented on #102
I'm ok with adding a symbol column, but I don't think we should tie it to the IEC document. I would default to the PVPMC symbols.

[2016-01-18 15:59] dacoex commented on #102
sure, the other one is just for reference.

But it's good in the case one performs performance evaluation with usually bases on the IEC or the contractual formulas.

[2016-01-18 17:55] wholmgren commented on #102
My preference is for a simple table that is focused on the pvlib-python standards. A handful of links to documents such as the IEC's and PVPMC website could be useful below the table.

[2016-01-18 18:02] dacoex commented on #102
mmh.

[2016-01-18 18:36] wholmgren commented on #102
I don't know what that means.

[2016-01-18 18:52] dacoex commented on #102
Let's start with your proposal.
Ideally, I'd love to have variables, units and refernce to standard side-by-side.

[2016-01-19 15:15] dacoex commented on #102
Comment https://github.com/pvlib/pvlib-python/issues/102#issuecomment-172568309 implemented in
https://github.com/pvlib/pvlib-python/pull/103

2 items I find strange:

* RTD stylesheet / template does not support bulleted lists, see the test list below.
* RTD stylesheet / template does not support line wrapping in CSV table directive.

I tested these 2 items with a fresh sphinx project and there i

[2016-01-21 08:37] dacoex opened #113 "Docs: use internal linking of python objects"
Reference
http://wholmgren-pvlib-python-new.readthedocs.org/en/pvsystem/classes.html#pvsystem

using the Sphinx python domain would make the docs more interactive when finalising #93

```See the :py:class:`LocalizedPVSystem` class for an object model that describes an installed PV system.```

http://www.sphinx-doc.org/en/stable/domains.html#the-python-domain

[2016-01-21 08:40] dacoex opened #114 "add sunrise / sunset to Location"
In reference to changes in #93:

add the following functions to `:py:class:`Location``:

`get_sunrise` and `get_sunset` and deferred from these `get_dayduration`.

This helps filtering values, e.g. set night values to `np.nan`.

[2016-01-21 16:30] wholmgren commented on #114
Probably a good idea, though it's not likely to happen as part of that PR. Are you aware of the [get_sun_rise_set_transit](https://github.com/pvlib/pvlib-python/blob/master/pvlib/solarposition.py#L312) function? It returns both sunrise and sunset. I'm less interested in ``get_dayduration`` since I think it's less likely to be used and it can easily be calculated if needed (though not totally oppos

[2016-01-21 16:40] wholmgren commented on #113
Ok. I am going to close for now and you can reopen it if it's an issue once the PR is merged. Alternatively, you can comment on the specific line in the PR.

[2016-01-21 16:40] #113 closed

[2016-01-21 23:30] wholmgren opened #116 "update Comparison with PVLIB_MATLAB doc page"
There are a number of items that need to be updated on the [Comparison with PVLIB_MATLAB](http://pvlib-python.readthedocs.org/en/latest/comparison_pvlib_matlab.html) doc page:

- [ ] Document under construction
- [ ] PVSC 2015 abstract is now a pvsc paper
- [ ] Matlab license is BSD 3-clause as of v1.3.
- [ ] Matlab now has quite a few functions that are not in the python version
- [ ] Documentati

[2016-01-25 09:07] dacoex commented on #102
Clsong since the PR #103 was merged.

[2016-01-25 09:07] #102 closed

[2016-01-25 09:09] dacoex commented on #60
I think the following will solve this:

* https://github.com/wholmgren/pvlib-python/blob/pvsystem/docs/sphinx/source/package_overview.rst
* any further modelchain documentation

[2016-01-25 09:12] dacoex opened #117 "docs: testing of notebooks"
How are [notebook tutorials](https://github.com/pvlib/pvlib-python/tree/master/docs/tutorials) integrated in the testing framework?

[2016-01-25 16:29] wholmgren commented on #117
The tutorials are not integrated into the testing framework. Notebooks are a giant pain for git, testing, and refactoring code. I've seen a handful of projects that claim to make these things easier, but I haven't actually used them.

Most of the notebooks do have a note that states the versions that they have been tested with. I update the tutorials when I make or consider merging changes that I

[2016-01-25 16:47] dacoex commented on #117
OK, so I will use doctest-able code listings for essential documentation.
The notebook may then only show certain further functionality or how to tie things together.

I like the way xarray created their examples: http://xarray.pydata.org/en/stable/examples.html

[2016-01-25 17:38] wholmgren commented on #117
Do we need to keep the issue open then?

I like the way that xarray does a lot of things.

[2016-01-25 17:51] #117 closed

[2016-01-25 17:52] dacoex commented on #117
I was also thinking of check how pvlib orks with it. But prioritising is important, here...

[2016-01-30 16:09] wholmgren opened #118 "add already merged contributions to next whatsnew"
A few users have made contributions that didn't get logged in a what's new document. Making an issue here so that we don't forget this. Probably easiest if I add the notes once #93 is merged. I believe that the following PRs need to mentioned:

- [x] #112
- [x] #111
- [x] #109
- [x] #108
- [x] #103
- [x] #122

[2016-01-31 04:14] wholmgren opened #119 "raise ValueError when invalid model provided to relativeairmass"
The ``atmosphere.relativeairmass`` function currently assumes the ``'kastenyoung1989'`` model if the specified model is invalid. The Python convention for this is to raise a ValueError, and I think that's the right thing to do here too. Since 0.3 is going to break everyone's code anyways, this is a good opportunity to fix this small problem.

[code]

PRs welcome.

[2016-02-01 23:16] dacoex opened #120 "doc: update to version 3"
In conjunction with [Location demotion and PVSystem/LocalizedPVSystem/ModelChain addition](https://github.com/pvlib/pvlib-python/pull/93#issuecomment-178206899) but now as separate issue:

I think the original intention with notebooks was to offer quick interactive exploration.
But now we find it hard to keep them updated and tested.
Below a way which might help

- [ ]  integrate the notebooks int

[2016-02-01 23:35] wholmgren commented on #36
I think that #109 closed this, or least it did for scipy, and the solar position tests already skip tests if numba or spa_c are not installed.

[2016-02-01 23:56] wholmgren commented on #120
First, we need a new name for this issue. It sounds like what you really want is something along the lines of "Port notebook tutorials to rst with doctests". Whether or not it makes it into version 0.3 (not 3) is another matter.

Regarding the notebooks themselves, I am much more inclined to move the notebooks to their own repo with different administrators than to add CI testing for them here. Al

[2016-02-02 00:06] wholmgren commented on #12
A couple of things related to the stalled conversation above...

The nose documentation is now warning people that it's no longer in active development and recommends that new projects use pytest or just unittest. I've not used pytest, but it looks nice.

I added a bunch of ``assert_series_equal`` and ``assert_frame_equal`` statements to the test code, so I think that this covers most of @bmu's co

[2016-02-02 05:57] bmu commented on #12
So feel free to close it!

Am 2. Februar 2016 01:06:26 MEZ, schrieb Will Holmgren <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2016-02-02 09:00] dacoex commented on #120
Yes.
Do you agree with the idea of porting to rst & doctest?

I would then go ahead with this by the following activities:

* propose a structure on how existing tutorials will be included in the ToC
* porting

OK.

What a bout the following structure:

1. Essential tuturials that demonstrate the functionality of the package will be ported to rst
2. More application specific tutorials will be move

[2016-02-02 16:09] wholmgren commented on #12
thanks @bmu, closing.

[2016-02-02 16:09] #12 closed

[2016-02-02 17:16] wholmgren commented on #120
We really need people that are less familiar with pvlib and/or python to give their feedback on the documentation issues. What is working and what is not working?

There are a few different kinds of tutorials, so here are my thoughts on each:

1. Module tutorials (irradiance, atmosphere, clearsky, etc.). I don't think that these module notebooks are very helpful, but maybe others have a different

[2016-02-02 19:09] dacoex commented on #120
@wholmgren thanks for the comments.

I will not work on this further until we agree on how it should be done.
Just doing random PRs without the possibility to merge does not help anyone.
I mean beyond bug fixing, improving docs and adding tests -- such minor items.

Nevertheless, I personally would include rst docs for item 1 and 2 above.

 I would suggest to provide a code linked like in the matp

[2016-02-02 20:08] wholmgren commented on #120
I don't understand. Are we in disagreement? It sounds like there is plenty of agreement upon which to get started. And it doesn't all have to happen in one PR.

This is not true. Sharing code through PRs is a great way to make an abstract discussion more concrete using a more precise common language (Python instead of English). This is how #88 and #93 both started. #93 will be merged, but as the o

[2016-02-02 21:41] dacoex commented on #120
Sorry for the strong term when using "disagreement". I perceived the first response as somehow vague.

I just think that there is a difference between code and docs. Docs could be written straight if the structure (ToC) is clear.
That's what I referred to and what where we need to agree on.

Sure, more docstrings with examples are an option for specific use help.

[2016-02-02 22:42] wholmgren commented on #120
Ok, let's try a different approach.

I like the [xarray documentation](http://xarray.pydata.org/en/stable/) for the following reasons:

1. Short intro page
2. Has a memorable logo
2. I like the presence of "Overview: Why xarray?"
2. A separate installation page that covers optional dependencies.
2. Most of the topic pages have clear names.
2. API reference
2. FAQ
2. What's new

How do you feel abo

[2016-02-08 20:28] wholmgren commented on #36
I meant to close this last week this along with #12.

[2016-02-08 20:28] #36 closed

[2016-02-10 09:51] dacoex commented on #120
The last commit now has a potential ToC as a list.

It is structured from the above example `xarray`:

- [ x] Short intro page

- [  ] Has a memorable logo

- [ x] I like the presence of "Overview: Why xarray?"

- [ x] A separate installation page that covers optional dependencies.

- [ x] Most of the topic pages have clear names.

- [x ] API reference

- [ x] FAQ

- [ x] What's new

I think discu

[2016-02-16 23:54] dacoex commented on #120
This implementation seems to be also a good example for our case:
http://www.statsmodels.org/dev/examples/index.html

[2016-02-17 14:15] uvchik opened #122 "Using cec-modules with sapm"
As I understand it, it is not possible to use the `pvlib.pvsystem.sapm` function with the cec-modules-library.

Is this right?

If it is right, is it possible to write a hint somewhere in the documentation.

http://pvlib-python.readthedocs.org/en/latest/pvlib.html#pvlib.pvsystem.sapm

[2016-02-17 16:09] cwhanse commented on #122
The CEC library doesn’t contain the parameters that are needed for the SAPM.  It only has parameters for the CEC performance model.

NREL _might_ (I’m not sure) have added functionality to translate from CEC model parameters to SAPM parameters.  I know PVsyst has done this, but the translation is suspect in my opinion.  It works by computing modeled IV curves (using the PVsyst model), picking off

[2016-02-17 17:18] wholmgren commented on #122
Sure, let's add a hint to the documentation. Feel free to make a PR, otherwise I'll get to it sometime in the next few weeks.

[2016-02-18 12:26] uvchik commented on #122
See PR #123.

[2016-02-18 22:34] wholmgren commented on #122
Closed by #123

[2016-02-18 22:34] #122 closed

[2016-02-23 21:46] dacoex opened #125 "doc: how to get dhi & bni"
`pvlib.clearsky.ineichen` produces
- GHI
- DHI
- BNI

It is not yet documented, how the non-clear-sky diffuse horizontal and direct horizontal components are derived.
Say,

I checked the tutorials. Either DHI is included in the TMY files or the DHI of clear-sky is used.

If my understanding is am correct, there is no procedure for deriving actual dhi, e.g. during overcast conditions, from a timers

[2016-02-23 22:22] wholmgren commented on #125
pvlib implements and documents several models that calculate DNI from GHI data:

http://pvlib-python.readthedocs.org/en/latest/pvlib.html?highlight=disc#pvlib.irradiance.disc

http://pvlib-python.readthedocs.org/en/latest/pvlib.html?highlight=dirint#pvlib.irradiance.dirint

[2016-02-23 23:42] dacoex commented on #125
Sure.
But I will still need to use the math for the DHI (GHI-dependant / non clear-sky)

[2016-02-23 23:49] wholmgren commented on #125
You mean  ``dhi = ghi - dni*cos(zenith)``? Do you want a function for this? Do you want to make a new documentation example? I'm not sure what you're asking for.

[2016-02-24 00:34] mikofski commented on #71
@wholmgren, it's actually this one from [Queens-Applied-Sustainability PyRTM](https://github.com/Queens-Applied-Sustainability/PyRTM) and [this wiki](http://www.appropedia.org/PyRTM). Requires [Chris Gueyrmard's SMARTS model](http://www.nrel.gov/rredc/smarts/) which is easy to compile. I used gfortran from msys-2 on windows, so I'm sure you can do it in linux or mac as well.

[RRTM](http://rtweb.a

[2016-02-24 00:40] mikofski commented on #71
[LibRadtran](http://libradtran.org) is another RTM that is an all weather (clouds) model. @aoumbe was involved so maybe he can say more about. it.

[2016-02-24 00:49] mikofski commented on #101
See [ECMWF](http://www.ecmwf.int/) has aerosol and water vapor data for the past 10 years from NASA Aeronet and they have a [Python web client to their MARS API](https://software.ecmwf.int/wiki/display/WEBAPI/Access+ECMWF+Public+Datasets) but you must register. You will need to convert calculate alpha from AOD at different wavelengths, and combine it with water vapor to get Linke turbidity coeffic

[2016-02-24 00:50] mikofski commented on #71
Also Gueymard has a new broadband all weather model called [REST2](http://www.solarconsultingservices.com/REST2_model.php).

[2016-02-24 00:55] mikofski commented on #71
As far as references go, Josh Stein PVPMC site at Sandia has a [section on irradiance modeling](https://pvpmc.sandia.gov/modeling-steps/1-weather-design-inputs/irradiance-and-insolation-2/) and [NREL RREDC](http://www.nrel.gov/rredc/models_tools.html) has the [BIRD clear sky model](http://rredc.nrel.gov/solar/models/clearsky/), [SPECTRL2](http://rredc.nrel.gov/solar/models/spectral/) and the [DISC

[2016-02-24 01:14] mikofski commented on #101
Maybe there's an API for [NASA Aeronet](http://aeronet.gsfc.nasa.gov/cgi-bin/webtool_opera_v2_new). It looks like a RESTful service, but hacking it might be hard.

    http://aeronet.gsfc.nasa.gov/cgi-bin/webtool_opera_v2_new
        ?stage=<int:stage>
        &region=<str:region>
        &state=<str:state>
        &site=<str:site>
        &place_code=<int:code>

Some other querystring keys: long1

[2016-02-24 01:23] dacoex commented on #125
Yes, I will add this to my list. I will try to elaborate further on it.
I feel the description of the the irradiation module could need some overview at beginning and guidance.

[2016-02-24 15:24] wholmgren commented on #125
Based on my understanding, we should do one or both of the following:

1. Rename this issue "Add overview to irradiance module documentation".
2. Add your specific use case as an example to be addressed in issues #60 and/or #120.

Can you clarify or provide guidance?

[2016-02-24 18:36] wholmgren commented on #101
After making this issue I did some follow up analysis that I forgot to post. The analysis is only for Tucson, AZ, and I make no claims as to the generalizability of the results. That being said...

I used 10 years of data from [SoDa's McClear service](http://www.soda-pro.com/web-services/radiation/cams-mcclear) to create a new clear sky climatology. I compared this McClear based climatology to a y

[2016-02-24 18:41] wholmgren commented on #101
@mikofski thanks for the links. Do you have any experience with those data sources and can you comment on their relative accuracy? I suspect that we'd find similar results to the above if we used them to create a new climatology data set. Well, at least for hot and dry Arizona.

[2016-02-27 12:00] sschiffel opened #126 "Documentation failure in pvsystem.i_from_v"
The documented parameters of pvsystem.i_from_v are incorrect. See your definition.

[2016-02-27 22:58] wholmgren commented on #126
Thanks for pointing this out.

[2016-03-01 21:39] tomflannaghan commented on #71
RRTM is used widely in forecasting/climate models. It's a correlated-k model (see [this paper](http://irina.eas.gatech.edu/EAS8803_Fall2007/Fu_Liou1992.pdf) for example), which is calibrated using a line-by-line model that has been validated with observations. As far as I'm aware it is very accurate. I used the model for some fairly theoretical work with no clouds or aerosols, but the model does s

[2016-03-05 01:03] ejmiller2 opened #127 "Incorrect irradiance used in pvsystem.ipynb tutorial"
In the tutorial pvsystem.ipynb, In [54] reads:

[code]
I believe the poa_diffuse parameter should use irrad_data['dhi'] instead of irrad_data['ghi'].

[2016-03-05 20:58] wholmgren commented on #127
Yes, thanks for pointing that out.

[2016-03-06 22:32] dacoex commented on #127
@wholmgren will look at this when porting the tuts.
Sorry for the delay. some biz came in between.

[2016-03-09 01:08] #105 closed

[2016-03-12 16:21] wholmgren opened #130 "pandas 0.18.0 incompatibility in tests"
The pvlib tests pass using the new pandas 0.18.0, with one exception: ``test_calcparams_desoto``. The data is still being calculated correctly, but the np.round function used in the test now chokes on the Series object. The helpful pydata people are going to fix this upstream for pandas 0.18.1, but I'll hack around this in the meantime. For more, see pydata/pandas#12600.

[code]

[2016-03-12 16:22] wholmgren commented on #130
Also, this why my recent PRs #128 #129 are failing.

[2016-03-12 21:48] #130 closed

[2016-03-13 19:21] #119 closed

[2016-03-13 20:06] #126 closed

[2016-03-13 20:18] #118 closed

[2016-03-13 20:23] wholmgren opened #133 "minimally update tutorials so that they work on 0.3"
I'm going to update the ipython notebook tutorials so that they will still work in 0.3. This will mostly involve eliminating the location objects in the tutorials. I won't document any of the new 0.3 features in the tutorials, since that's part of the scope of other issues.

[2016-03-14 17:35] wholmgren commented on #17
I am going to close this issue now #93 has been merged. I'm sure that we will need some new issues to discuss the modeling philosophy, the API and the implementation of the new features.

[2016-03-14 17:35] #17 closed

[2016-03-14 17:40] wholmgren opened #134 "release version 0.3.0"
I'd like to release version 0.3.0 in the next week or two. The idea is to get the new API and new documentation out in the wild sooner than later. New features can come later, and I changed some milestones to reflect this. The [remaining 0.3.0 issues](https://github.com/pvlib/pvlib-python/milestones/0.3.0) are all relatively minor documentation issues.

Let me know if you have objections.

[2016-03-15 19:55] wholmgren commented on #47
I think that the new code and the new documentation can close this issue. Here's the new proposed documentation:

http://wholmgren-pvlib-python-new.readthedocs.org/en/contributing/timetimezones.html

Please provide comments in #135, if you have them.

Assuming no objections, I will close this when #135 is merged. A new issue could be created for adding true solar time to more functions, if desired

[2016-03-16 06:07] bmu commented on #47
Just an idea:
We could open a milestone for the Santa Clara pvlib sprint in May and move such issues to this milestone. I will be there, too.

Am 15. März 2016 20:55:40 MEZ, schrieb Will Holmgren <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2016-03-16 10:02] dacoex commented on #47
Regarding Santa Clara pvlib sprint:
I received an invitation. Thanks for that!
But will not be able to attend.
If there is a possibility to participate on discussions and sprints remotely I would be happy to do so.

[2016-03-16 15:58] wholmgren commented on #47
@bmu a Santa Clara milestone is good idea and it's great to hear that you'll be able to attend. Did you rsvp to Josh Stein? I did not see your name on a recent list of attendees.

@dacoex and others: We don't yet know exactly what the agenda will be, but I expect that there will be a way to contribute remotely. We'll still be using GitHub, of course.

I'll make a milestone and a new issue for furt

[2016-03-16 16:05] #127 closed

[2016-03-16 16:07] #46 closed

[2016-03-16 16:07] #47 closed

[2016-03-16 16:07] #73 closed

[2016-03-16 16:07] #116 closed

[2016-03-16 16:08] #133 closed

[2016-03-16 16:14] wholmgren commented on #134
The 0.3.0 issues are now resolved. I plan to release it this weekend unless someone makes a new, show-stopping issue.

[2016-03-18 22:39] wholmgren commented on #2
In anticipation of the upcoming Santa Clara workshop, I'm consolidating the lists in the comments above into a new list. I also removed some of the items that don't apply to python. It's probably best to start making new issues for specific features.

- [ ] pvl_louche - Estimate Direct Normal Irradiance from Global Horizontal Irradiance using the LOUCHE model
- [ ] pvl_orgill_hollands - Estimate D

[2016-03-18 23:11] jforbess commented on #2
I intend to create a function to calculate the sandia inverter coefficients
from datasheet and CEC efficiency information. I was planning to use Santa
Clara as my motivation to get it done, either before or during.

I think it would be considered another in the parameter_estimation set of
functions?

On Fri, Mar 18, 2016 at 3:39 PM, Will Holmgren <notifications@github.com>
wrote:

[2016-03-19 00:46] cwhanse commented on #2
Absolutely. In fact I have some matlab code already but it's not in pvlib format yet.

Sent from my iPhone

On Mar 18, 2016, at 5:11 PM, jforbess <notifications@github.com<mailto:notifications@github.com>> wrote:

I intend to create a function to calculate the sandia inverter coefficients
from datasheet and CEC efficiency information. I was planning to use Santa
Clara as my motivation to get it do

[2016-03-19 02:31] wholmgren commented on #2
@jforbess that sounds great. I suggest creating a new issue if you'd like to discuss it further.

[2016-03-21 14:40] jsstein commented on #2
Just wanted to let folks know that the Matlab help files are available at a new location on the PVPMC website:  [https://pvpmc.sandia.gov/PVLIB_Matlab_Help/](url)

I have been updating and cleaning up the website and several old links no longer work.  Please let me know if you find any problems.

[2016-03-21 15:52] wholmgren commented on #2
Thanks @jsstein, I'll add a link to this page from our documentation.

[2016-03-21 19:19] ejmiller2 opened #140 "Night time power issue for some microinverters"
I am trying to use pvlib to compare some systems with microinverters versus string inverters. I have noticed that for many microinverters I am getting a positive AC power output when the DC power is 0. For example, using the inverter:
    `Enphase_Energy__M250_60_2LL_S2x___ZC____NA__208V_208V__CEC_2013_`

With 0V and 0W:
    `pvsystem.snlinverter(inverters.Enphase_Energy__M250_60_2LL_S2x___ZC____N

[2016-03-21 19:33] wholmgren commented on #134
Done! 0.3.0 is now available on PyPI and anaconda.org. Thanks to all who contributed to the code and the discussions.

[2016-03-21 19:33] #134 closed

[2016-03-21 23:31] wholmgren commented on #140
I think your understanding is correct and the code should be changed. However, PVLIB Matlab's ``pvl_snlinverter.m`` specifies:

``ACPower(ACPower<Ps0)= -1.*abs(Pnt); % Inverter night tare losses``

so I would like to get some clarification/confirmation from @cwhanse or @jsstein. This is in at least PVLIB Matlab 1.2, 1.3 and 1.32dev (I was surprised to find that this is the current download availab

[2016-03-22 15:19] cwhanse commented on #140
That code should be ACPower(DCPower<Ps0) rather than ACPower(ACPower<Ps0).

Thanks for the note.

Cliff

From: Will Holmgren [mailto:notifications@github.com]
Sent: Monday, March 21, 2016 5:31 PM
To: pvlib/pvlib-python
Cc: Hansen, Clifford W
Subject: [EXTERNAL] Re: [pvlib-python] Night time power issue for some microinverters (#140)

I think your understanding is correct and the code should be cha

[2016-03-22 15:35] wholmgren commented on #140
Thanks, Cliff.

@ejmiller2 would you like to make a pull request with the fix? Either way is fine.

Let's plan on including this in a 0.3.1 release in a week or two.

[2016-03-22 17:03] ejmiller2 commented on #140
@wholmgren,

Thanks for the quick turnaround. I'm currently running pvlib that I grabbed as a conda package. Once I figure out how to run from source, I may want to do a pull request. For now I'm ok at least knowing why there's a discrepancy in my results.

[2016-03-23 01:26] ejmiller2 commented on #140
@wholmgren Hopefully I have done that correctly...

[2016-04-07 16:17] wholmgren opened #142 "add __repr__ methods to classes"
We should add [``__repr__``](https://docs.python.org/3/reference/datamodel.html#object.__repr__) methods to all of pvlib's classes.  ``Location`` implements ``__str__``, but this should probably be changed to ``__repr__``.

[2016-04-07 16:43] wholmgren opened #143 "create ModelChain(s) that implement very simple models"
It could be useful to create a ModelChain or two that implements some kind of extremely basic system modeling. Something like ``power = user_def_const * poa_global``. The PVUSA model could be useful too. You all probably have more experience with sort of thing than I do.

A couple of motivations:
* The simple models would make it easier to quantify just how much value the more sophisticated models

[2016-04-07 16:59] wholmgren commented on #143
To be a little more concrete, the ``ModelChain`` refactor might look something like:

[code]

[2016-04-07 17:57] mayudong opened #144 "inconsistency between PVlib and PVsyst when calculating rotated plane azimuth"
When I was comparing the stimulative results of PVlib with PVsyst, I noticed that for PV panels with same configurations, the calculated rotated plane azimuth computed by pvlib.tracking.singleaxis(..)
is different from that of PVsyst.

I did find out where the problem is, and it is related to the coordinator transformation.

Can I create a pull request to submit my fix?

[2016-04-07 23:01] wholmgren commented on #144
@mayudong yes, that would be great.

[2016-04-08 21:10] wholmgren commented on #101
I've been doing some modeling for PNM today and thought that I'd add a new figure to this thread for future reference. The main point of adding this here is to better quantify the spread within a few hundred km, but apologies for the repeating colors and the rough code.

[code]

![pnm_turbidity](https://cloud.githubusercontent.com/assets/4383303/14397533/b94a8bf8-fd92-11e5-99aa-b8f1a30ed3ec.png)

[2016-04-11 14:11] tafadzwalgurupira commented on #144
I also noticed different results for my POA irradiance results when I used the tutorial(tmy_to_power) and compared the results with PVSyst. Can anyone help me figure out where I am going wrong and fix it?

[2016-04-11 15:47] wholmgren commented on #144
@tafadzwalgurupira, I believe that @mayudong is discussing a potential issue with the single axis tracker code, whereas you are discussing an issue with some part of the plane of array calculations. So, I'd prefer that you make a new issue with more details to discuss the discrepancy between the tmy_to_power tutorial and your pvsyst results. This helps keep discussions focused and on topic. Thanks

[2016-04-11 18:00] cwhanse commented on #144
@mayudong  could you post a summary of your fix?  If there's a code error, it's likely also present in the Matlab toolbox and I'd like to fix it there as well.  Thanks.

[2016-04-11 19:25] mayudong commented on #144
Sure. I have summarized the issue and potential fix in the attached file.
Please double check and confirm the issue.
Best
[NEX-PVSystemModelComparison-110416-1221-2.pdf](https://github.com/pvlib/pvlib-python/files/213735/NEX-PVSystemModelComparison-110416-1221-2.pdf)

[2016-04-11 22:02] wholmgren commented on #144
I tried to simply this part of the matlab code and it's possible that I introduced an error. I'll look at it more carefully.

[2016-04-11 22:48] mayudong commented on #144
Actually the results calculated using Matlab are different from PVsyst too.
I will create a pull request sometime this week

[2016-04-12 07:18] tafadzwalgurupira opened #146 "Inconsistency between PVlib and PVsyst when calculating POA irradiance"
I used the tutorial (tmy_to_power) to calculate the POA irradiance and compared them to a PVSyst simulation for the same conditions and settings and found the results varying significantly.

Please assist me if I am doing something wrong, or can suggest a fix.. I am kind of new here.

screenshots of the simulations are here: https://www.dropbox.com/sh/3qtkozqde15i38c/AAA9_fERkvkxlW8gGyG3zJJja?dl=0

[2016-04-12 14:16] cwhanse commented on #146
If you are using PVsyst v6, the default transposition model is Perez, not Hay and Davies.  The PVLib tutorial uses Hay and Davies.

Cliff

From: taffinator [mailto:notifications@github.com]
Sent: Tuesday, April 12, 2016 1:19 AM
To: pvlib/pvlib-python
Subject: [EXTERNAL] [pvlib/pvlib-python] Inconsistency between PVlib and PVsyst when calculating POA irradiance (#146)

I used the tutorial (tmy_to_p

[2016-04-12 17:06] wholmgren commented on #144
I looked at the surface azimuth results more carefully and I agree that they are not correct in pvlib python for non-trivial cases. Example 3 of the python [single axis tutorial](http://nbviewer.jupyter.org/github/pvlib/pvlib-python/blob/v0.3.0/docs/tutorials/tracking.ipynb#Example-3:) and the matlab version's [documentation](https://pvpmc.sandia.gov/PVLIB_Matlab_Help/html/pvl_singleaxis_help.html

[2016-04-12 17:18] #140 closed

[2016-04-13 07:15] tafadzwalgurupira commented on #146
@cwhanse , thanks for the suggestion but I had already checked it and that is not the case. I used Hay and Davies as prescribed and the results are only consistent when surface tilt is 0

[2016-04-13 14:04] wholmgren commented on #146
you're probably going to need to post your code if we're going to get to the bottom of this.

[2016-04-13 17:51] wholmgren commented on #144
Closed by #145

[2016-04-13 17:51] #144 closed

[2016-04-13 17:55] wholmgren opened #147 "release 0.3.1"
I propose that we release 0.3.1 to distribute the fixes in #141 and #145. I'll do this sometime between Friday and Monday unless I hear objections.

[2016-04-20 15:01] wholmgren commented on #147
I released 0.3.1. Thanks to all who contributed.

[2016-04-20 15:01] #147 closed

[2016-04-22 08:49] tafadzwalgurupira commented on #146
https://www.dropbox.com/s/9stmuuaavxdq7dp/tmy_to_power-Copy2.ipynb?dl=0

[2016-04-22 15:54] wholmgren commented on #146
Ok, focusing on July 5...

Here's the TMY data

![download 2](https://cloud.githubusercontent.com/assets/4383303/14746647/6a2169a6-0865-11e6-9eae-177df1b06e1f.png)

The DNI reaches 800 W/m2 hr.

Next, the apparent solar zenith and the AOI for a surface_tilt=30 panel.

![download 3](https://cloud.githubusercontent.com/assets/4383303/14746787/21a700e0-0866-11e6-9c54-e22d826b60f2.png)

Finally, POA i

[2016-04-22 16:16] jforbess commented on #146
I loaded Sand Point into PVsyst 6.37 and got this graph:

Is it possible you are using a non due south azimuth in PVsyst? Note that
PVsyst thinks that 0 is due south and 180 is due north. Super annoying.

​

On Fri, Apr 22, 2016 at 8:54 AM, Will Holmgren <notifications@github.com>
wrote:

[2016-04-22 16:27] wholmgren commented on #146
@jforbess I think you need to use the GitHub website to include graphics in a comment.

[2016-04-22 17:32] jforbess commented on #146
Ah, good to know.
I loaded Sand Point into PVsyst 6.37 and got this graph:
![screen shot 2016-04-22 at 9 11 35](https://cloud.githubusercontent.com/assets/8305153/14749633/64c338da-0875-11e6-9f5b-464d46644b85.png)

[2016-04-22 17:52] wholmgren commented on #146
@jforbess thanks! It looks reasonably consistent to me given that the pvlib tutorial's treatment of time for the hourly average modeling is going to cause some errors. I'm not sure how these PVSyst models are treating the time averaging.

[2016-04-22 19:23] jforbess commented on #146
Yes, I think so too.

On Fri, Apr 22, 2016 at 10:52 AM, Will Holmgren <notifications@github.com>
wrote:

[2016-04-23 10:28] dacoex commented on #143
hello again ;.)

I'd done this with the 2.x code but still quite experimental.

I would recommend to use:
PR instead of `poa_global_to_dc_power_const`. The user could take the PR from from other references (PVSyst, performance evaluation).

[2016-04-23 18:44] jforbess commented on #143
I hate to say it, but I recommend against PR for this const. Often PR is
calculated through to ac power (PVsyst), so it would be a mistake to assume
it's appropriate to apply to dc. I agree that the current name is awkward,
but I think that is the pvlib way, more or less.

Also, I think PR is the most overloaded term in solar, and have seen it
used in a number of ways that aren't the traditional k

[2016-04-25 07:38] tafadzwalgurupira commented on #146
Thanks for all your help everyone. The problem looks like it was just as @jforbess suspected: PVSyst's treatment of 0 and 180 degrees as due north and due south, respectively.

[2016-04-25 14:04] #146 closed

[2016-04-25 15:20] cwhanse commented on #143
I agree with Jessica.  One common issue with PR is that there are several definitions in current use.

Perhaps we can agree on the simple model and that would help clarify things.

My proposal would be PVWatts:

Pac = POA/1000 x Pdc(nameplate) x efficiency x (1 + gammaPmp (Tc – 25))

We need three constants: Pdc(nameplate), efficiency (PVWatts uses 0.81)  and gammaTmp (-0.004/C is typical)

Cliff

[2016-04-25 15:33] wholmgren commented on #143
+1 for PVWatts. Might be a good project for someone at the EPRI workshop.

[2016-04-29 00:53] mikofski opened #152 "sam files are not available"
https://sam.nrel.gov/sites/sam.nrel.gov/files/sam-library-cec-inverters-2015-6-30.csv

and

https://sam.nrel.gov/sites/sam.nrel.gov/files/sam-library-sandia-modules-2015-6-30.csv

return HTTP/1.1 404 - Not Found

[2016-04-29 08:45] yotf commented on #152
yes, they seem to have change url.

Sandia module can now be found at https://sam.nrel.gov/sites/default/files/sam-library-sandia-modules-2015-6-30.csv

CEC inverters at https://sam.nrel.gov/sites/default/files/sam-library-cec-inverters-2015-6-30.csv

[2016-04-29 18:32] wholmgren commented on #152
That's unfortunate. We'll need to fix this before the EPRI modeling workshop, so that probably means a 0.3.2 release early next week. Maybe we should take care of #52 at the same time.

[2016-04-29 19:40] mikofski commented on #152
I'm working on a pull request to just get the data from the pvfree api. And also updating pvfree with modules from both Sandia and cec.

I think this is a better solution than static links or files.

Sunpower will host pvfree

[2016-04-30 15:42] #152 closed

[2016-04-30 15:42] wholmgren commented on #152
@mikofski I'm interested in your PR, just trying to get things working again as quickly as possible. Feel free to make a new issue for the pvfree api, of course.

[2016-05-02 08:25] uvchik commented on #152
@mikofski : A PR to get the data from pvfree is really a good idea :+1:

[2016-05-05 18:30] wholmgren opened #154 "add pvlib to conda-forge"
conda-forge is "A community led collection of recipes, build infrastructure and distributions for the conda package manager."

https://conda-forge.github.io

The main advantage, from my perspective, is that it automates the process of building and uploading new conda packages for each release. It also enforces and automates some build quality control that I'm only manually doing halfheartedly.

[2016-05-05 19:01] wholmgren opened #155 "simplify the clearsky.ineichen function"
I think that clearsky.ineichen is a disaster of a function. There's some unnecessary complexity inherited from PVLIB Matlab, and some additional complexity that I wrongly added.

In the spirit of simple functions, I think we should:
* remove the ``time, latitude, location`` arguments in favor of ``apparent_zenith``
* make ``airmass`` a required argument
* remove the ability for the function to cal

[2016-05-05 20:10] mikofski opened #156 "update "package overview" to use UTC or localized time only (v0.3.0)"
in the [documentation for pvlib-0.3.2 the package overview](https://github.com/pvlib/pvlib-python/blob/master/docs/sphinx/source/package_overview.rst) still uses naive times:

[code]

Following the remainder of the package overview yields clear sky conditions for Tuscon that are shifted because UTC time is assumed instead of Mountain (UTC-0700) for Tuscon, AZ:

[code]

Since [v0.3.0](http://pvlib-

[2016-05-05 20:41] wholmgren commented on #156
Thanks for pointing this out. PR welcome, though it's easy for me to change too. Could use this an example for the Santa Clara workshop.

[2016-05-05 20:52] wholmgren opened #157 "fix snlinverter and singlediode documentation"
The ``snlinverter`` and ``singlediode`` documentation says that ``inverter``/``module`` must be a ``DataFrame``, when in reality they can be any ``dict``-like object.

[2016-05-06 18:08] wholmgren opened #158 "improve test_atmosphere"
The `test_atmosphere` module can easily be improved in a few ways:
1. Add numerical tests.
2. Replace the `Location.get_solarposition` calculated zenith angles with prescribed zenith angles. Unneeded complexity and makes it easier to do 1.
3. Remove unused imports (`logging` now and `location, solarposition` once 2. is fixed.)

[2016-05-06 21:49] wholmgren opened #159 "add a function that multiplies voltages and currents for arrays"
I'd like to consider adding a function to ``pvsystem.py`` that would multiply the voltages and currents returned by ``pvsystem.sapm`` and ``pvsystem.singlediode``. Of course, the motivation for this is to make it easier to calculate array parameters.

[code]

Maybe the function can also be reused for some system losses.

[2016-05-06 22:31] wholmgren opened #160 "port pvl_adrinverter"
This is a relatively simple function, so it should be easier to port.

Including the database can be as simple as adding it to `pvlib/data` and adding it to the `manifest`. Ideally we'd convert the database to something other than .mat (.csv or .h5), but that can also be done later.

This was previously mentioned in #2, but I want to highlight it here.

cc @adriesse

[2016-05-08 15:46] adriesse commented on #160
A bit busy with other things at the
      moment, but feel free to ask questions about this. 

      Have a great workshop everyone!

      Anton

      On 2016-05-07 0:31, Will Holmgren wrote:

      This is a relatively simple function, so it should be easier to
        port.
      Including the database can be as simple as adding it to pvlib/data
        and adding it to the manifest. Ideally w

[2016-05-10 17:11] crimmj opened #163 "Adding New Single Diode Model For CdTe"
Would like to add a new diode model(s) appropriate to non c-Si modules. There are some additional parameters in the model(s). Any thoughts on the correct structured way to do this?  Would this function or functions be added to pvsystem.py? Do modules need to be a class if they have different appropriate performance models?

[2016-05-10 21:56] alorenzo175 opened #165 "Dynamic delta T for solar position calculation"
The solar position algorithm from NREL needs a delta t parameter to account for the changes in Earth's rotation. That number can change by a few seconds over many months, so maybe it is worth putting in a function to get the data from the [USNO](http://www.usno.navy.mil/USNO/earth-orientation/eo-products) or at least use [an equation](http://eclipse.gsfc.nasa.gov/SEcat5/deltatpoly.html) from NASA.

[2016-05-11 18:00] wholmgren commented on #165
I think using only a couple of the equations would be easiest and most reliable.

[2016-05-11 18:11] wholmgren commented on #163
Sounds useful to me. The existing functions that use module parameters will work with anything that supports dictionary-like lookups. Most of the time, people will be passing in Series objects from the SAM DataFrames, but plain dictionaries should work too. I would say that we should keep things simple and use a similar interface for new functions.

[2016-05-12 20:01] cwhanse opened #167 "Overflow in clearsky.haurwitz when apparent_zenith is almost 90"
Haurwitz model includes this term:

np.exp(-0.059/cos_zenith)

We currently don't intercept and handle numerical overflow when cos_zenith is very close to 0.

[2016-05-13 00:57] mikofski opened #168 "spa_c_files don't build with VC14 (Python 3.5)"
windows 7 amd64
Cython (0.24)
Python 3.5.1 (v3.5.1:37a07cee5969, Dec  6 2015, 01:54:25) [MSC v.1900 64 bit (AMD64)] on win32

if I try to build spa_c for Python-3.5 I get the following:

[code]

[2016-05-13 14:38] wholmgren commented on #168
It's been a long time since I used spa_c, and I don't have any experience with Visual Studio, so I don't have any hints for you there. However, I'll point out that the benchmarks in #48 show that spa_python+numpy and spa_c are essentially the same speed, and spa_python+numba is significantly faster than spa_c. As with many benchmarks, your mileage may vary.

[2016-05-13 15:08] wholmgren commented on #167
Cliff, I don't fully understand what you mean by numerical overflow in the python/numpy context since you usually will get the largest number your platform supports, a nan, or an inf. In any case, it might be platform and numpy version dependent. On my Python 3.5, 64-bit mac and my Python 2.7, 64-bit linux, both running numpy 1.10.4...

[code]

Same results with 90 and 90.0, and the behavior from

[2016-05-13 15:11] wholmgren opened #169 "Add SingleAxisTracker support to ModelChains"
I'll put something together for this soon.

[2016-05-13 16:43] cwhanse commented on #167
Hi Will,

Perhaps it’s a runtime setting on my end.  I get warnings, not errors, when the zenith is 90 (or very close to it):

C:\Users\cwhanse\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\computation\expressions.py:62: RuntimeWarning: invalid value encountered in power
return op(a, b)
C:\Users\cwhanse\AppData\Local\Continuum\Anaconda3\lib\site-packages\pvlib\clearsky.py:314: Runtime

[2016-05-13 17:28] wholmgren commented on #167
Are you using Spyder on Windows? I wonder if it's related to pydata/pandas#9950 and links therein. You might be able to eliminate the warnings by running ``np.errstate(over='ignore')`` or, more aggressively, ``np.errstate(all='ignore')``

[2016-05-13 17:31] wholmgren commented on #167
Actually, I think [np.seterr](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.seterr.html#numpy.seterr) might be the right one to use.

[2016-05-13 20:56] wholmgren commented on #154
https://www.continuum.io/blog/developer-blog/community-conda-forge

[2016-05-13 22:26] wholmgren commented on #154
I started a "staged recipe": conda-forge/staged-recipes#616

[2016-05-14 23:23] wholmgren opened #172 "ModelChain does not propagate airmass to perez transposition function"
I think it can be fixed by adding ``airmass=self.airmass['airmass_relative']`` to the ``self.system.get_irradiance`` call. Probably need to add a test for this, too.

[2016-05-20 17:24] wholmgren opened #176 "rename series_modules, parallel_modules"
The ``PVSystem`` class and the ``system_def`` function accept keyword arguments ``series_modules`` and ``parallel_modules``. Until PR #171, pvlib code did not actually use them and they only existed for user extensions. As brought up in #171 by @jforbess, these names are confusing at best.

Now is a good time to change them since they didn't actually do anything before. I would support something l

[2016-05-20 21:45] #169 closed

[2016-05-20 21:46] wholmgren commented on #159
Closed by #171.

[2016-05-20 21:46] #159 closed

[2016-05-20 22:26] wholmgren commented on #154
We're now on conda forge and you can install the package using ``conda install pvlib-python -c conda-forge`` or similar.

https://github.com/conda-forge/pvlib-python-feedstock

Note that the package name is ``pvlib-python``, which is different from our own anaconda channel's ``pvlib``. This happened by accident and we need to standardize it. Does anyone care? I prefer the sorter ``pvlib``.

More o

[2016-05-21 06:32] adriesse commented on #176
Actually, I don't think the original terms were all that bad.  At least there seemed little chance that they would be interpreted incorrectly, which is an important criterion.  "modules_per_string" is fine, but I do not think "strings" is quite enough.  Maybe "number_of_strings" could be considered, if long names are favoured.  Personaly I prefer shorter ones, like "string_length" and "n_strings".

[2016-05-21 23:18] jforbess opened #177 "ModelChain claims it supports module_parameters from CEC, but only uses sapm internally"
Am I confused, or should there be a check as to whether the module params are CEC or Sandia, because you have to use different models depending on which set of parameters you're using?

[2016-05-22 02:52] wholmgren commented on #177
I certainly never meant to claim that ModelChain supported CEC modules or singlediode! I'd readily accept a PR that fixes documentation or makes it more clear. Have you seen PR #151 that refactors ModelChain and implements SAPM and SingleDiode classes? It needs to be rebased on the latest changes, but it's mostly complete. I want to get 0.3.3 out before merging that and switching development to th

[2016-05-22 03:23] wholmgren opened #178 "use development branches for larger features and changes"
Is the pvlib community interested in using development branches for larger features and changes? The idea is to get relatively large proposals in the hands of more people before they're merged. For example, #124 is a large feature addition and #151 breaks the existing API, so they require a 0.x version change to merge instead of only a 0.x.y change. More importantly, I am reluctant to merge large

[2016-05-22 03:26] jforbess commented on #177
Yeah, the parameter definition is: "Module parameters as defined by the
SAPM, CEC, or other."

Ah, yes, PR #151. I thought I had seen it go through, but I only checked
Issues, not PRs. I will have to look at it when I have more time. I am
motivated to get singlediode in there, because that's what I use, but I had
to stop with the ModelChain work today when I hit this issue, because I
have a deadli

[2016-05-22 03:30] jforbess commented on #178
I think the use case you're citing now will be a good example for others to
try. I think I would be more likely to use development branches if they
existed, rather than pulling other's PRs, which isn't really something I
have thought about doing, even with this PR #151 now.

On Sat, May 21, 2016 at 8:23 PM, Will Holmgren <notifications@github.com>
wrote:

[2016-05-22 03:33] jforbess commented on #176
I think it's assuming the same number of modules per string behind a single
inverter. You can build up systems from inverter units. It does assume the
same number of modules per string for all strings in an inverter, which is
perhaps a bit less normal these days with multi MPPT handling.

I think parallel_modules is confusing because in my head it should be
parallel_strings, not modules. But I see

[2016-05-22 13:43] cwhanse commented on #176
My vote is for

Modules_per_string
Strings_per_inverter

Cliff

Sent from my iPhone

On May 21, 2016, at 9:33 PM, jforbess <notifications@github.com<mailto:notifications@github.com>> wrote:

I think it's assuming the same number of modules per string behind a single
inverter. You can build up systems from inverter units. It does assume the
same number of modules per string for all strings in an in

[2016-05-22 18:16] wholmgren commented on #177
Thanks for pointing that out. I made quick update to the documentation to clarify the current status.

I also rebased the code in #151, pushed it to a new branch, and opened a new PR from that branch.

[2016-05-22 18:16] #177 closed

[2016-05-22 21:53] wholmgren commented on #178
I added development branches and new pull requests for the ModelChain refactor (PR #179) and forecast module (PR #180). We'll see how it goes.

[2016-05-25 15:37] lukewitmer opened #181 "Add classifiers to setup.py file to explicitly support python 3"
Is there a plan to support both python 2 and python 3 or to migrate fully over to python 3? https://caniusepython3.com/project/pvlib returns False but says there are no dependencies blocking transition to python 3. Any thoughts on this? Python 3 will soon (this year) be more widely supported than python 2. https://blogs.msdn.microsoft.com/pythonengineering/2016/03/08/python-3-is-winning/

[2016-05-25 16:04] wholmgren commented on #181
pvlib is fully compatible with python 2.7, 3.4, and 3.5 on all platforms:

https://travis-ci.org/pvlib/pvlib-python

I don't know anything about that website, but I think it's wrong.

I'd prefer to only support Python 3, but that's not going to happen anytime soon.

[2016-05-25 16:23] lukewitmer commented on #181
Thanks @wholmgren for that link. Good to know! All of the other packages I am using like pandas, numpy, etc return True from caniusepython3. I'm not sure if there is some annotation or something to add to the codebase to get it to return True. That website (you can also pip install caniusepython3) seems to dynamically pull the library you are interested in and checks it for support or compatibilit

[2016-05-25 16:35] wholmgren opened #182 "update readme to include only the most important information"
The readme is too long and important things are buried. It's also hard to keep the readme in sync with the real documentation when there's so much extra stuff. My to do list:

* Change installation to say something like "pvlib python is available via pip or conda. see the installation instructions for more"
* Move the NREL SPA discussion to a new section in the installation documentation.
* Delete

[2016-05-25 16:42] wholmgren commented on #181
After a very quick look on caniusepython3's [github page](https://github.com/brettcannon/caniusepython3), I think we need to add some classifiers to our setup.py file

https://docs.python.org/3/distutils/setupscript.html#additional-meta-data
https://pypi.python.org/pypi?%3Aaction=list_classifiers

[2016-05-25 17:27] cwhanse commented on #181
Pydap is not yet python3 compliant which is a pain when you need OpenDAP data source like NOAA NAM forecasts.  Something to keep in mind as Will is prepping a forecast module.

Sent from my iPhone

On May 25, 2016, at 10:37 AM, Luke Witmer <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @wholmgren<https://github.com/wholmgren> for that link. Good to know! All of the othe

[2016-05-25 18:36] wholmgren commented on #181
Thanks for pointing that out, Cliff -- you're becoming a python expert! It looks like there's been some recent movement for Python 3 support in PyDAP. However, the forecast module that we wrote currently uses the Siphon package to get data from Unidata's THREDDS server, and that's all Python 3 compatible.

[2016-05-26 03:35] wholmgren opened #184 "more setup.py fixes"
fixing #181 led me to a few more problems with our setup.py file:

1. AUTHORS should be something like 'PVLIB Python developers' instead of naming individuals.
2. The current LONG DESCRIPTION results in a poorly formatted PyPI page. Probably fix this after #182.
2. The version check can be deleted. It's not helping anyone.
2. DESCRIPTION has a typo 'set functions' --> 'set of functions'
2. Move 'i

[2016-05-26 15:46] #181 closed

[2016-05-26 19:02] wholmgren commented on #176
I like Cliff's suggestions.

[2016-05-27 15:13] jforbess commented on #176
Yes, I think they are good. The only possible future proofing is
strings_per_mppt, (maximum power point tracker). Though the current sandia
inverter model doesn't work that way, I could see it or another model being
extended that way in the future.

Jessica

On Thu, May 26, 2016 at 12:02 PM, Will Holmgren <notifications@github.com>
wrote:

[2016-05-27 16:49] #182 closed

[2016-05-27 21:45] adriesse commented on #176
If we allow the possibiity of not having an inverter or an mppt unit, how about "strings_per_array"?

[2016-05-29 02:54] jforbess commented on #176
But isn't the point to allocate a set amount of kWdc to a given mppt, so
that it can be modeled? I am sure I could be overlooking a system type, so
please feel free to describe what I'm missing.

I was viewing the goal defining these parameters as the finest grain to be
handled uniquely in a model. Multiple systems can be ganged together to
make up one site's worth of PV.

Even if it is not, I thi

[2016-05-29 10:34] adriesse commented on #176
Yes, the word "array" is certainly open to interpretation.  Feel free to
ignore this suggestion!

[2016-05-29 19:29] wholmgren commented on #176
At the risk of getting off topic... I think that at one point, maybe in #17, there was some consensus on defining a PVSystem as being a set of modules connected to a single inverter. It seemed like a fine place to start. But perhaps part of the reason for the disagreement/discussion here is that the existing PVSystem may not provide the right level of abstraction for many users. We may need a set

[2016-05-29 19:52] jforbess commented on #176
Yes, I think it's fine for now, considering the current state of the
inverter models. Just pointing out future trends.

On Sun, May 29, 2016 at 12:29 PM, Will Holmgren <notifications@github.com>
wrote:

[2016-06-01 03:43] #184 closed

[2016-06-10 22:50] #156 closed

[2016-06-10 22:54] wholmgren commented on #176
Closed by #188.

[2016-06-10 22:54] #176 closed

[2016-06-10 23:11] wholmgren commented on #142
closed by #174.

[2016-06-10 23:11] #142 closed

[2016-06-10 23:42] #157 closed

[2016-06-13 18:27] wholmgren commented on #83
Here's my code to make IV curves. I'm still not sure if any of this should be included in pvlib or not. I think we should at least add something similar to this to the documentation. Maybe someone else has a better way to do this.

[code]
![ivcurve](https://cloud.githubusercontent.com/assets/4383303/16017889/d7dfd472-3156-11e6-8f61-315051f7ebdb.png)

The ``fivepoints_to_frame`` function takes this

[2016-06-13 19:46] wholmgren opened #191 "perez transposition function drops nighttime data"
The irradiance.perez function drops nighttime data instead of returning 0s. You can see this in cell 37 of

https://github.com/pvlib/pvlib-python/blob/master/docs/tutorials/irradiance.ipynb

Note that the plot only goes from sunrise to sunset, instead of spanning the full day.

I have a fix for this in the works.

[2016-06-13 19:48] #167 closed

[2016-06-13 19:51] cwhanse commented on #83
Will,

I’d include the code, but I’d also have the function return a second dataframe with all 100 computed points.

Cliff

From: Will Holmgren [mailto:notifications@github.com]
Sent: Monday, June 13, 2016 12:27 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.com>
Subject: [EXTERNAL] Re: [pvlib/pvlib-python] pvsystem.py - no continuous IV curve data (#83)

Here's my code to make IV curves.

[2016-06-13 23:56] wholmgren commented on #83
Another option is to reproduce the pvl_singlediode.m Matlab API by switching our singlediode's output from a DataFrame a simple dictionary. The dictionary values would be scalars or arrays as determined by the numpy broadcasting rules.

Here's another try at the multiple function approach. We'd have the existing ``singlediode`` that works with either scalar or time series inputs, and these functio

[2016-06-14 16:49] cwhanse commented on #83
I would prefer the dict output rather than the dataframe for IV curves.  We won’t use the pandas time series functionality for IV curves so the extra overhead doesn’t make sense to me.

From: Will Holmgren [mailto:notifications@github.com]
Sent: Monday, June 13, 2016 5:57 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.com>
Cc: Hansen, Clifford W <cwhanse@sandia.gov>; Comment <comment@norep

[2016-06-14 18:01] wholmgren commented on #83
People do use the singlediode function for time series analysis, though, so I don't want to take that away from them (or at least me). I think everyone can be happy, and very little code should break, if I amend my previous comment to say:

The dictionary values would be scalars, arrays, or *series* as determined by the input type.

See below for a couple of API proposals. Option 1 can be implemen

[2016-06-14 18:04] cwhanse commented on #83
What I meant, and perhaps didn’t say clearly, is that a dataframe (time series object) doesn’t seem a natural fit to contain a single IV curve.  A time series of a point on IV curves (e.g., Isc) makes a lot of sense.

Option 1 is better than 2, I think.

From: Will Holmgren [mailto:notifications@github.com]
Sent: Tuesday, June 14, 2016 12:02 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.c

[2016-06-14 19:01] #172 closed

[2016-06-14 19:01] wholmgren commented on #191
closed by #192

[2016-06-14 19:01] #191 closed

[2016-06-16 15:41] wholmgren commented on #181
Following up after the new release (0.3.3) with new classifiers... caniusepython3 still reports no. I give up.

[2016-06-16 16:32] lukewitmer commented on #181
Hmm, no worries, and I think what you've done so far are steps in the right direction. The fact that it is python 3 compatible regardless of what caniusepython3 reports works for me for now. We will get it figured out eventually.

[2016-06-23 10:35] mangecoeur opened #196 "Typo "modelt" in function signature pvlib.irradiance.perez"
The function uses `modelt` instead of `model`:

`pvlib.irradiance.perez(surface_tilt, surface_azimuth, dhi, dni, dni_extra, solar_zenith, solar_azimuth, airmass, modelt='allsitescomposite1990')`

should be

`pvlib.irradiance.perez(surface_tilt, surface_azimuth, dhi, dni, dni_extra, solar_zenith, solar_azimuth, airmass, model='allsitescomposite1990')`

http://pvlib-python.readthedocs.io/en/latest/m

[2016-06-23 16:11] wholmgren commented on #196
Yes, I've noticed that before too. Feel free to submit a pull request.

[2016-06-23 17:04] wholmgren opened #197 "reorder function arguments to put variables first and parameters second"
I think we should reorder a handful of function arguments to put the most variable-like arguments first and most parameter-like arguments last. I'm guessing that a lot people will think that I'm just screwing with the API for no reason, but I do have a few reasons!

1. consistency is important (and underrated)
2. we can make better use of default arguments.

Here are the functions that I know abou

[2016-06-23 17:27] wholmgren opened #198 "consistency with matlabs sapm api"
The Matlab project's sapm function signature is:

``pvl_sapm(Module, Ee, celltemp)``

while ours is

``sapm(module, poa_direct, poa_diffuse, temp_cell, airmass_absolute, aoi)``

The Matlab project has used that signature since at least version 1.1 (the oldest that I have). The Python signature started as

``pvl_sapm(Module,Eb,Ediff,Tcell,AM,AOI)``

in commit e74644b and I changed it to the current

[2016-06-23 17:33] wholmgren commented on #165
@DanRiley added some delta T calculations to the matlab library in sandialabs/MATLAB_PV_LIB#1.

[2016-06-24 15:49] jforbess commented on #197
While this is a pain, messing with the api, I do think it makes sense, and
is worthwhile going forward.

On Thu, Jun 23, 2016 at 10:04 AM, Will Holmgren <notifications@github.com>
wrote:

[2016-06-24 16:04] cwhanse commented on #198
We chose to use Ee (effective irradiance) as input to SAPM in Matlab so that we had flexibility to replace the reflection and spectral mismatch functions.  Ee can be computed in a variety of ways from POA_direct and POA_diffuse. I would encourage doing similarly in python.

[2016-06-24 16:09] cwhanse commented on #197
I agree, this effort makes sense in general.  A few specific tweaks:
For physicaliam, I'd order as aoi, n, K, L.  K and L can be safely set to the defaults as the function's values are almost entirely determined by n.
See my comment on #198 for the sapm.

[2016-06-24 17:06] wholmgren commented on #198
It appears to me that the Matlab library relies on the user to implement the calculations below instead of providing functions such as pvl_sapm_spectral_correction, pvl_sapm_aoi, and pvl_sapm_effective_irradiance. Correct?

[code]

Perhaps the Python library should adopt the pvl_sapm api and add some simple functions to standardize the SAPM algorithms. I'm trying to avoid doing any real calculatio

[2016-06-24 17:31] cwhanse commented on #198
Yes, that’s correct.  We felt that approach would offer more flexibility to a modeler who preferred the Martin and Ruiz AOI model, for example, over the Sandia polynomial.  We take the same approach with the single diode models, i.e., the input to these functions is Ee.

From: Will Holmgren [mailto:notifications@github.com]
Sent: Friday, June 24, 2016 11:07 AM
To: pvlib/pvlib-python <pvlib-python@

[2016-06-24 18:07] wholmgren opened #200 "remove module from singlediode function arguments"
I'm just now realizing that the module argument to our singlediode function is nearly pointless. module['V_oc_ref'] is used to set the initial guess for the p_mp numerical solution, and I'm pretty sure that it can be replaced with the calculated v_oc. This will simplify the api and bring us back into consistency with the matlab library.

[2016-06-24 18:09] cwhanse commented on #200
I agree

From: Will Holmgren [mailto:notifications@github.com]
Sent: Friday, June 24, 2016 12:08 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.com>
Subject: [EXTERNAL] [pvlib/pvlib-python] remove module from singlediode function arguments (#200)

I'm just now realizing that the module argument to our singlediode function is nearly pointless. module['V_oc_ref'] is used to set the initial g

[2016-06-24 18:14] wholmgren commented on #197
Good point, Cliff. I updated that line.

ref #200.

[2016-06-24 18:38] wholmgren commented on #198
Ok, I'm sold. While I liked the ease of use with sapm taking care of that for me, I disliked the inconsistency with the single diode models. Now that we have PVSystem and ModelChain for the ease of use issues, we should keep the functions simple and consistent.

For what it's worth, I pushed a couple of new-but-old [https://github.com/pvlib/pvlib-python/tags](tags) to help us keep track of why thi

[2016-06-24 18:51] wholmgren commented on #198
Another point on consistency:

pvl_sapm takes Ee in units of suns.
pvl_calcparams_desoto takes S in units of W/m^2.
pvl_calcparams_PVsyst takes Ee in units of W/m^2.
pvl_calcparams_CEC takes S in units of W/m^2.

I'd prefer if the Python functions all take effective_irradiance in units of W/m^2. The discussion in #195 makes me think e_poa_transmitted would work too.

[2016-06-24 19:22] wholmgren opened #201 "replace limits set with numpy/pandas slicing with np.maximum and np.minimum"
A number of functions use numpy/pandas slicing or clip to set their limits. This leads to unnecessary requirements on the input data, unnecessary type promotion of the output data, and/or unnecessary code in the functions. Many of the limits can instead be set with [np.maximum](http://docs.scipy.org/doc/numpy/reference/generated/numpy.maximum.html) and [np.minimum](http://docs.scipy.org/doc/numpy/

[2016-06-24 19:59] adriesse commented on #201
I'd like to understand this.  Could you give one or two problematic
examples?

On 2016-06-24 21:22, Will Holmgren wrote:

--
Photovoltaic Performance Labs Germany
Emmy-Noether-Str. 2
79110 Freiburg
Germany

+49-761-8973-5603 (Europe)
+49-174-532-7677 (Mobile)
+1-613-817-1652 (North America)

www.pvperformancelabs.com

[2016-06-24 21:34] wholmgren commented on #201
Sure. Consider [haydavies](https://github.com/pvlib/pvlib-python/blob/28cc9fb975b4c0b5f4bc471a1f151ab612293044/pvlib/irradiance.py#L697):

[code]

Similar for reindl, king, and beam_component.

[haurwitz](https://github.com/pvlib/pvlib-python/blob/28cc9fb975b4c0b5f4bc471a1f151ab612293044/pvlib/clearsky.py#L275) has a couple of problems:

[code]

I suggest the following makes more sense for the low

[2016-06-24 21:44] wholmgren commented on #201
I should also note that although [np.where](http://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html) works with scalar or n-dimensional array inputs, it will not preserve Pandas objects.

[code]

[2016-06-25 20:47] adriesse commented on #201
Thanks!  Now I see what you're getting
      at.  Seems like a good direction to me for the lower level
      functions.

      On 2016-06-24 23:34, Will Holmgren wrote:

      Sure. Consider haydavies:

        # a bunch of stuff that can handle any input type
# but this line throws a TypeError for scalar input
sky_diffuse[sky_diffuse < 0] = 0

# instead, use
sky_diffuse = np.maximum(sky_diffuse,

[2016-06-26 00:03] mangecoeur commented on #196
PR sent

[2016-06-27 17:58] #200 closed

[2016-06-27 21:09] mattguttenberg opened #205 "pvlib.pvsystem.sapm can't be used if only effective irradiance is known"
Since direct irradiance and diffuse irradiance are used to calculate the effective irradiance, another input should be added for the effective irradiance so that if it is known, the calculation is bypassed. This  will remove unnecessary error if the value is a known value or makes the function usable if the value is the only one that is known.

[2016-06-27 21:18] wholmgren commented on #205
See #198.

[2016-06-28 16:39] wholmgren commented on #85
xref sandialabs/MATLAB_PV_LIB#6

[2016-06-28 21:55] #196 closed

[2016-06-30 19:03] willhobbs opened #206 "Forecasted GHI is greater than clear sky GHI"
Using GFS as the forecast model, I am seeing GHI values as much as 13% higher than what ModelChain calculates when no irradiance data is provided (default ineichen clearsky model).

[2016-06-30 19:47] cwhanse commented on #206
I’ve seen the same thing from NAM, compared to Ineichen’s clear sky model.

From: willhobbs [mailto:notifications@github.com]
Sent: Thursday, June 30, 2016 1:04 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.com>
Subject: [EXTERNAL] [pvlib/pvlib-python] Forecasted GHI is greater than clear sky GHI (#206)

Using GFS as the forecast model, I am seeing GHI values as much as 13% higher than wh

[2016-06-30 20:08] wholmgren commented on #206
There are two reasons why the forecast module's irradiance data will be different from the ineichen model's:

1. The forecast module uses the Liu Jordan model to convert a cloud cover forecast to an irradiance forecast. It's going to give different results even in clear sky conditions.
2. The forecast module fails to supply the Liu Jordan model with a time-varying top-of-atmosphere irradiance. I'l

[2016-06-30 20:15] cwhanse commented on #206
I’m referring to the GHI values in the NAM forecast downloaded from NOAA.

From: Will Holmgren [mailto:notifications@github.com]
Sent: Thursday, June 30, 2016 2:09 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.com>
Cc: Hansen, Clifford W <cwhanse@sandia.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [pvlib/pvlib-python] Forecasted GHI is greater than clear sky GHI (#20

[2016-07-07 18:56] #155 closed

[2016-07-08 23:12] wholmgren opened #211 "Bug in extraterrestrial radiation calculation"
The ET radiation calculator needs the "day angle" of the Earth's position in its orbit around the Sun. Our extraradiation function and the matlab pvl_extraradiation calculate the angle as:

[code]

Assuming that doy is a value between 1 and 365, I believe it should be

[code]

The disc and pvl_disc functions use the (doy-1) formula.

[2016-07-08 23:35] wholmgren commented on #211
Here are some plots to show the difference.

doy
![all](https://cloud.githubusercontent.com/assets/4383303/16704149/b8f0b988-4528-11e6-90bb-5cb8b3c8be01.png)
doy - 1
![all-1](https://cloud.githubusercontent.com/assets/4383303/16704150/b8f768b4-4528-11e6-85b2-783517aa754f.png)

doy
![spencer-ephem](https://cloud.githubusercontent.com/assets/4383303/16704151/bd0e0016-4528-11e6-8924-8b3e2b58eeff.png)

[2016-07-10 23:57] wholmgren opened #212 "Bug in dirint: pressure is not passed to disc"
The dirint function fails to pass the input pressure to its internal disc function call. This effects disc's airmass calculation, which effects the disc dni calculation, which effects the dirint dni. I'll fix this soon.

[2016-07-11 15:34] cwhanse commented on #211
Will,

Thanks catching this.

What do you think we should do with a leap year?

B = 2 pi / max(DOY) * (DOY – 1) perhaps?

Cliff

From: Will Holmgren [mailto:notifications@github.com]
Sent: Friday, July 08, 2016 5:12 PM
To: pvlib/pvlib-python <pvlib-python@noreply.github.com>
Subject: [EXTERNAL] [pvlib/pvlib-python] Bug in extraterrestrial radiation calculation (#211)

The ET radiation calculator n

[2016-07-11 18:17] wholmgren commented on #211
I'd say that we should follow the literature that these methods come from, which, if I recall correctly, means ignoring leap years. Also, I think that max(DOY) would only work if DOY is an array with a full year of data.

On a related note, I wrote some code to pull the Earth-Sun distance from pvlib pythons implementation of the NREL SPA. It's about 50x slower than the Spencer method but 10x faste

[2016-07-11 19:15] #212 closed

[2016-07-12 05:28] dacoex commented on #211
A general question:
When such kind of flaws are discovered, the issue and its resolution may change results for a certain location and data set.

For the point of testing but als tracebaility of results obtained with different versions, would it make sense to have a accuracy & uncertainty log file?
We could have a few BSRN locations which we use as reference sites along with test data sets.
For ea

[2016-07-12 11:06] adriesse commented on #211
If one method takes into account leap years and the other doesn't, the differences will look different from year to year.  How do the stats and plots look for a four-year period with a leap year?

[2016-07-12 16:02] wholmgren commented on #211
@adriesse there's not much difference. Here's 2015 and 2016 at hourly resolution. Note that the wiggles in the difference plot are due to the fact that the extraradiation function converts a DatetimeIndex into integer days.

![two years](https://cloud.githubusercontent.com/assets/4383303/16773840/4a671e92-480e-11e6-81d8-ffdafb0897c4.png)

![two years diff](https://cloud.githubusercontent.com/asset

[2016-07-13 15:55] wholmgren commented on #211
I'm closing this via PR #215, though feel free to continue to discuss here or in another issue if you feel otherwise.

[2016-07-14 15:11] wholmgren commented on #206
@willhobbs I wrote a new cloud cover to irradiance algorithm that's based on the ineichen function and the turbidity file. It's basically this...

[code]

See the [updated documentation](https://forecasting.energy.arizona.edu/pvlib/pvlibfx/pvlib-python/docs/sphinx/build/html/forecasts.html#cloud-cover-and-radiation) for more.

Lot's of room for experimentation and likely improvements. I have no id

[2016-07-14 18:04] adriesse opened #216 "irradiadiance.extraradiation() clarification"
The code contains the following cryptic comment:

I found the minus sign in reference [1], ran both versions of the formula, and found the plus version to give the smaller error with respect to pyephem.  The plus version is also given in Duffie and Beckman, so this comment can be safely removed.

[2016-07-14 18:11] adriesse opened #217 "irradiadiance.extraradiation() returned values inconsistency"
The method 'pyephem' returns a pandas.TimeSeries whereas the methods 'asce' and 'spencer' do not.

[2016-07-14 19:30] wholmgren commented on #216
I'm fine with removing it. I always assumed that it was from the matlab toolbox, but I searched for it and didn't find it in the latest version. Thanks for doing the test, too. Want to make a pull request?