[2020-11-24 03:45] jurasofish opened #1095 "add toggle for prompts in example code in docs"
Currently copying code examples out of the docs is tricky because it's formatted as an IPython notebook.
I propose adding the [sphinx-toggleprompt](https://github.com/jurasofish/sphinx-toggleprompt) extension so these can be toggled.

Similar functionality exists in the offical python docs, numpy docs, and scipy docs (among others)

(nb i am the developer of this library)

[2020-11-24 05:01] kanderso-nrel commented on #1095
For those who remembered talking about prompts before, here's the link: https://groups.google.com/g/pvlib-python/c/BT3Mjerp92g/m/TvuXIHwFAwAJ

[2020-11-24 17:18] cwhanse commented on #1095
This is a nice feature to add. Curious how does numpy do it?

[2020-11-24 21:54] jurasofish commented on #1095
Numpy uses the scipy sphinx theme, which has copied the functionality from the cpython docs theme (sphinx-toggleprompt also copied it from the cpython docs theme, and modified it slightly)
https://github.com/scipy/scipy-sphinx-theme/pull/3

[2020-11-25 09:08] pbalm commented on #1057
I've looked at the `forecast.py` code and I'm here to report a bug on it, so yeah, I see the problem.

I count myself as a newbie user attracted to pvlib in part because of the forecasting. Even so I have no problem with it going away, as long as we have some examples of how to use a different tool for forecasting, if only to be pointed at the existence of the other tool.

Regarding the ideas post

[2020-11-25 15:43] cwhanse commented on #1095
@jurasofish the pvlib surface is certainly easier with your library.

@maintainers My only hesitation is the dependency on a relatively new package and how that might affect those who want to build the documents themselves. Not much of a concern, since I think those users are the exception.

[2020-11-25 16:01] kanderso-nrel commented on #1095
Could be that a part of #329 is to switch sphinx themes, but in the meantime I think this is a good idea.  Looks like it doesn't have any dependencies so as long as we pin a version I think it shouldn't be a burden for building locally.

[2020-11-25 20:03] wholmgren commented on #1095
@kanderso-nrel what is the implication for switching sphinx themes? I missed it if it was discussed in the linked google group or PR.

@cwhanse this is the group handle: @pvlib/pvlib-maintainer

I have a mild preference for the new sphinx-toggleprompt package over maintaining this non-python code ourselves.

[2020-11-25 20:11] kanderso-nrel commented on #1095
I only meant that apparently some sphinx themes include this functionality out of the box (e.g. the scipy theme as mentioned earlier in this thread), so sphinx-toggleprompt would become unnecessary if we eventually switch to one of those themes.

[2020-11-25 21:51] jurasofish commented on #1095
Worth noting that I don't think the scipy theme will work on IPython prompts out of the box. Compare [scipy](https://github.com/scipy/scipy-sphinx-theme/blob/59c27fdde3ec4c78eb93b5e375d203ec5707382a/_theme/scipy/static/js/copybutton.js#L8-L10) and [mine](https://github.com/jurasofish/sphinx-toggleprompt/blob/d94b264f6224b2256e98c5b751fd25986de9944e/sphinx_toggleprompt/_static/toggleprompt.js_t#L9-

[2020-11-26 20:05] kanderso-nrel commented on #1060
I'm having difficulty getting the tests working in #1098.  I think the fundamental issue is that `spa.py` falls back to an entirely different code path if numba isn't available, and the test suite wants to exercise both branches (numba and numpy) but having both branches active at the same time in a pytest session is a big mess.  If anyone can point me to another package with this pattern (differe

[2020-11-26 20:14] wholmgren commented on #1060
I'm -1 on requiring numba at this time. In part a desire to be cautious about dependencies and in part a desire to avoid forcing the jit cost on every workflow. For now, do you have any concern with using pytest skip markers for both numba and not numba paths in spa?

[2020-11-26 20:30] kanderso-nrel commented on #1060
Note that jitting can always be prevented with NUMBA_DISABLE_JIT or `numba.config.DISABLE_JIT`, but dependency caution is fair.

For pytest skips, it's hard to say without trying it out, but I would guess that it wouldn't solve the problem unless we skipped everything that uses numba.  I shouldn't have said "entirely different code paths" in my earlier comment -- they are different at first, but t

[2020-11-26 20:46] wholmgren commented on #1060
I was thinking we'd rely on different ci configurations for total coverage. The coverage within a single configuration would be incomplete. So I don't think we'd need any special import or environment machinery.

[2020-11-30 03:00] jforbess commented on #1081
I recently became aware of np.nditer, which sped up my rolling window apply greatly. I think you should be able to use it for this exponential weighted function, basically applied as a for loop with an efficiently stored/accessed array. I was doing a simple calc on 20 years of 525600 long series, and it was quite snappy, relative to the rolling window apply which was a long enough process that the

[2020-11-30 12:10] srlightfoote commented on #1057
I’ve used `forecast.py` and have found it to be the most straightforward way to get data for pv production forecasting.
I played around with `solarforecastarbiter` for around a day.  There appear to be lots of interesting functionality to it but I found the expectation of having externally downloaded data outside of the library’s API stored locally a hurdle to using it. Maybe I didn’t give it the

[2020-11-30 15:46] #1095 closed

[2020-12-02 04:31] trondkr opened #1099 "Calculate UV index - is my approach reasonable?"
Hi,

I am using pvlib to calculate diffuse and direct incoming solar radiation at the surface and this works well (I account for clouds, albedo etc.).

        ....
        transmittance = (1.0 - cloud_covers) * 0.75
        # irrads is a DataFrame containing ghi, dni, dhi

        irrads = pvlib.irradiance.liujordan(solpos['apparent_zenith'].to_numpy(), transmittance, am_abs_array)

        total

[2020-12-02 15:10] cwhanse commented on #1099
Hi Trond,

Interesting question. We'd prefer usage questions to be asked in the google group or on stackoverflow. We use github discussions for software development.  Could you repost in one of those places?

I think we'll need to see more details regarding how the broadband irradiance from the pvlib functions is translated to spectral irradiance.

Cheers,

Cliff

[2020-12-02 15:10] #1099 closed

[2020-12-02 16:00] trondkr commented on #1099
@cwhanse Thank Cliff. I posted here:[https://stackoverflow.com/questions/65111670/use-total-irradiance-to-calculate-uv-index]( https://stackoverflow.com/questions/65111670/use-total-irradiance-to-calculate-uv-index)

[2020-12-02 16:36] #457 closed

[2020-12-03 23:48] cwhanse opened #1100 "Docstring for irradiance.liujordan isn't clear"
Docstring lists a parameter `pressure` but the parameter should be `airmass`. Appears to be an oversight in #386.

I examined the 1960 Liu/Jordan paper and don't recognize the equation coded https://github.com/pvlib/pvlib-python/blob/e4852c5563bc861f0d736f5ce294684ee6dc683e/pvlib/irradiance.py#L2231. Liu and Jordan (1960) don't mention airmass at all; is the model described in the Campbell and Nor

[2020-12-04 20:20] wholmgren commented on #1100
The original author of this code provided a [pdf](https://github.com/pvlib/pvlib-python/files/5645236/liujordan_radiation.pdf) for the relevant section of the book. This expression is equation 11.13. The preceding line states "...using an empirical equation adapated from Liu and Jordan (1960)". So it's fair to question whether this function should really be called `liujordan`.

[2020-12-07 18:53] Peque commented on #958
Just a note: having alpha in A/ºC and beta in V/ºC but gamma in %/ºC [can cause trouble/confusion](https://groups.google.com/g/pvlib-python/c/c7RN4cSnmxw/m/w6jaZl42AgAJ).

Also, in my probably biased and reduced experience, datasheets usually have these 3 values in %/ºC, maybe it could be interesting to consider a change to percentage as well.

[2020-12-07 20:11] kanderso-nrel commented on #1091
Partial update to give context to the XPASS failure in #1101 -- there was a data loading issue to the NSRDB API backend storage which is in the process of being corrected.  Not yet sure if the data we have on file for the test is correct or not.

[2020-12-07 22:28] wholmgren opened #1102 "add python 3.9 to ci configuration"

[2020-12-08 19:56] cwhanse commented on #1100
Thanks @wholmgren. I propose to:
- rename this function from `liujordan` to `campbellnorman`. The Liu-Jordan model is usually understood to be an empirical relationship between transmission coefficients for direct and diffuse irradiance, which can be used to separate DHI and DNI from clear-sky GHI. Instead, this function is a different sort than any other in pvlib currently, getting DNI and DHI fr

[2020-12-08 20:08] wholmgren commented on #1100
Good plan. Thanks for digging into this.

[2020-12-10 03:17] #1100 closed

[2020-12-11 02:34] yangangky opened #1105 "PVlib pvlib.solarposition.get_solarposition datetime issue"
**Describe the bug**
When use solarpostion.get_solarposition to get a dataframe, I found the date information have some erron.
1, The timezone is not consistant, including +8:00 and +9:00,  although I set up the timezone=+8:00.
2. An hour information is missed and anohter hour information is duplication.

**To Reproduce**
Steps to reproduce the behavior:
tz = 'Asia/Shanghai'
lat, lon = 31.2304, 12

[2020-12-11 03:15] wholmgren commented on #1105
Looks like daylight savings to me. Scroll to the bottom of https://timezonedb.com/time-zones/Asia/Shanghai

[2020-12-11 03:15] #1105 closed

[2020-12-11 18:47] kanderso-nrel commented on #1091
The NSRDB team tells me that the correction is now complete.  I'll open a PR to undo the xfail marker shortly.

[2020-12-12 21:16] #1091 closed

[2020-12-12 21:19] wholmgren opened #1108 "urls for pypi page"
copy https://github.com/NREL/rdtools/pull/248

[2020-12-14 23:02] wholmgren opened #1109 "make Array play nicely with fixed tilt systems and trackers"
#1076 is adding an `Array` class that largely describes a fixed-tilt array. However, the composition logic of `PVSystem: def __init__(arrays,...)` combined with the inheritance logic of `SingleAxisTracker(PVSystem)` makes for an odd combination of `Array` objects within `SingleAxisTrackers`. See, for example, https://github.com/pvlib/pvlib-python/pull/1076#discussion_r539704316.

In https://github

[2020-12-14 23:44] wholmgren opened #1110 "Improve ModelChainResult.__repr__"
did not require in #1076... we should improve the `ModelChainResult.__repr__`. See details below for what it currently looks like. A simple improvement might be a new line between the attribute and data, then a blank line between the end of the data and the next attribute name. Perhaps some indentation would help keep track of results from multiple arrays.

<details>

[code]

</details>

_Original

[2020-12-15 01:18] wholmgren opened #1111 "release 0.8.1"
We should finish up 0.8.1 before the holiday break. We're close to a good set of changes for 0.8.1, and we have a big PR (#1076) that is close to ready and will put us on the 0.9 cycle.

My suggestions for the current items open and tagged with [0.8.1 milestones](https://github.com/pvlib/pvlib-python/milestone/31):

* #717. Kick to 0.9.
* #949. Kick to 0.9.
* #1062. @kanderso-nrel can you finish t

[2020-12-15 01:19] wholmgren commented on #835
Should address as part of documentation changes in #1076

[2020-12-15 02:18] kanderso-nrel commented on #1111
Yes, I will try to get that done this week.  Thanks to all who reviewed!

[2020-12-15 04:36] mikofski commented on #1111
Sorry for being a stick in the mud. I'll have more time to work over the break on #717 and #949 for v0.9. thanks!

[2020-12-15 20:40] cwhanse opened #1113 "Remove default air temperature and wind speed from ModelChain.run_model etc."
Currently, `ModelChain.run_model` requires only irradiance as input. Air temperature and wind speed are optional, and if not provided, pvlib defaults to using 20C and 0m/s respectively. ModelChain method docstrings describe this behavior so it is not hidden from the user.

Although convenient for some use cases, supplying default air temperature and wind speed allows ModelChain.run_model() to comp

[2020-12-17 02:33] #1102 closed

[2020-12-17 08:53] adriesse commented on #1094
Good discussion.  There are data and PAN files from CFV labs here if it useful:

(https://pvpmc.sandia.gov/pv-research/pv-lifetime-project/pv-lifetime-modules/)

[2020-12-17 15:30] cwhanse opened #1115 "Update modelchain.rst"
`modelchain.rst` should be updated to describe use of `ModelChain` with the following new features:
- `ModelChain.with_xxxx` methods
- `ModelChain.run_model_from_poa` and `ModelChain.run_model_from_effective_irradiance`
- Collection of model output into `ModelChain.results` when #1076 is merged
- Use of `ModelChain` with a PVSystem with multiple Arrays (again when #1076 is merged)
- Use of air, mo

[2020-12-17 18:37] Peque opened #1116 "Update `ModelChain.run_model` documentation"
Related to [this thread in Google Groups about difficulties when trying to go from object-oriented to procedural API](https://groups.google.com/g/pvlib-python/c/I5U0owXvyc8).

So basically `.run_model()` does a great job at simplifying the required code in order to run a simulation, but it does a lot of "magic" behind the scenes and it is not easy to follow all the logic just looking at the source

[2020-12-17 21:31] wfvining opened #1117 "Integrate inverter.pvwatts_multi into PVSystem and ModelChain"
#1106 added a PVWatts variation that supports multiple DC power inputs. After #1076 is merged we should add this function as an option for the AC power model in `ModelChain`. Requires adding it to `PVSystem` and plumbing it in to `ModelChain`.

[2020-12-17 21:55] wfvining opened #1118 "Remove shadowed/unused kwargs from PVSystem methods"
**Describe the bug**
`calcparams_cec`, `calcparams_desoto`, and `sapm` have a `**kwargs` parameter that is shadowed and therefore unused. It should be deprecated and removed.

**Expected behavior**
Users should get an error when they pass arbitrary/unexpected kwargs.

**Additional context**
In #1076 these args are completely unused (not just shadowed)

[2020-12-21 16:41] cwhanse commented on #227
Closed by #708

[2020-12-21 16:41] #227 closed

[2020-12-21 20:20] cwhanse opened #1120 "Irradiance for cell temperature models"
Cell temperature models (e.g. [SAPM](https://github.com/pvlib/pvlib-python/blob/6e936f5799f5437845a9468eb2413efdada5c843/pvlib/temperature.py#L51), [PVsyst](https://github.com/pvlib/pvlib-python/blob/6e936f5799f5437845a9468eb2413efdada5c843/pvlib/temperature.py#L287), [Faiman](https://github.com/pvlib/pvlib-python/blob/6e936f5799f5437845a9468eb2413efdada5c843/pvlib/temperature.py#L378)) expect `'p

[2020-12-22 18:46] kanderso-nrel commented on #1111
Maybe bump #1062 to 0.9.0?  Checking against the reference isn't a small job and the holidays are coming up quick.

[2020-12-22 20:58] wholmgren commented on #1111
Is the comparison in the first post of #1062 not sufficient? It looked good to me. I'll review #1074 this afternoon.

[2020-12-23 18:37] #1108 closed

[2020-12-27 22:41] ncroft-b4 commented on #1109
I like the idea of depreciating the `SingleAxisTracking` class and wrapping tracking functionality more directly into `PVSystem` and `Array`. I don't quite picture yet how it would work on the user side. They can directly create a `SingleAxisTrackerArray` and then pass that to a `PVSystem`? Or create a `FixedTiltArray` and pass that?

I think we should keep in mind though that when you have a trac

[2020-12-28 16:33] wholmgren commented on #1109
Yes.

True. The main application that I can see for mixing a `SingleAxisTrackerArray` with something else is for modeling systems with a mix of broken and working trackers, so it would look something like:

[code]

We discussed deprecating that functionality but haven't committed to it.

Interesting idea. I could see this working at the `PVSystem` level so that you can retain the ability to create

[2021-01-04 21:11] cwhanse commented on #1115
Recommended [text](https://github.com/pvlib/pvlib-python/pull/1076#issuecomment-754195443) to include in a PR for this issue.

[2021-01-05 02:46] #1111 closed

[2021-01-05 23:55] mikofski opened #1124 "Add link to ASV pvlib-benchmarker in documentation"
**Problem**
I can't find any reference or links to the ASV benchmarker in the documentation

**Solution**
I think a small section with a link to the ASV benchmarker and some discussion about why we benchmark pvlib, how to use read the results, and whatever

**Alternatives**
There are links in the pull request #1049

**Additional context**
The benchmarks are really cool, and it's impressive that we

[2021-01-06 00:11] kanderso-nrel commented on #1124
ICYMI, there technically is a trail of breadcrumbs that gets you to the benchmark graphs page, but it's a little roundabout:
- https://pvlib-python.readthedocs.io/en/stable/contributing.html#benchmarking
- https://github.com/pvlib/pvlib-python/blob/master/benchmarks/README.md

But it's not very discoverable and can certainly be made more useful.

[2021-01-06 00:32] mikofski commented on #1124
Agh! I searched different variations of benchmark(s) and benchmarker, but not "benchmarking" and evidently the sphinx/rtd search engine is very picky.

[2021-01-06 00:47] wholmgren commented on #1124
How about adding to the table of badges in the main readme?

[2021-01-06 09:42] yangangky opened #1125 "alarm "too many indices for array" when use pvfactors_timeseries"
**Describe the bug**

When I run the following code, it will alarm "too many indices for array" . I think there is only one index was input, why it alarm that? please help. [Thanks.]

**Screenshots**

![image](https://user-images.githubusercontent.com/74975184/103753539-1e3a4480-5046-11eb-974b-964251342b18.png)

**Versions:**
 - ``pvlib.__version__``:  0.8.0
 - ``pandas.__version__``: 0.24.2
 - py

[2021-01-06 09:44] yangangky commented on #1105
Thanks a lot. I have finised simulation comparison with PVsyst  for monofacial module/fixed rack system yeasterday. The MBE/RMSE is so good.  Thanks a lot for you help and this amazing software.

[2021-01-06 14:11] wfvining opened #1126 "Improve documentation of ModelChainResult class"
The RTD page gives a nice list of fields, but is otherwise quite bare. We should add docstrings describing each field.

This is follow on work from #1076.

[2021-01-06 16:57] cwhanse commented on #1125
@yangangky Could you post this issue to https://groups.google.com/g/pvlib-python ? It would help if you can also post the code. The screenshot isn't enough to understand the error python is reporting.

[2021-01-07 01:56] yangangky commented on #1125
@cwhanse , Cliff, thanks a lot for your response. My google account can not be allowed to send a meesage. It alarmed "Error while posting message".  I have joined the pvlib-python groups. If it need a permission before I can post a message?

![image](https://user-images.githubusercontent.com/74975184/103841399-79b01500-50ce-11eb-9b06-1b52cf10afc9.png)
![image](https://user-images.githubusercontent

[2021-01-07 12:31] yangangky commented on #1125
The issue has been solved by change the surface_azimuth and surface_tilt to a list. like surface_azimuth = [180 , 180]...

[2021-01-07 17:50] cwhanse commented on #1125
@yangangky reports an opportunity to improve `pvlib.bifacial.pvfactors`.  Opening a new issue to describe the improvement.

[2021-01-07 17:50] #1125 closed

[2021-01-07 17:55] cwhanse opened #1127 "bifacial.pvfactors expects arrays for surface_tilt and surface_azimuth inputs"
The docstring for `bifacial.pvfactors` describes these two parameters:

[code]
Based on the docstring I would expect the function to run with e.g. `surface_azimuth` being a float. But it doesn't; it only runs when `surface_azimuth` is an array or Series of the same length as other time-dependent inputs. Providing `surface_azimuth` as a float yields `IndexError: too many indices for array`

Issue o

[2021-01-07 18:03] #1067 closed

[2021-01-08 20:43] StefaE opened #1128 "pvlib.irradiance.erbs and .disc to accept kt as optional input parameter"
Some weather forecasts (eg. Deutscher Wetterdienst, [MOSMIX](https://www.dwd.de/DE/forschung/wettervorhersage/met_fachverfahren/nwv_anschlussverfahren/mosmix_verfahren_node.html)) provide GHI (in MOSMIX 'conveniently' dubbed 'Rad1h' and in units of kJ :-( ) and kt (dubbed 'RRad1)).

**Proposal**
pvlib.irradiance.erbs could easily be enhanced to optionally accept kt as a parameter:

[code]
This cha

[2021-01-13 08:14] mikofski opened #1130 "numpy intersphinx object inventory changed"
**Describe the bug**
the new url is https://numpy.org/doc/stable/

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/pvlib/pvlib-python/blob/b0d29f550ea14d49499a97d60fa80c32a2a883d6/docs/sphinx/source/conf.py#L319

this goes to the main scipy docs page, not NumPy

**Expected behavior**
where ever numpy functions, classes, etc are used, they should be automatically linked, but t

[2021-01-13 15:53] kanderso-nrel commented on #1130
Relevant log output from the most recent `latest` [RTD build](https://readthedocs.org/api/v2/build/12713455.txt):
[code]

I think the intersphinx links are nice to have and and worth keeping as long as they aren't much effort to maintain.  Especially in the example gallery I imagine it is convenient for some users to have wikipedia-style cross-links as they read ("what does np.unique do again?")

[2021-01-14 15:41] cwhanse opened #1131 "Add doc page describing content of CEC databases read by pvlib.pvsystem.retrieve_sam"
Descriptions of the databases read by `pvlib.pvsystem.retrieve_sam` aren't found in documentation or in function docstrings. The provided link to SAM pages leads to a bibliography of NREL publications, and it isn't clear which publication contains a description of the SAM CEC files.

As an alternative to adding to pvlib documentation, documentation could be added to the SAM project but it is not c

[2021-01-14 16:22] wholmgren commented on #1131
duplicate of #838?

[2021-01-14 16:23] wholmgren commented on #1131
#964 also relevant

[2021-01-14 16:33] cwhanse commented on #1131
Closed, duplicate of #838

[2021-01-14 16:33] #1131 closed

[2021-01-15 21:15] EricDuminil commented on #1116
@Peque Your initiative sounds great. One advantage of your example is that it takes weather into account.

The current [examples](https://pvlib-python.readthedocs.io/en/stable/introtutorial.html) use a clear sky model, which lead to very high yields. Ignoring the clouds might not be a huge problem in Albuquerque, but it doubles the expected yield in Berlin.

If you're interested, I forked the Obje

[2021-01-19 21:04] Peque commented on #1116
I could open a MR just to make the procedural and OO results in the documentation match exactly, that's easy:

[code]

In order to contemplate [a more complex case as mentioned in Google groups](https://groups.google.com/g/pvlib-python/c/I5U0owXvyc8), I would need to further modify the examples to use actual meteorological data. I am not sure it is worth it. I was thinking about the seconds added

[2021-01-19 21:10] Peque opened #1133 "Remove outdated and possibly unused `environment.yaml`"
The file `docs/environment.yaml` seems to be outdated as it is not possible to generate the documentation with a virtualenvironment created based on that file. It is currently missing `dataclasses` (since it declares use of Python 3.6), `sphinx-gallery`, `sphinx-toggleprompt` and `Pillow`.

Since all those dependencies and the `dataclasses` requirement for Python 3.6 is already handled in `setup.p

[2021-01-19 21:12] wholmgren commented on #1116
+1 for the quick fix.

Also +1 for using actual meteorological data. The `pvlib/data` directory contains some example data and you could put more in it for this purpose. We don't have a helper function for dynamically finding that directory, though I think we discussed this in another issue in the last 6-12 months. You'd have to come up with a solution using `Path` or similar. But I'm not too conc

[2021-01-19 21:15] wholmgren commented on #1133
correct, the doc build uses an environment specified by `pip install pvlib[doc]`

[2021-01-19 21:34] #1133 closed

[2021-01-19 21:37] wholmgren opened #1135 "ModelChain.prepare_inputs press_temp can be unbound"
The except block should set `press_temp = {}`. The kwarg should also be called as a kwarg.

https://github.com/pvlib/pvlib-python/blob/149fd02e9edae50b9acf74a499344f1ce6c06677/pvlib/modelchain.py#L1352-L1360

[2021-01-20 15:25] #1117 closed

[2021-01-20 19:43] wholmgren commented on #476
@cwhanse we need this for SPI. Do you have any concern with adding this

[code]

to

https://github.com/pvlib/pvlib-python/blob/56971c614e7faea3c24013445f1bf6ffe9943305/pvlib/modelchain.py#L732-L735

?

Or do you think we should go ahead with @markcampanelli's suggestion above? I think @markcampanelli's suggestion is better on the merits but it's a much bigger change and I don't know how to do it

[2021-01-20 19:59] cwhanse commented on #476
I don't have a problem patching that into `pvlib.modelchain.ModelChain.pvwatts_dc`. I think it's an oversight that the scaling was left out, since it differs from the `sapm` and `singlediode` methods.

[2021-01-20 20:18] wholmgren commented on #476
I think we left it out because it's arguably a departure from the pvwatts model in which you're typically specifying the pdc0 of the entire system. But I don't see a problem with the extension within our data model.

[2021-01-20 20:36] cwhanse commented on #476
want me to open a PR? Or have you got it?

[2021-01-20 20:37] wholmgren commented on #476
Would be great if you can do it.

[2021-01-20 21:13] cwhanse commented on #1044
Closed via #1129

[2021-01-20 21:13] #1044 closed

[2021-01-20 21:15] cwhanse commented on #492
@wholmgren closed via #1136?

[2021-01-20 21:17] #492 closed

[2021-01-20 22:00] alorenzo175 opened #1139 "ModelChainResult.cell_temperature is not always a pandas.Series"
For a `ModelChain` configured as below, the `cell_temperature` when running the model chain with a list of data like `ModelChain.run_model([data])` is a tuple with a single number instead of the expected Series

**To Reproduce**
[code]

**Expected behavior**
`type(ModelChain.run_model([data]).results.cell_temperature) == pd.Series`
__

**Versions:**
 - ``pvlib.__version__``:  0.8.1+4.gba4a199
 - `

[2021-01-20 22:41] cwhanse commented on #1139
Confirmed. This is a bug in `pvlib.modelchain.ModelChain._prepare_temperature` not all inputs are tuples and aren't being converted. @wfvining fyi and lmk if you want to fix it.

[2021-01-21 12:39] AdamRJensen commented on #1015
@wholmgren I have rewritten the function a bit to make it simpler and tested it on a few thousand of BSRN files. It's my first pull request, so perhaps you could review it and tell me if I am missing something?

[2021-01-21 17:12] slightfoote commented on #1057
possibly of interest as an alternative data source: https://azure.microsoft.com/en-us/services/open-datasets/catalog/noaa-global-forecast-system/

[2021-01-21 21:22] #476 closed

[2021-01-21 23:02] wholmgren commented on #998
@cwhanse we've added a couple more inverter models (the multi variants) to `PVSystem` in the 0.9.0 development cycle. I'm thinking we should move forward on this issue before they're released and we need to go through more deprecations.

As for name, I think `PVSystem.get_ac` or `PVSystem.get_ac_power` is most consistent with the other wrapper methods, but I also like the other options you propose

[2021-01-21 23:14] cwhanse commented on #998
Agree. I'm partial to `get_ac` with `how=<method name>`

[2021-01-21 23:26] wholmgren commented on #998
How should we account for the lack of voltage data with pvwatts? I guess we can use a kwarg that's required for the non-pvwatts methods. Alternatively we could require the user to pass an argument that would be ignored for the pvwatts method. Neither sounds great.

[2021-01-22 03:44] cwhanse commented on #998
`ModelChain.get_ac` wouldn't have that issue, I think, since it can inspect `ModelChain.results.dc` and get what's needed.

For `PVSystem.get_ac(pdc, vdc=None)` is similar to what I see done in e.g. scipy.optimize.minimize where many methods are wrapped, and some kwargs are needed for some but not all methods.

[2021-01-22 03:56] wholmgren commented on #1135
This is not actually possible because the first line of the block always assigns at least `press_temp = {}`. Better style would be to move the first line out of the try block.

[2021-01-22 03:56] #1135 closed

[2021-01-22 04:11] jmarcrum3 opened #1141 "pvsystem.retrieve_sam('cecmod') missing missing am_coeff values for Canadian_Solar_CS5P_220M"
I'm trying to use the forecast_to_power.ipynb notebook, but I get an error on the effective_irradiance = pvsystem.sapm_effective_irradiance(poa_irrad.poa_direct, poa_irrad.poa_diffuse, airmass, aoi, sandia_module) function call for this module because there aren't any values for A1, A2, A3, A4, etc.

Can this be fixed quickly?  This seems to be the case for many different modules.

pvlib usage que

[2021-01-22 04:17] jmarcrum3 opened #1142 "SingleAxisTracker error on aoi_model for cecmod, Canadian_Solar_Inc__CS6X_305P module."
I'm trying to run the code at the botom of the [https://pvlib-python.readthedocs.io/en/latest/forecasts.html] page, however I get an aoi_model error every time.   Can the library be updated?

Error:
could not infer AOI model from system.module_parameters. Check that the system.module_parameters contain parameters for the physical, aoi, ashrae or martin_ruiz model; explicitly set the model with the

[2021-01-22 05:06] #1142 closed

[2021-01-22 05:07] jmarcrum3 commented on #1142
Add by mistake

[2021-01-22 14:20] wfvining commented on #1139
Definitely a bug, but I think the correct behavior is slightly different than you expect. Because you pass a list to `ModelChain.run_model()` the output should be a tuple with a single `pd.Series` element.

[2021-01-22 15:33] alorenzo175 commented on #1139
I agree that passing data as a tuple/list should result in all results being tuples of Series/DataFrames. So perhaps this is a separate bug, but ``array_run.results.total_irrad`` (and other results properties) is a singular `pd.DataFrame` instead of `Tuple[pd.DataFrame]`.

[2021-01-22 15:39] wfvining commented on #1139
Yes, that's the problem. We should make those match the type of `ModelChain.weather`. Not sure about this, but we might be able to pass `unwrap=isinstance(self.weather, tuple)` to the `PVSystem` methods to accomplish this. Probably won't be that easy though, since `ModelChain` interacts heavily with `PVSystem` attributes like `temperature_model_params` which can't accept that kwarg.

[2021-01-22 15:47] wholmgren commented on #1141
You cannot use the "cec" modules with the "sapm" functions. Please search the Google group and stack overflow for several related discussions.

[2021-01-22 15:47] #1141 closed

[2021-01-22 16:06] wholmgren commented on #1128
Thanks @StefaE. In don't understand the benefit of this proposal because `kt` and `ghi` are completely dependent on each other and there is essentially no uncertainty in converting between them. If the forecast has meaningful differences between them (i.e. kt derived from forecast ghi is meaningfully different from forecast kt) then I'd question the solar position algorithm within the weather mode

[2021-01-22 18:53] alorenzo175 commented on #1139
Perhaps a related error is raised when running
[code]
raises a TypeError here https://github.com/pvlib/pvlib-python/blob/6b92d218653633e366241c31e8836c0072739ece/pvlib/modelchain.py#L1102-L1106
because `self.results.aoi_modifier = 1.0` and `self.results.spectral_modifier = 1.0`
https://github.com/pvlib/pvlib-python/blob/6b92d218653633e366241c31e8836c0072739ece/pvlib/modelchain.py#L904-L909

[2021-01-22 19:08] cwhanse commented on #1128
From the perspective of distributing reference implementations of published algorithms, the proposal could be of use for a small number of users. The Erbs paper doesn't specify which method is to be used to determine extraterrestrial irradiance. There isn't much difference among extraterrestrial irradiance models (or the solar position algorithms) and the defaults in pvlib are reasonable choices.

[2021-01-22 19:17] wfvining commented on #1139
Yup, that's the *first* place this error creeps in. That needs to change, as well as the methods that apply loss models from `PVSystem`.  `ModelChain._prep_inputs_fixed()` also needs updating, as well as `_prepate_temperature` itself. I suspect there are one or two other places as well.

I'm kicking myself a bit for not considering this corner case initially. Very glad you found it early on.

[2021-01-22 21:55] #1065 closed

[2021-01-22 21:56] cwhanse commented on #998
Reaction to this `PVSystem.method`? It assumes the current `PVSystem` inverter methods will be deprecated.

[code]

[2021-01-22 22:02] cwhanse commented on #998
I think the laddered if/else is clear but not elegant. It could be more compact (and probably less clear) if we accepted 'sandia_mult' and 'pvwatts_multi' as model values, but, I think it's easier on the user to build the multi-array inverter model selection into this method.

[2021-01-22 22:16] cwhanse commented on #998
`ModelChain.get_ac` presents a different problem. Currently, `ModelChain` accepts the 'ac_model' parameter as a string which is used to set the attribute `ModelChain.ac_model` to a `ModelChain` method for the inverter model.

What is expected from `ModelChain.get_ac`?
- sets the `ModelChain.ac_model` attribute, and the `.run_model` method still has a `self.ac_model()` statement.
- sets the `ModelC

[2021-01-22 22:20] wholmgren commented on #998
Method generally looks good to me. A few suggestions:

* `model` is required, so it should be an arg or a `kwarg` with a non-None default value.
* I think the `_validate_per_array` calls belong outside the if block.
* replace the `if model not in ['sandia', 'pvwatts']` with an else block that raises the same `ValueError`

I'm ok with that. Would you apply the same logic to the modelchain layer? Th

[2021-01-22 22:45] wfvining commented on #1139
One simple solution might be to add some indirection when assigning to `ModelChain.results`. Instead of assigning directly, assignments go through an `_assign_result(field, value)` method that ensures the type matches `ModelChain.weather`. This might not be the *best* option, but it would not be too difficult to implement.

[2021-01-24 21:26] StefaE commented on #1128
@wholmgren - I can't really comment on dependency between `kt` and `ghi` - for that I'm way too new to the subject (off-topic: If there are great resources to learn about such things ... :-) ); I just noticed that the forecasts I'm getting have two radiation related parameters. At the very minimal - that makes one wonder how they'd influence a performance forecast.

dni(erbs) vs. dni(erbs with kt

[2021-01-25 00:38] cwhanse commented on #1128
@StefaE can you tell from the forecast documentation if `kt` is clearness index (global horizontal irradiance / extraterrestrial irradiance) or is it clearsky index (global horizontal irradiance / clearsky global horizontal irradiance)?

[2021-01-25 22:15] StefaE commented on #1128
LOL - this is a [tax funded operation](https://www.dwd.de/SharedDocs/downloads/EN/general/facts_figures.pdf?__blob=publicationFile&v=6); what do you mean with "documentation"? It says only _global irradiance within the last hour_. When I asked them through eMail for details, they came back that it was a "relative global irradiation" - that was hard to guess from the unit [%].

When I plot  `kt_erb

[2021-01-26 17:49] wfvining opened #1148 "It should be impossible to instantiate a PVSystem with no Arrays"
**Describe the bug**
It should be impossible to instantiate a `PVSystem` with no `Arrays`. Currently this is possible via `PVSystem(arrays=[])`.

**To Reproduce**
Steps to reproduce the behavior:
[code]
results in this PVSystem:
[code]
**Expected behavior**
A `ValueError` should be raised indicating that a PVSystem must have at least one `Array` and suggesting that a system with an arbitrary defau

[2021-01-26 20:58] #1116 closed

[2021-01-26 22:32] wholmgren opened #1149 "improve accuracy of introtutorial.rst coordinates"
It might be a good time to correct the inaccurate coordinates in `introtutorial.rst`.
Right now, San Francisco is in Reno and Berlin is almost in France.

If you're interested:

[code]
Here's the commit:
https://github.com/EricDuminil/pvlib-python/commit/7abbfc8e7d9c4a59ee1b937948cb4eefeaab1801

_Originally posted by @EricDuminil in https://github.com/pvlib/pvlib-python/issues/1144#issuecomment-76

[2021-01-27 19:48] #998 closed

[2021-01-28 19:37] mikofski opened #1151 "pvsyst cell temp docs for eta_m arg missing "area" from definition"
**Describe the bug**
the definition for `eta_m` says:
![image](https://user-images.githubusercontent.com/1385621/106188516-e82b4480-615b-11eb-9b6f-239a67c7b74c.png)

But I think this should actually be: `(total DC power) / (poa_global * (total active module area))`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pvlib-python.readthedocs.io/en/latest/generated/pvlib.temperature.

[2021-01-28 20:06] cwhanse commented on #1151
Agree. Good catch.  Maybe "number of cells x cell area" would be more clear than "total active module area"

[2021-01-29 19:35] jsstein opened #1153 "pvlib.irradiance.reindl() model generates NaNs when GHI = 0"
**Describe the bug**
The reindl function should give zero sky diffuse when GHI is zero. Instead it generates NaN or Inf values due to "term3" having a quotient that divides by GHI.

**Expected behavior**
The reindl function should result in zero sky diffuse when GHI is zero.

[2021-01-29 19:41] cwhanse commented on #1153
Verified. Looks like an easy fix.

[2021-01-30 07:09] mikofski opened #1155 "SURFRAD site & date-range download"
**Is your feature request related to a problem? Please describe.**
the current [SURFRAD `iotools`](https://pvlib-python.readthedocs.io/en/latest/generated/pvlib.iotools.read_surfrad.html) only reads in a singe day `.dat` from either an URL or a filesystem, EG:
[code]

Unfortunately, I can't quickly read an entire range or any arbitrarily large date range. I can use `pvlib.iotools.read_surfrad` in

[2021-01-30 07:11] mikofski commented on #1155
Maybe I should've posted this in the group first? Is there any appetite for this? Better as a script or as a module? Logging okay or less?

[2021-01-31 16:50] EricDuminil commented on #1149
Is there something specific I could help with?
Show on a map where the coordinates where, and where they are now?

[2021-01-31 18:06] wholmgren commented on #1149
It would help if you made a pull request with the changes you'd like to see

[2021-02-01 16:38] cwhanse commented on #1155
I think the existing function is OK as is because SURFRAD publishes daily files. Its not the intent to use that function to read a year of data.

I have downloaded years of SURFRAD data using wget. Its not fast but its a single command line statement. Reading into memory isn't too bad using the pvlib function.

But I can see the utility of having both steps in python.  What about adding a script t

[2021-02-01 18:34] shirubana opened #1156 "read_epw data shifted 1 hour back"
**Describe the bug**
It seems that the EPW data being read is being shifted one hour back.

**To Reproduce**
[code]

**Expected behavior**
The EPW weather files follow IWEC Manual’s conventions, where the data is aggregated hourly as an average from t-1 to t, just like Typical Meteorological Year Data (TMY). From example, from IWEC Manual:

**Screenshots**
If applicable, add screenshots to help ex

[2021-02-01 19:23] wholmgren commented on #1155
Following the patterns in some other `iotools` modules, I'll suggest 1. refactoring the io components out of `read_surfrad` so that it only performs the parsing and 2. making a new function `read_surfrad_from_noaa_ftp(site, start, end)` that manages a thread pool. It seems to me that work should be dispatched by the day, not by the year.

I'm leery of adding an example that uses a thread pool sinc

[2021-02-02 21:25] mikofski commented on #1155
Thanks all!

I totally agree! After iterating a bit I decided the existing parsing function is fine, but I just wanted a faster way to download the raw SURFRAD `.dat` files. For 7 sites and 25 years of data, and my last minute work ethic, waiting 28 hours just wasn't feasible 🤣

This might work. It's not the way I started, but it could be more convenient for folks who want a date range, especially

[2021-02-02 21:35] #1153 closed

[2021-02-04 18:20] #1139 closed

[2021-02-04 18:32] wholmgren commented on #1113
We'd need to add some warning/deprecation machinery to address the change in required weather, so it would also be a good opportunity to change the name from `temp_air` to `air_temperature` or `temperature` (#894).

[2021-02-04 23:18] alorenzo175 opened #1159 "ValueError: SingleAxisTracker, Array, and running the model on a tuple/list of weather"
**Describe the bug**
I know a refactoring of the Array with single axis tracking is in the works #1146. In the meantime, a `ValueError` is raised when trying to run a SingleAxisTracker defined with an array and supplying (ghi, dni, dhi) weather as a tuple/list. I would expect calling `run_model([weather])` would work similarly to a modelchain for a fixed system with an array singleton. The error s

[2021-02-05 03:36] #1149 closed

[2021-02-05 10:21] flxzmmrmnn opened #1161 "AttributeError: module 'pvlib' has no attribute 'shading'"
I am trying to model the self shading of the diffuse radiation with pvlib.shading.masking_angle_passias() and pvlib.shading.sky_diffuse_passias(). When I try to run the modell I get the following error:

AttributeError: module 'pvlib' has no attribute 'shading'

**Versions:**
 - ``pvlib.__version__``: 0.8.0
 - ``pandas.__version__``: 1.2.1
 - python: 3.8.5

[2021-02-05 13:19] #1161 closed

[2021-02-05 15:52] kanderso-nrel commented on #1161
Hi @flxzmmrmnn, thanks for the report.  This was fixed in #1103 -- you can work around this problem either by using `from pvlib import shading; shading.masking_angle_passias()` or by upgrading to pvlib 0.8.1.

[2021-02-05 16:56] #1159 closed

[2021-02-05 20:26] alorenzo175 opened #1163 "ValueError: ModelChain.run_from_effective_irradiance([weather]) when only providing temp_air and wind_speed"
**Describe the bug**
According to the (new) docstring for `ModelChain.run_from_effective_irradiance`, cell temperature can be calculated from temperature_model using `'effective_irradiance'`. This is not the case when using one or more arrays
https://github.com/pvlib/pvlib-python/blame/master/pvlib/modelchain.py#L1589-L1606

**To Reproduce**
[code]

**Expected behavior**
Running the model with bot

[2021-02-05 21:16] wholmgren commented on #1163
@cwhanse we overlooked updating this in #1129:

https://github.com/pvlib/pvlib-python/blob/b40df75ddbc467a113b87643c1faef073cc37b3e/pvlib/modelchain.py#L1594-L1598

I believe we need to replace this with

[code]

[2021-02-05 21:39] wholmgren opened #1164 "move ModelChain.times, weather to ModelChainResult"
`ModelChain.__init__` sets attributes `times` and `weather` to `None`. The `ModelChain.run_*` methods store the input weather data on `weather` and they store the index of the input weather data on `times`.

The weather data may be a tuple of DataFrames, so `times` provides convenient access to the common index (other functions enforce the common index requirement) for computing solar position. `M

[2021-02-08 19:05] #1163 closed

[2021-02-09 14:36] flxzmmrmnn opened #1166 "bifacial.pvfactors_timeseries() TypeError: unsupported operand type(s) for +=: 'NoneType' and 'str'"
Hey there,

I am trying to run the function bifacial.pvfactors_timeseries(), but I get the error: TypeError: unsupported operand type(s) for +=: 'NoneType' and 'str'. I am not sure which of my imput values is wrong. Bellow you can see the function how I have written it and afterwards all the input values.

            bifacial = pvlib.bifacial.pvfactors_timeseries(solar_azimuth=

[2021-02-09 17:29] cwhanse commented on #1166
Hi @flxzmmrmnn could you repost your issue on either Stackoverflow or Googlegroups? The links are in the Getting Support section of the pvlib-python github homepage.

I think we need a code sample to run that produces the error you are seeing.

It is possible you have found an issue in pvlib, but until we can identify and confirm an issue I am going to close this.

[2021-02-09 17:29] #1166 closed

[2021-02-11 15:42] #1015 closed

[2021-02-18 15:24] IntiPic opened #1170 "Problem with detect_clearsky?"
Hello!

I'm using 10m GHI data (in the form of a Pandas series) to detect clear sky conditions, against the ESRA clear sky model as comparison (series too).
When running the code I got the error: "ValueError: Buffer has wrong number of dimensions (expected 1, got 2)". I realized that this was because since my measure is a Pandas Series, I can't perform measure[H] where H is the constructed Hankel

[2021-02-18 15:41] cwhanse commented on #1170
Hi Inti,

Which version of pvlib? If v0.8.1, we refactored that function and you may have found a bug in the code.

Cheers,

Cliff

[2021-02-18 15:54] IntiPic commented on #1170
Hi Cliff, I was using v0.6.3, updated and works smoothly.
Thanks for pointing that out, and I'm really sorry for the inconvenience!

Cheers
Inti

[2021-02-18 15:59] cwhanse commented on #1170
No worries, glad it works for you.

[2021-02-18 15:59] #1170 closed

[2021-02-18 16:15] belagoof opened #1171 "snow.coverage_nrel not fully implemented according to reference"
The implemented snow coverage and losses functionality refers to Ryberg and Freeman (2017) for implemented improvements to the model by Marion (2013). However Ryberg & Freeman describe a check where snow coverage is set to zero when snow cover on ground (external input data) is zero (otherwise arrays with low tilt angles are estimated to be snow covered for very lonog periods, and horizontal array

[2021-02-22 15:38] ManuBadillo opened #1174 "TMY-generator"
A tool that allow's the creation of a TMY from a multi-year time-series would be very helpful.
I've created a [repository](https://github.com/ManuBadillo/TMY-Solar), however I'm a coding beginner.
Please feel free to contribute to my repository or migrate to this one.
Regards.
Manuel.

[2021-02-26 00:59] mikofski opened #1178 "clipping off-mpp operating point calculation"
**Feature request**
An algorithm that determines the off-mpp operating point for inverters that are clipping

**Describe the solution you'd like**
Assuming that if the converted AC out is greater than rated AC (at the ambient temperature), then the inverter will increase the voltage until the AC output, what is the DC output, DC voltage, and inverter efficiency loss

**Describe alternatives you've

[2021-02-26 07:59] mikofski opened #1180 "use horners method in DISC instead of calculating so many powers and polynomials"
**Describe the bug**
the disc method has a lot of power and polynomials. IMO whenever possible, polynomials should use [Horner's method](https://en.wikipedia.org/wiki/Horner's_method) which is already implemented in [`np.polyval`](https://numpy.org/doc/stable/reference/generated/numpy.polyval.html) but is [easy to reimplement if needed](https://poquitopicante.blogspot.com/2013/03/).

**To Reproduc

[2021-02-26 15:38] cwhanse commented on #1180
[code]
is more readable to me than the nested parentheses.

I'd be interested to see the performance difference.

[2021-02-26 16:13] wholmgren commented on #1180
I'm open to a PR that includes an asv test for efficiency and a regular test for precision. Keep in mind that `_disc_kn` is used within a loop in `gti_dirint`.

For anyone that comes across this issue when trying to understand why disc doesn't produce results that are as accurate as you like: this is not the cause of your problem. Search the pvlib google group and stack overflow tag for previous e

[2021-02-26 18:10] cwhanse commented on #1178
I agree, would be a nice feature. Somehow it should accept any of the inverter models, or, be some kind of extension within the existing functions so that a user doesn't have to choose to call an inverter function or this new function.

We could also open issues for:
- inverter temperature derating (would be easy if there is a source for the %AC power / degree C relationship)
- non-unity power fac

[2021-02-26 22:33] mikofski commented on #1180
by the numbers, Horner's is 2x faster which `np.polyval` is 50% slower:
[code]

since `kt2` and `kt3` are already pre-calculated and reused in `a`, `b`, and `c` I don't expect there to be any more time to be gained there, so really it's just `Knc` that could be 2x faster using Horner's. Tough call. Not worth it?

[2021-02-26 22:36] cwhanse commented on #1180
Good info about `np.polyval`, convenient but slower than doing it ourselves.  In this case, performance > readability.

It's a small effort to improve a frequently-used function so I'd say yes, worth it.

[2021-02-27 05:04] mikofski commented on #1180
I counted and surprisingly, there are the same flops in the existing `kt, kt2, kt3` code than in Horner's, in fact, there are exactly 3 more, because it's unnecessary to pre-calculate `kt, kt2, kt3` when using Horner's

By the numbers:

[code]

Surprise! Horners is about 10% faster for this part of the DISC too!

[2021-02-28 18:23] AdamRJensen commented on #849
@mikofski I'm developing a function for PVGIS hourly radiation and have a question to the person who developed the TMY function.

The get_pvgis_tmy function uses io.BytesIO(res.content) for the csv outputformat, whereas the epw format decodes the response: io.StringIO(res.content.decode('utf-8')). Is there a reason for not decoding the response for the csv outputformat (performance)? The reason I'

[2021-02-28 19:38] mikofski commented on #849
Sorry, no good reason I can think of.  I was probably just hacking at it until I could get it to work.  Maybe I tried a string buffer first and had issues? I can't find your code for `_parse_pvgis_hourly_csv`, are you planning to open a pull request to close this issue? Would be great to clean up my mess with cleaner code if you have it. Thanks!

[2021-02-28 21:38] AdamRJensen commented on #849
@mikofski Thanks for the update, it could have been some smart trick I wasn't aware of. I'm opening a pull request within the next few days to add functions for PVGIS hourly radiation and then in a second pull I can clean up the TMY so they follow similar formats.

[2021-03-01 19:58] #1028 closed

[2021-03-02 12:02] KushalBeniwal commented on #1151
@mikofski can I work on this issue?

[2021-03-02 14:42] abhinav9414 commented on #62
can I try to do this sir.

[2021-03-02 15:23] cwhanse commented on #62
Certainly. Are you somewhat familiar with PV system modeling? That would help with forming examples.

It would be best to take this up in small pieces. Maybe the file `iam.py` is a place to begin.

[2021-03-02 18:42] abhinav9414 commented on #62
ok ill start with iam.py file thanks for the boast.

[2021-03-03 00:04] mikofski commented on #1151
Yes, of course! thanks so much. If you need any help getting started check the [contribution guide](https://pvlib-python.readthedocs.io/en/stable/contributing.html) or you can at me here too.

[2021-03-05 18:28] #1151 closed

[2021-03-05 20:30] wholmgren opened #1184 "ModelChain.pvwatts_losses creates self.losses instead of ModelChainResult.losses"
@ncroft-b4 reports...

Thanks for catching that. `pvwatts_losses` and `no_extra_losses` should assign values to `ModelChainResults`, and `ModelChain._deprecated_attrs` should include `losses`. We can address that in another issue/pr.

_Originally posted by @wholmgren in https://github.com/pvlib/pvlib-python/pull/1168#discussion_r588616172_

[2021-03-07 15:59] kanderso-nrel opened #1185 "irradiance.aoi can return NaN when module orientation is perfectly aligned with solar position"
**Describe the bug**
I was playing with a dual-axis tracking mount with #1176 and found that when the modules are perfectly aligned with the sun (i.e. AOI should be exactly zero), floating point round-off can result in aoi projection values slightly greater than one, resulting in NaN aoi.  This only happens for some perfectly-aligned inputs (for example tilt=zenith=20, azimuth=180 returns aoi=0 as

[2021-03-09 22:36] wholmgren opened #1188 "change eta_m to module_efficiency"
`temperature.noct_sam` uses `eta_m_ref` to describe the module efficiency at reference conditions and `temperature.pvsyst_cell` uses `eta_m` to describe the module efficiency generically.

Just calling both of these `module_efficiency` would make the function signatures easily understandable by many more people. I'd be ok with `module_efficiency_ref` but I don't think that precision is very import

[2021-03-10 05:08] wholmgren commented on #1185
notable that pyephem essentially [clips](https://github.com/brandon-rhodes/pyephem/blob/8945b562ed97730843cdea52c3e6f3426f4cf3a4/extensions/_libastro.c#L2557-L2582) based on aoi projection.

I found [this stackexchange answer](https://scicomp.stackexchange.com/a/27694) after some googling. I must have made a mistake because I couldn't get that formula to work. But the [other answer](https://scicom

[2021-03-11 02:18] kanderso-nrel commented on #1185
Cool, thanks!  The problem was a missing sqrt.  Here's an updated version with some additional tweaks so that it works for arrays in addition to scalars:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

Testing the three functions with many random inputs (where solar position and module orientation are parallel) shows that the two methods from that SO post reliably return aoi=z

[2021-03-11 04:05] cwhanse commented on #1185
I'll take slow, correct and reliable over fast, mostly correct and not reliable.

[2021-03-11 04:15] mikofski commented on #1185
do a benchmark before you merge this so we can document when the performance hit occured

[2021-03-11 04:18] cwhanse commented on #1185
I have a mild preference for the `aoi` version, it is somewhat more readable and looks more likely to be further optimized.

[2021-03-11 06:21] mikofski commented on #1185
If you are okay with just VERY, VERY close to zero, but no NaN, then I have a really fast one for you:

[code]

It holds up quite well in the test:

[code]

output:
[code]

[2021-03-11 17:14] alorenzo175 opened #1192 "TypeError: running ModelChain with Arrays and module_temperature"
**Describe the bug**
Another bug using Arrays. This time a TypeError is raised in `pvlib.modelchain._get_cell_temperature` because `self.system.temperature_model_parameters` is zipped with dataframe tuples but is never a tuple itself
https://github.com/pvlib/pvlib-python/blob/dc617d0c182bc8eec57898a039cb5115b425645f/pvlib/modelchain.py#L1525

**To Reproduce**
[code]

**Versions:**
 - ``pvlib.__ver

[2021-03-12 18:08] #1192 closed

[2021-03-12 19:32] cwhanse opened #1194 "Duplicate Notes header in PVSystem.fuentes_celltemp method"
Duplicate Notes heading [here](https://github.com/pvlib/pvlib-python/blob/c17f7281c168caa7b68a2901b7e6116670138be6/pvlib/pvsystem.py#L724).  The second Note doesn't appear in the method [documentation](https://pvlib-python.readthedocs.io/en/stable/generated/pvlib.pvsystem.PVSystem.fuentes_celltemp.html)

[2021-03-15 20:17] #1194 closed

[2021-03-17 15:52] yangangky opened #1199 "sandia inverter issue for clipping result nowadays, we need a new function for inverter calculation"
**Is your feature request related to a problem? Please describe.**
Sandia inverter model is not suitable for clippling calculation nowadays. Because CEC inverter database do not have 'maximum  AC power' parameters, this parameters really decide the clipping starting line.

**Note:**
1. CEC inverter database use Paco (Nominal AC power) to calculate the clipping, which will let the clipping loss mak

[2021-03-17 19:12] adriesse commented on #1185
I've been using clip for a long time.  All these trig functions are numerical approximations and converting to and from radians doesn't help.  I also use vector representations frequently, but I think it is entirely possible that these variations have other corner cases where they fail.  In clip I trust.  :)

[2021-03-17 20:46] cwhanse commented on #1199
No argument from me that the Sandia/CEC inverter model can be improved. Contributions are welcome. Some caveats, however:
- we are unlikely to add a function (new inverter model) to pvlib that isn't backed up by a referenceable publication. As pvlib maintainers we don't have resources to develop and validate new models.
- adding a new inverter model without a ready source of inverter-specific para

[2021-03-17 20:53] cwhanse commented on #1199
@yangangky could you help me understand where the "Nominal output power" and "Max output power" values are obtained (in the inverter.datashett.s.information_2020.xlsx file).  For example, I am looking at the [datasheet for the SAM Sunny Central 2475](https://files.sma.de/downloads/SC2200-3000-EV-DS-en-59.pdf) inverter and I don't see a "nominal" output power of 2250.

[2021-03-18 08:30] yangangky commented on #1199
I use pvlib to calculate the inverter efficiency. When I use pvlib to simulate the power generation, I can get a dc_energy and ac_energy. The inverter efficiency =dc_energy/ac_energy. I calculate 32 inverters for the efficiency by this method.

Note:  I eliminate the clipping effection by using DC : AC < 1.0. (DC means dc nominal power for system design, AC means inverter nominal power)

[2021-03-18 09:04] yangangky commented on #1199
@ Cliff, You are right. As we discussed in the google group. [https://groups.google.com/u/1/g/pvlib-python/c/ibfhCWQrUhE](url)
The inverter output power indeed will be changed as the temperature variation in the database. So PVsyst use this information to create the OND file (inverter info.).

[20201121 SG3125HV-30 SG3400HV-30.pdf](https://github.com/pvlib/pvlib-python/files/6162598/20201121.SG312

[2021-03-18 09:36] adriesse commented on #1180
Miscellaneous observations:

- Since kt is in the range 0-1 I would not expect numerical issues with any evaluation method.  Air mass in the range 1-40 should be fine too.
- For speed, you could also look into using np.dot with the factors.
- The average scientist or student exploring the inner workings of pvlib will probably find the original easiest to understand.
- Thinking about code clarity,

[2021-03-18 11:28] pratapagiri opened #1200 "[Question] How to use horizontal tracking and vertical tracking parameters?"
Is there a way to user horizontal tracking and vertical tracking parameters (these values set to true or false) with the SingleAxisTracker ?

[2021-03-18 14:59] cwhanse commented on #1200
I'm sorry, I don't understand your question. Could you elaborate on the system you wish to model?

This appears to be a question about how to use pvlib rather than a request for a feature or reporting a bug. Could you post the question to the [pvlib google group](https://groups.google.com/forum/#!forum/pvlib-python)?

Cheers,

Cliff

[2021-03-18 14:59] #1200 closed

[2021-03-18 15:08] AdamRJensen commented on #810
@cwhanse Very nice with a roadmap, I'm particularly interested in the weather resources mentioned. First I can mention that I'm working on pull requests for PVGIS hourly radiation and SoDa-Pro CAMS and McClear. Also, a reader for BSRN files has been added.

Now, I think it would be very valuable to add support for retrieving MERRA-2 data. The Roadmap lists the provider as SoDa-Pro however, SoDa-Pr

[2021-03-18 15:24] cwhanse commented on #810
@AdamRJensen I am not familiar with the MERRA2 dataset or its sources. @mikofski? I am confident there is interest in a reader for pvlib.

The World Bank solar data set hasn't been brought up before. It appears to be SolarGIS's data combined with a relatively simple PV output model, which also appears to be sourced from SolarGIS. One advantage is global coverage. I'm not opposed to a World Bank re

[2021-03-18 15:33] AdamRJensen commented on #810
@cwhanse I do believe that you are right in that the World Bank Global Solar Atlas is compiled from SolarGIS data, however, the atlas only provides annual average values and not any time-serie data. This is why I question its usability for pvlib users and perhaps that it should be removed from the roadmap.

[2021-03-18 15:36] cwhanse commented on #1199
I suspect that undersizing the DC array will also underestimate efficiency, relative to the stated efficiency, which is supposed to be at full DC input and AC output, and nominal DC voltage. For the CEC inverter model, efficiency at rated input should be equal to pac0 / pdc0 (two parameters from the CEC database).

[2021-03-18 15:42] cwhanse commented on #1199
The limiting temperature (i.e. 45C) is measured internal to the inverter, I would guess with a thermocouple attached to one of the IGBTs, but perhaps elsewhere. Internal temperature will be higher than ambient. I know of no published model to translate from ambient temperature to internal inverter temperature.

[2021-03-18 15:45] cwhanse commented on #810
@mikofski your thoughts on the usefulness of the World Bank solar data? I think you had added it to the roadmap.

[2021-03-18 15:56] wholmgren commented on #835
closing in favor of #1126

[2021-03-18 15:56] #835 closed

[2021-03-18 18:00] #1164 closed

[2021-03-18 19:28] mikofski commented on #810
Sorry, tbh i'm not using world bank data. I think a coworker recommended it.

[2021-03-18 19:47] cwhanse commented on #810
I'll downvote it's relevance. Let's put off any effort to add a reader for the World Bank data set.

[2021-03-18 21:00] mikofski commented on #1199
At SunPower & DNV we always treated this as ambient temperature. We worked closely with SMA, I don't recall them using onboarding temperature. Pvsyst help has a section on this:
https://www.pvsyst.com/help/inverter_outputparameter.htm

- **Ambient external temperature, the usual parameter admitted by manufacturers for outdoor installation.** (emphasis mine)

- Ambient external temperature + specif

[2021-03-18 21:14] mikofski commented on #1180
Great feedback!

Possibly true,  but I feel a bit like Horner's method,  `log1p`, & `arctan2` are tools od the trade like unit tests,  Sphinx doc RST markup, Git, etc., that contributors & students of scientific computing must learn

I agree

When I test `np.dot` or `np.linalg.norm` or `np.polyval` they're usually slower than just `x*x + y*y` but I think readability is important, so maybe depends

[2021-03-19 02:33] yangangky commented on #1199
Thank you for your illustration. Sorry for that I did not give you a clear illustration for the DC:AC value.

The DC:AC value about 0.9 to 1.0 for previous simulation. However, I did the simulation again keep the DC:AC=1.0, **the conclusion is as the same**. You can review the deatails as attachment.
[sam-library-cec-inverters-including inverter efficiency by pvlib_V1.xlsx](https://github.com/pvli

[2021-03-19 02:56] yangangky commented on #1199
Hi Cliff, the temperature is ambient temperature, not the inverter machine internal temperature. Below graph is the sungrow inverter charateristics curve, the test was under the ambient temperature. Because the permission, I can not load this the total file on here.

![Sungrow inverter characteristics curves](https://user-images.githubusercontent.com/74975184/111725276-c0c23f80-88a1-11eb-91db-81d3

[2021-03-19 03:05] yangangky commented on #1199
Hi, Mark. Thank you for your illustration and information. It is helpful.

Yes, Sungrow indeed treat it as ambient temperature.

[2021-03-19 16:02] cwhanse commented on #1199
I looked at several inverter company's technical documents and they all describe that temperature as "ambient". I'm still puzzled how that temperature is measured in an actual inverter, but that's a different question.

The challenge here is a referenceable source for a model for inverter derating by temperature. It's not simply a matter of temperature: DC voltage plays a role, as does AC power ou

[2021-03-19 16:08] wholmgren commented on #1199
duplicate of https://github.com/pvlib/pvlib-python/issues/85

[2021-03-19 16:21] janinefreeman commented on #1199
@dguittet implemented SAM's original inverter temperature derating model,  and @mjprilliman modified it to be derate power rather than current, I believe. They may be able to better describe how it works. It should be documented somewhere in the SAM help, @cpaulgilman can you take a look or add it to your list? Thanks!

[2021-03-22 05:57] yangangky commented on #1199
@cwhanse, I am OK for it. Thanks for your reminder.

[2021-03-22 15:07] mjprilliman commented on #1199
Here's a [link](https://github.com/NREL/ssc/issues/442) to the issue describing why the inverter temperature derate feature was changed to be based on the ratio of max output power to rated power (DC) rather than efficiency. The main idea is that while lower efficiency at higher temperatures could be real physical behavior, it is more important to simulate the power limiting (or current limiting)

[2021-03-24 10:41] adriesse commented on #1199
My "other" inverter paper describes the modeling of internal inverter temperature rise and a possible algorithm for derating.  (https://doi.org/10.1109/PESC.2008.4592327)

There are really three distinct aspects of inverter operation:
1. the change in efficiency with _internal_ temperature
1. possible limiting or shutdown when _internal_ temperatures limits are reached
1. supervisory controls base

[2021-03-24 11:09] adriesse commented on #1199
Related to this, I wonder whether all this should happen quietly behind the scenes (probably not), whether python warnings should be emitted (maybe), whether the inverter functions should be returning a status flag (aka _state_)?

[2021-03-24 23:32] cpaulgilman commented on #1199
I will revise SAM Help to more clearly describe the changes we made in SAM 2020.11.29 to address [SAM Issue 442](https://github.com/NREL/ssc/issues/442). That revision should be part of SAM 2020.11.29 r2.

[2021-03-25 16:08] mikofski commented on #1199
Is this related to #1178 ?

[2021-03-25 16:08] mikofski commented on #1178
may be related to #1199 ?

[2021-03-25 16:22] cwhanse commented on #1199
Yes, in the sense that the available inverter models can be improved. Here, the specific ask is to add the temperature dependence of the power limit. #1178 is asking that the inverter function also return the DC voltage at which the inverter is operating while clipping, if I understand it correctly.

[2021-03-26 15:15] dpostolovski opened #1202 "GFS Forecasts error"
**Describe the bug**
From today, I see an error using the GFS prediction model:
[code]

The variable is indeed missing from the GFS dataset, as can be seen in the [catalog](https://thredds.ucar.edu/thredds/metadata/grib/NCEP/GFS/Global_0p25deg/Best?metadata=variableMap).

**To Reproduce**
[code]

**Expected behavior**
Dataframe being loaded.

**Screenshots**
If applicable, add screenshots to help

[2021-03-26 15:39] wholmgren commented on #1202
It's possible that the variables changed during a recent upgrade. Pull request welcome. I'm unlikely to fix it myself.

[2021-03-29 17:41] #1202 closed

[2021-03-31 21:58] kurt-rhee opened #1205 "Aeorosol data from Google Earth Engine - CAMS Global Near Real Time"
**Is your feature request related to a problem? Please describe.**
In order to use the simplified solis clearsky model aerosol optical depth data is necessary.  There are no functions within pvlib that grab aerosol data.  I've developed a quick function for obtaining aerosol optical depth data from data stored in google earth engine's CAMS dataset.  https://developers.google.com/earth-engine/datas

[2021-03-31 22:27] mikofski commented on #1205
also check out [`get_ecmwf_macc()`](https://pvlib-python.readthedocs.io/en/latest/generated/pvlib.iotools.get_ecmwf_macc.html) which lets you pull AOD at several wavelengths and the [Angstrom turbidity model](https://pvlib-python.readthedocs.io/en/latest/generated/pvlib.atmosphere.angstrom_alpha.html) that lets you convert between AOD at a given wavelength if the Angstrom `alpha` is known. Current

[2021-03-31 22:38] kurt-rhee commented on #1205
Angstrom turbidity model has been very useful for us and yes we wanted something that responds immediately so nothing needs to queue.  I'll create a pull request in the near future.

[2021-03-31 22:49] wholmgren commented on #1205
does https://github.com/pvlib/pvlib-python/pull/1175 solve this issue?

[2021-03-31 23:01] kurt-rhee commented on #1205
Hey @wholmgren yes that would definitely solve the same problem, especially if it exposes the aod550 data and if response is quick.

Sounds like nothing more is needed from me, if for some reason you decide the earth engine implementation is worth looking into feel free to ping.

[2021-03-31 23:01] #1205 closed

[2021-04-01 20:41] jranalli opened #1206 "Bug within scaling.py wavelet calculation methodology"
**Describe the bug**
Mathematical error within the wavelet computation for the scaling.py WVM implementation. Error arises from the methodology, as opposed to just a software bug.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
For a discrete wavelet transform (DWT) the sum of all wavelet modes should equate to the original data.

**Versions:**
 - ``pvlib.__version

[2021-04-01 20:56] cwhanse commented on #1206
@jranalli thanks for finding and reporting this. Can I ask how you contacted PVLIB MATLAB? Because I maintain that repository and I didn't see the email, so we need to fix something on our end with communications.

[2021-04-01 21:22] jranalli commented on #1206
@cwhanse Now that I look again, I think I used the wrong form. It was just a general Questions and Comments link for the PV Performance Modeling Collaborative at the bottom of the page. I didn't see any contact point for the PV_LIB MATLAB library and I also didn't know about the github repo for it, but now I do!

I do have a fix for the MATLAB code as well, but I don't see that part of the library

[2021-04-01 21:42] cwhanse commented on #1206
And did my own looking: pvl_WVM is in it's own Matlab archive, separate from PVLIB for Matlab. The WVM code is only available as a download from pvpmc.sandia.gov, whereas PVLIB for Matlab is on [github](https://github.com/sandialabs/MATLAB_PV_LIB).

I've sent the bug report to Matt Lave, the originator of the WVM algorithm and code. We'll likely welcome the bug fix but I'd like to hear Matt's view

[2021-04-01 23:23] jranalli commented on #1206
OK sounds good. If he or you want to connect for more detail on the issue, you can get contact info for me at my [Faculty Page](http://personal.psu.edu/jar339/about.html).

[2021-04-06 00:01] naingeet opened #1207 "TypeError: num2date() got an unexpected keyword argument 'only_use_python_datetimes'"
While running the example code from https://pvlib-python.readthedocs.io/en/stable/forecasts.html
I got TypeError: num2date() got an unexpected keyword argument 'only_use_python_datetimes'.
In reference to previous bugs (https://github.com/pvlib/pvlib-python/blob/709daa6f8feddb50ae50b1da13f5f720d8ebb78f/pvlib/forecast.py#L409), where the reason could be for python version 3.5 or less, I confirmed m

[2021-04-06 00:08] kanderso-nrel commented on #1207
Does updating to a newer version of `cftime` fix the issue?  See https://groups.google.com/g/pvlib-python/c/d4NDtQwj_L8/m/H1Lvt4XHBAAJ

[2021-04-09 21:27] cwhanse commented on #1206
for the record: bug is confirmed via separate communication with the WVM algorithm author.

[2021-04-09 22:29] kurt-rhee opened #1209 "pvlib.clearsky.detect_clearsky ValueError: index can't contain negative values"
**Describe the bug**
Hello, I am using pvlib.clearsky.detect_clearsky on a set of data from a meto station and the outputs of pvlib.clearsky.simplified_solis.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I would expect to not get a value error, I don't believe that any of my indeces have negative values.

**Screenshots**
![image](https://user-images.githubuserc

[2021-04-09 22:46] kanderso-nrel commented on #1209
Hi @kurt-rhee -- the `window_length` value you're using is a problem.  It's supposed to be `Length of sliding time window in minutes. Must be greater than 2 periods`, which means it's trying to use a window length of 3 minutes with hourly data, which probably isn't what you want.

Maybe we should add a check on the output of `_get_sample_intervals` and raise a more helpful error if `samples_per_wi

[2021-04-09 22:50] cwhanse commented on #1209
@kurt-rhee the `detect_clearsky` algorithm was developed for data at a frequency of about 1 minute. Besides the `window_length` issue, I doubt the default thresholds will give satisfactory results for 1 hour averaged data.

If the data are point-in-time values on each timestamp (rather than averaged over each interval), [this paper](https://www.osti.gov/pages/biblio/1543125) may help with choosing

[2021-04-09 23:12] kurt-rhee commented on #1209
Understood, thank you so much for your quick response.  That is very helpful.

[2021-04-09 23:12] #1209 closed

[2021-04-14 06:45] salehi1234 opened #1210 "How to obtain meteorological data"
would be appreciated to know whether there are any data banks or sites to download the data of wind velocity, temperature, and cloud thickness, the most important of them all, for about two years( from 2019 to 2020).**

[2021-04-14 15:35] cwhanse commented on #1210
Hi @salehi1234 could you post this question to the pvlib [googlegroup ](https://groups.google.com/g/pvlib-python)or to [stackoverflow](https://stackoverflow.com/search?tab=newest&q=pvlib) with the pvlib tag? We try to keep github issues related to software, and discuss usage in the other forums.

I think we'd need to know which region of the world you are interested in.

[2021-04-14 16:12] #1210 closed

[2021-04-22 10:23] m-glowacki opened #1212 "GFS model server error."
**Describe the bug**
GFS model returns:
Server Error (400: Variable: Total_cloud_cover_high_cloud_Mixed_intervals_Average is not contained in the requested dataset)

**To Reproduce**
Steps to reproduce the behavior:
1. from pvlib.forecast import GFS, NAM, NDFD, HRRR, RAP
2. model = GFS()
    dataFrame = model.get_processed_data(latitude, longitude, start, end)

**Expected behavior**
return datafra

[2021-04-22 16:12] wholmgren commented on #1212
Please see https://groups.google.com/g/pvlib-python/c/9_umpFGQpXM/m/X3HlKSGKDAAJ

[2021-04-22 16:12] #1212 closed

[2021-05-05 16:47] cwhanse opened #1214 "pvlib v0.9 release planning"
We've got a lot of new capability pending, and should move to formalize a release. @wholmgren @mikofski @kevinsa5 @wfvining  I am willing to manage v0.9 release. Here's the checklists. Please indicate what is needed to close a PR, or if you are willing to close any of the identified issues, or recommend deferring.

PRs to merge or defer:

- [x] #1213 merged
- [x] #1211
- [x] #1196
- [x] #1191
- [

[2021-05-05 17:37] Peque opened #1215 "`pvsystem.calcparams_cec()` does not propagate parameters"
**Describe the bug**

The function calls `calcparams_desoto` with hardcoded reference values.

https://github.com/pvlib/pvlib-python/blob/40ba4bd5c8b91754aa73e638ed984ab9657847cd/pvlib/pvsystem.py#L1850-L1855

This means the function is silently ignoring its inputs, yielding incorrect results that may go unnoticed.

**Expected behavior**

The function parameters are propagated into the `calcparams

[2021-05-05 17:49] Peque commented on #776
I think this issue could have been prevented with lint checks (unused parameters):

https://github.com/pvlib/pvlib-python/issues/1215

[2021-05-05 18:48] wholmgren commented on #1214
I'd say #1176 is the key remaining PR, which depends on several of the other PRs. @kanderso-nrel is behind most of those and appeared to be slowed down because he didn't get timely feedback from the rest of us (sorry Kevin!). I'm fine deferring anything that's not related to the object layer refactor.

[2021-05-05 19:28] kanderso-nrel commented on #1214
Slowed down by my having to prioritize non-pvlib work lately as well.  #1211 is waiting for me to pick it up again, but #1196 is ready for others to take a closer look.  I need to remind myself of the details but I think #1176 will be close to ready once the other two are merged, that is unless I continue expanding its scope...

Other than that trio, I think I'd like to see `modelchain.rst` use `M

[2021-05-06 16:02] kanderso-nrel opened #1217 "several iotools tests are failing"
Just documenting some test failures that popped up on #1216:

## SRML
`test_srml.py` takes a long time to run, and eventually fails, because it repeatedly attempts and to connect to the remote server but the connection attempts time out:
`TimeoutError: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection

[2021-05-06 16:11] cwhanse commented on #1217
So CI jobs are going to time out until these issues are fixed?

[2021-05-06 16:17] kanderso-nrel commented on #1217
I think so, or at least the `conda_linux` ones anyway.  It seems like the entire solardat UOSRML website is down.  Should we temporarily replace the `flaky` mark with `xfail` on those tests?

[2021-05-06 16:18] cwhanse commented on #1217
I'll email Frank and see ask if it's temporary or permanent. @wholmgren this issue affects the Arbiter

[2021-05-06 16:24] wholmgren commented on #1217
One idea for live API tests is to only run them in scheduled nightly builds so they don't spoil PRs.

[2021-05-06 16:46] wfvining commented on #1214
#1118 Should be taken care of to remove technical debt now that the `Array` class has been merged. I recall this being a bit more complex than it seemed, just because of the mocks in the tests.

#1148 Should be easy to address, and along with #1184 and @kanderso-nrel's PRs I think it ties up most of the loose ends with the multi-array PVSystem and new `ModelChainResults`. I'll see if I can find so

[2021-05-07 00:08] mikofski commented on #1214
Agreed on deferring infinite sheds, I think the PR is very close, just needs some examples for the gallery, but it may take a long time to review.

[2021-05-07 03:16] #1217 closed

[2021-05-07 18:23] #1206 closed

[2021-05-07 18:28] cwhanse commented on #954
#1074 changed `times` from an arg to a kwarg with default `None`. Both `measured` and `clearsky` arguments can still be `array`. I think it does no harm to keep `times` for compatibility with any legacy code.

Recommend closing this issue.

[2021-05-07 18:32] wholmgren commented on #954
Fine with me to keep it open in an effort to simplify API or to close in an effort to clean the issues board. Either way not going into 0.9, so I removed the milestone.

[2021-05-07 20:32] cwhanse opened #1221 "Incorrect AOI from pvlib.tracking.singleaxis"
`pvlib.tracking.singleaxis` produces an incorrect AOI when the sun is above the earth horizon but behind the module plane.

**To Reproduce**
Model a fixed tilt system (90 tilt, 180 azimuth) and compare to a vertical single axis tracker with very small rotation limit.

[code]

**Expected behavior**
The AOI for the fixed tilt system shows values greater than 90 when the sun is behind the module plan

[2021-05-07 20:54] wholmgren commented on #1221
I agree that `abs` looks like a problem.

[2021-05-07 21:33] #1188 closed

[2021-05-11 13:31] MariusBartkowski opened #1226 "RuntimeError while using the fit_desoto function, caused by optimize.root (SciPy)"
Hello everyone,

while using the fit_desoto function to estimate parameters for further solar module calculations, I received the following error:

_RuntimeError: Parameter estimation failed: The iteration is not making good progress, as measured by the improvement from the last five Jacobian evaluations._

The error comes from the optimize.root function from the SciPy library, which is used withi

[2021-05-11 23:18] mikofski commented on #1226
I agree with Cliff, it may be the initial guess, not the solver. But I don't think `root_kwargs` lets a user overwrite the initial guess `x0` in `scipy.optimize.root` which is set internally as `param_i` and is probably following some logic that DeSoto and Duffie & Beckman reported. Sorry I haven't read their work. 😮

https://github.com/pvlib/pvlib-python/blob/50dcc7fe412d9e27fe06670b8057e3d8e9ce5

[2021-05-12 16:07] #1118 closed

[2021-05-12 16:13] wholmgren commented on #1221
Yes, my initial port of the matlab code was as close to 1:1 as I could make it. I don't recall second guessing the `abs` at the time, but I certainly should have.

[2021-05-12 16:15] cwhanse commented on #1221
We (Dan and I) concluded that line is in error, in the matlab code.

[2021-05-13 20:01] mikofski opened #1227 "improve Albedo advice"
**Is your feature request related to a problem? Please describe.**
regarding [this comment](https://github.com/pvlib/pvlib-python/pull/1225#discussion_r630626027) in #1225 we should offer better, more relevant albedo advice considering how important bifacial has become, at least as good or better than pvsyst. EG: with floating PV, folks don't always realize that specular reflection off of water is

[2021-05-13 21:23] toddkarin opened #1228 "IV curve fitting"
@cwhanse I am trying to fit IV curve traces from the NIST dataset available here: https://pvdata.nist.gov/

Why doesn't pvlib.ivtools.sdm.fit_desoto_sandia provide a diode factor fit for each run?

It is unclear why we must input v_oc, i_sc, v_mp, i_mp since the IV curve is given. Could it be possible for fit_desoto_sandia to extract these values automatically?

It would be helpful if you can chec

[2021-05-13 22:45] cwhanse commented on #1228
`ivtools.sdm.fit_desoto_sandia` returns the product of diode factor, number of cells in series and thermal voltage per cell (termed `'a_ref'`) so that the output of this function are the parameters expected by `pvlib.pvsystem.calcparams_desoto`.

It would be a nice extension to extract the maximum power point from the IV data. I've seen too many IV curves where the measurement instrument couldn't

[2021-05-13 23:01] kanderso-nrel opened #1229 "[DOC] napoleon type aliases for generic types not enabled"
**Is your feature request related to a problem? Please describe.**
I have seen a few cases where folks didn't know how to interpret the generic type description `numeric` in our docstrings and ended up writing inefficient loop-based code because they didn't understand that `numeric` implies that the function is vectorized.  It's defined on [this docs page](https://pvlib-python.readthedocs.io/en/st

[2021-05-13 23:06] cwhanse commented on #1228
It's index 159. There's several instances where the IV data are slightly non-monotonic (current increases with voltage). Way down in the details of that fitting algorithm, a quadratic spline is fit that preserves monotonicity. That's where the failure originates; for two of the data intervals, the spline has undefined coefficients.

A few points with increasing current wouldn't usually cause this

[2021-05-13 23:21] cwhanse commented on #1228
Some data quality filtering appears to be in order.

![nist_isc_imp_vs_poa](https://user-images.githubusercontent.com/5393711/118199113-9909d680-b40f-11eb-9b40-f090f45680cb.png)

[2021-05-14 02:58] wholmgren commented on #1229
Cool feature. #765 is relevant

[2021-05-14 04:41] mikofski commented on #765
There are performance and syntactic differences between a ndarray of shape (1, 1, ...) and a python scalar, so I don't think the terms are interchangeable if numeric includes true native scalars
[code]

[2021-05-14 08:19] adriesse commented on #1226
I think the first problem in `fit_desoto` is that it raises an error and swallows the optimize_result.  That makes it much harder to investigate.  At most it should produce a warning.

[2021-05-14 11:14] mulla1993 opened #1230 "forecast_to_power ParseError"
Hello,

I am new to PVlib and trying to do the tutorials. In the forecast_to_power toturial, a ParseError is raised when running the "forecast_data = fm.get_processed_data(latitude, longitude, start, end)" line. Would someone please advise.

BR,
Mulla

[2021-05-14 14:31] cwhanse commented on #1230
Hi Mulla,

Can you post the question to either stackoverflow or the pvlib google group? Links [here](https://github.com/pvlib/pvlib-python/#getting-support).

Please provide example code that can be run to duplicate the issue.

Cheers,

Cliff

[2021-05-14 14:31] #1230 closed

[2021-05-14 15:28] wholmgren commented on #765
The numpy definition of `array_like` is now:

pvlib's definition of `numeric` is a subset of numpy's definition of `array_like`. The major difference I see is that `array_like` includes lists, whereas `numeric` does not. They both include native scalars. pvlib's definition of `array-like` excludes  scalars.

[2021-05-14 17:05] #1115 closed

[2021-05-14 17:13] #1185 closed

[2021-05-14 20:14] mikofski commented on #1226
similar dialogue over at scipy on similar issue, https://github.com/scipy/scipy/issues/8904#issuecomment-395143111, is it runtime error or warning?

They opted for `display=True` & `full_output=True` to return warning and the reasons why, vs. `False` which raises error. AFAICT `scipy.optimize.root(method='hybr')` uses the MINPACK HYBR or HYBRJ solver depending on if the Jacobian is provided or not

[2021-05-14 21:35] #949 closed

[2021-05-15 20:12] #1207 closed

[2021-05-16 14:51] #1184 closed

[2021-05-16 15:52] cwhanse opened #1234 "Incorrect Returns docstrings for PVSystem.get_irradiance and Array.get_irradiance"
`PVSystem.get_irradiance` and `Array.get_irradiance` both wrap `irradiance.get_total_irradiance`. `irradiance.get_total_irradiance` returns a OrderedDict/DataFrame with keys/columns ``'poa_global', 'poa_direct', 'poa_diffuse', 'poa_sky_diffuse', 'poa_ground_diffuse'``.  Descriptions at [this ](https://github.com/pvlib/pvlib-python/blob/310d191d141a0fb187f4177a4688b16b0ded001b/pvlib/pvsystem.py#L33

[2021-05-16 17:38] #1130 closed

[2021-05-17 12:57] MariusBartkowski commented on #1226
@ cwhanse:

Thanks a lot for your contribution. I choosed to go around the fit_desoto function by using the fit_cec_sam_function and it worked out well!

@mikofski:

Yes, exactly. the problem in the fit desoto function is occuring because optimize_result.success is delivered as false.

& Yes, the console gives out a runtime error which causes the programm to cancel, not a warning.

[2021-05-17 12:57] #1226 closed

[2021-05-17 13:53] cwhanse opened #1235 "Improve error handling in sdm.fit_ and sde.fit_ functions"
Diode model and diode equation fitting can fail for a variety of reasons: bad input IV curve data, lack of a well-defined minimum in the objective function, poor initial guess.

Current behavior is to let the supporting package (scipy, pysam) raise and handle errors. This behavior gives the user little information about the failure, and causes pvlib execution to stop rather than move on to the nex

[2021-05-17 14:55] kanderso-nrel commented on #1174
Another relevant repository: https://github.com/IMMM-SFA/diyepw/

[2021-05-17 15:17] #1148 closed

[2021-05-17 16:51] wholmgren commented on #1214
It would make some sense to address #1113 and #894 together. I don't know if we can achieve community consensus on that before 0.9.

[2021-05-17 16:57] cwhanse commented on #1214
I agree. Both will need a deprecation period. Would that make sense to run from v0.9.1 to v0.10, or would it be preferred to being with v0.9?

[2021-05-17 18:41] #1126 closed

[2021-05-17 19:24] wholmgren commented on #1214
Perhaps preferable to start the deprecation in v0.9. But starting the deprecation in v0.9.1 would be ok and consistent with the way we've done deprecations in the past. Or we can go straight to v0.10 if we want to make that change on a bigger release (perhaps postponing a few other deprecations to v0.11).

[2021-05-17 21:14] toddkarin commented on #1228
It would be nice to modify the code so that if fitting fails for some of the IV curves, the function returns nan for those entries. We can't always be sure that filtering will remove all the "bad" cruves.

Also, why isn't there a diode factor fit for each run? There is only one diode factor returned for the entire set.

[2021-05-17 21:37] cwhanse commented on #1228
I agree. #1235

`pvlib.ivtools.sdm.fit_desoto_sandia` fits the Desoto single diode _model_ to the entire set of IV curves, not the single diode _equation_ to each IV curve. The Desoto model assumes that the diode factor is a constant, which is what the fitting method estimates.

If you want instead to fit the single diode equation to each IV curve, I'd suggest `pvlib.ivtools.sde.fit_sandia_simple`

[2021-05-18 03:46] mikofski commented on #1214
It makes sense to me to address them together, but I wonder if it will be possible. I didn't get a clear sense from #894 that there was a consensus. Has it been discussed in the google group? On the other hand, #1113 seems more pressing. The existing behavior is a problem which should be addressed, possibly before we can reach a consensus on `temperature`.

I'm also fine with starting the deprecat

[2021-05-18 17:25] toddkarin commented on #1228
That makes sense. `pvlib.ivtools.sdm.fit_desoto_sandia` is the functionality I want, would you be able to implement error handling and try/except so that a few problem IV curves don't stop the function from working?

[2021-05-18 20:24] toddkarin commented on #1228
I just tried using `fit_sandia_simple` and found an error: here's a MWE:

https://github.com/DuraMAT/pvpro/blob/master/examples/nist-iv03_process.py

Data available:
https://github.com/DuraMAT/pvpro/tree/master/examples/data

This is the IV curve that the algorithm failed on:

<img width="537" alt="image" src="https://user-images.githubusercontent.com/18688594/118718640-557ee600-b7dc-11eb-9084-1ce

[2021-05-18 20:33] cwhanse commented on #1228
Which IV curve index is that failed one? I would like to isolate and save input data that cause failures, to better understand why the algorithm didn't work.

[2021-05-18 21:05] toddkarin commented on #1228
index was 617. Here is the iv curve you can copy/paste.

voltage = np.array([ 0.34,  0.68,  1.02,  1.36,  1.7 ,  2.04,  2.38,  2.72,  3.06,
        3.4 ,  3.74,  4.08,  4.42,  4.76,  5.1 ,  5.44,  5.78,  6.12,
        6.46,  6.8 ,  7.14,  7.48,  7.82,  8.16,  8.5 ,  8.84,  9.18,
        9.52,  9.86, 10.2 , 10.54, 10.88, 11.22, 11.56, 11.9 , 12.24,
       12.58, 12.92, 13.26, 13.6 , 13.94, 14.28, 1

[2021-05-18 21:39] cwhanse commented on #1228
The `nan`s in the current just after Isc are causing the failure. Can you add this step to your script:

[code]

[2021-05-18 22:15] toddkarin commented on #1228
That solves it! We may want to consider adding the "drop nan" code to `fit_sandia_simple` so people can avoid these issues in the future.

[2021-05-19 14:33] cwhanse commented on #1228
I'm open to better handling of nan's, but my current view is that the `fit` functions shouldn't also do any data cleaning - that should happen upstream in the user's code, perhaps in the future using tools that pvlib could provide.

[2021-05-20 13:53] PeterGrant opened #1237 "Apparent issue with timestamp handling & solar position calculations"
In my project I'm examining air temperature and solar data, so my following comments apply to those values. They do not apply to other data returned by the model.

The solar position algorithm appears to ignore timezone in timezone aware timestamps when calculating irradiance data. Specifically, the .get_processed_data() function returns data with mixed handling of timezones. The dataframe returne

[2021-05-21 17:44] cpr-chas opened #1238 "The Perez diffuse model should not be forcing the horizon coefficient up to zero"
The perez model in irradiance.py forces F2, and thus the horizon component of diffuse, to be non-negative.  This restriction should not happen.  F2 and the horizon coefficient should be allowed to be negative and to reduce overall diffuse.

According to the original paper at https://www.osti.gov/servlets/purl/7024029
Section III.2 states this explicitly for the horizon component:
"(2) The horizon

[2021-05-21 19:27] cwhanse commented on #1238
It appears that the equivalent of [this line](https://github.com/pvlib/pvlib-python/blob/276a30de72a392ff59f798b8850229e9527ff03e/pvlib/irradiance.py#L1129) was in the [original port](https://github.com/pvlib/pvlib-python/releases/tag/prearizona) from Matlab to python. In the Matlab [function ](https://github.com/sandialabs/MATLAB_PV_LIB/blob/c6211dec56c87b0e55ce7a6d5bbc64b206572f57/pvl_perez.m#L2

[2021-05-21 19:56] cwhanse commented on #1238
I agree with the issue; F2 >= 0 was never a condition included in the Perez model. The references are consistent that F2 < 0 was ia possibility intentionally included. From [3], section 3.2.1 "The negative value for F2 is traceable to a relative brightening of the zenithal region for overcast conditions the physical nature of which is well understood..."

[2021-05-22 21:11] AdamRJensen commented on #1205
@kurt-rhee #1175 is certainly quite fast. You can see what variables are available [here](http://www.soda-pro.com/web-services/radiation/cams-mcclear/info). There are a lot of different aod 550's e.g., for black carbon and dust, but I'm unsure if there is a combined one. Would the available parameters be sufficient for you?

[2021-05-22 22:40] kurt-rhee commented on #1205
Hey @AdamRJensen  I'll definitely give it a look next time I'm working with some clearsky data thank you for pointing me!

[2021-05-24 17:57] garciaev commented on #1171
Bumping this. From the documentation by Ryberg & Freeman et al. 2017, page 10 of the PDF, "Implementation in SAM" section, they detail the following - is this what you're referring to?

[2021-05-24 18:49] cwhanse commented on #1171
@belagoof I hope we didn't miss something. I haven't seen a pull request on this issue.

I favor #2.

[2021-05-24 22:24] toddkarin commented on #1228
I've run `fit_sandia_simple` on this dataset (see figure below). But there is (as expected) a correlation between the diode factor extracted and the saturation current ref. I think this is one of the problems that `fit_desoto_sandia` was trying to solve? Is there an established way to pick a diode factor from a set of IV curves at various temperature/irradiance conditions?

![image](https://user-i

[2021-05-24 22:47] mikofski commented on #1228
Is `fit_sandia_simple` is already considering the cubic relationship between saturation current and temperature? It would be really useful to color code the dots in the plot above according to temperature. You could also use size to indicate irradiance, or v.v.

[2021-05-25 14:58] cwhanse commented on #1228
Two thoughts:
- when using `fit_sandia_simple` you are fitting the single diode equation independently to each IV curve. Where are temperatures obtained? Any deviation between the temperature value, and the actual (unobserved) cell temperature, will show up as a trend in diode factor and saturation current.
- use of this fitting method assumes that the device which produced the IV curve is well-de

[2021-05-25 18:53] toddkarin commented on #1228
At certain times of year, it seems there is a tight relationship between n_diode and Isat:

![image](https://user-images.githubusercontent.com/18688594/119551703-c5e2b580-bd4e-11eb-9ace-2da328bdda4d.png)

But other times of year, there is significant spread:

![image](https://user-images.githubusercontent.com/18688594/119551822-e7dc3800-bd4e-11eb-9089-b9cba4c9b018.png)

But this can be corrected b

[2021-05-25 19:04] cwhanse commented on #1228
What is the source of the temperature data?

[2021-05-25 20:46] toddkarin commented on #1228
Temperature data is an RTD mounted to the back of the single module. There are 4 different sensors on the one module, I used the one mounted in the center.

[2021-05-25 21:09] mikofski commented on #1228
I would use the cubic temperature dependence of Isat and supply the temperature data to regress the Isat term to fit the constraint like this:

https://github.com/SunPower/PVMismatch/blob/27e4e88f34f07b99ff6d1ff9c4ec85255d05d40a/pvmismatch/pvmismatch_lib/pvcell.py#L137-L146

[2021-05-26 17:49] #1238 closed

[2021-05-26 22:45] cpr-chas commented on #399
@mikofski, @kanderso-nrel, we are looking at adding some self-shading to our fork and we'd love to do this in a way that allows us to make a useful contribution to the core project.  Is the current expectation that the 'infinite sheds' work will cover this need entirely, or would you want to support multiple models of varying complexity?  I think we'd be happy to tackle one of the "pretty straight

[2021-05-26 23:26] kanderso-nrel commented on #399
+1 from me for having multiple shading models available in pvlib.  I'd be happy to help with a python version of the SAM model or any other model of interest.

[2021-05-27 15:23] cwhanse commented on #399
@cpr-chas I think `pvlib.shading` should contain both effects-level shading models (e.g., [Deline's ](https://www.researchgate.net/publication/273227488_A_simplified_model_of_uniform_shading_in_large_photovoltaic_arrays)approach), functions that adjust direct and diffuse irradiance for far- or near-field objects, and also detailed, geometric functions that e.g. calculate the shaded area on an adja

[2021-05-27 18:04] #1215 closed

[2021-05-27 19:50] MichaelHopwood commented on #1237
Thanks for the catch @PeterGrant!
@cwhanse do you add this bug fix in the next milestone?

[2021-05-27 20:04] cwhanse commented on #1237
Yes, but I'd like confirmation first from someone else that it is a bug. I'm not smart enough to look directly at the forecast data and verify that the problem is with how pvlib is handling the timezone.

[2021-05-28 01:25] mikofski commented on #399
I'm also +1 for having multiple shading models

[2021-05-28 14:45] belagoof commented on #1171
@garciaev Yes, that is correct

[2021-05-28 14:47] belagoof commented on #1171
@cwhanse I was unsure about the process and waited for confirmation that this was relevant. Will send a pull request soon.

[2021-05-28 14:52] cwhanse commented on #1171
Thanks @belagoof, I think we dropped the ball on this one.

[2021-05-28 15:29] garciaev commented on #1171
Hi @cwhanse @belagoof hmm I am curious to see this "erroneous permanent snow coverage effect" in action. Maybe I could find a rooftop site or two in our database that has low tilt and gets hit with snow and see how that compares to the predictions. If someone else already has done this validation let me know!

That being said though, to test this new code, I would need access to snow depth not jus

[2021-05-28 16:56] cwhanse commented on #1171
Right. I hesitated to speak in favor, because of this point. In the U.S. the weather records include both snow depth and snow fall, so I thought it would be OK to extend the pvlib function to expect snow depth as input.

[2021-05-28 17:51] garciaev commented on #1171
Yeah I am in the US as well - I think I should look up a snow depth data source then rather than just rely on IBM/The Weather Company's snowfall in cm for some validation, but I agree this additional check won't work without snow depth as input

[2021-06-01 23:36] cpr-chas commented on #399
Right now I only see 3 methods in shading.py, and they seem to be focused on calculating diffuse shading based on geometry.  If I understand it correctly, that ignores direct shading and our short term goal would be to model loss from direct shading as well, also based on geometry.  It is, of course, possible that I'm misunderstanding what's in shading.py or not aware of some incoming code in anot

[2021-06-02 00:23] cwhanse commented on #399
@cpr-chas I wasn't requesting that you tackle all three of those categories, I merely wanted to communicate my perspective on this module's scope, and that design for internal reuse is worth a bit of extra effort. Any contributions to shading.py are welcome and valued.

#758 is an orphan that is worth picking up and completing.

[2021-06-04 16:16] cwhanse opened #1241 "Std. deviation of slope is calculated incorrectly for clearsky.detect_clearsky"
**Describe the bug**

[This line](https://github.com/pvlib/pvlib-python/blob/82208ff8f26af52fd77ed3bdc030e68bfd0ed265/pvlib/clearsky.py#L644)

[code]

does not calculate the slope since it is not divided by the time interval.

**Expected behavior**

[code]
**Versions:**
 - ``pvlib.__version__``: 0.8.1

**Additional context**

All current tests use 1-minute intervals, so the tests are not incorrect

[2021-06-04 16:23] wholmgren commented on #1241
from looking at the title only... is this a duplicate of #1070?

[2021-06-04 16:28] cwhanse commented on #1241
No. #1070 can be closed with some comments in the code to explain the deviation from the reference.

[2021-06-07 20:12] AdamRJensen opened #1245 "Inconsistencies in iotools"
There exists a number of inconsistencies between the functions in pvlib.iotools that I would like to address.

First, the naming of start/stop date differs between functions for unknown reasons. E.g., `get_ecmw_macc` uses startdate/stopdate, `read_midc_raw_data_from_nrel` uses start/end and #1175 currently uses start_date/end_date. It would be great with a common consensus of which of the three to

[2021-06-08 19:31] cwhanse opened #1246 "Implement monthly snow loss model"
Interesting model for predicting monthly energy loss due to snow, from monthly quantities (snow total, plane-of-array insolation).

Photovoltaics and snow: An update from two winters of measurements in the SIERRA
June 2011Conference Record of the IEEE Photovoltaic Specialists Conference
[DOI: 10.1109/PVSC.2011.6186627](http://doi.org/10.1109/PVSC.2011.6186627)

Would be a nice addition to `pvlib.s

[2021-06-08 19:45] abhisheksparikh commented on #1246
I am willing to take this on as an opportunity to make my first contribution to pvlib. I am intending to start on 06/16.

[2021-06-08 19:46] cwhanse commented on #1246
@abhisheksparikh Thanks!

[2021-06-09 01:13] mikofski commented on #1246
just to reference some older issues:
* Townsend: https://github.com/pvlib/pvlib-python/issues/577#issuecomment-505690291
* SunPower: https://github.com/pvlib/pvlib-python/issues/577#issuecomment-483481664
If you just hover over the links, you can see the comment text

[2021-06-09 01:30] mikofski commented on #1246
Some references:

---

# DNV

[1] T. Townsend and L. Powers, “Photovoltaics and snow: An update from two winters of measurements in the SIERRA,” Conf. Rec. IEEE Photovolt. Spec. Conf., pp. 003231–003236, 2011.
[BEW IEEE 20110621final.pdf](https://github.com/pvlib/pvlib-python/files/6620472/BEW.IEEE.20110621final.pdf)

[1] L. Powers, J. Newmiller, and T. Townsend, “Measuring and modeling the effect

[2021-06-09 13:45] cwhanse commented on #1245
+1 to normalizing the argument names. I would prefer the simpler `start` and `end` and let the docstring speak to the data type (if date and datetime actually are different).  For me, `metadata` > `meta` but I don't have a strong preference here.

[2021-06-09 14:26] AdamRJensen commented on #1245
One thing that also supports `start` and `end` is that it can be used for both functions that only require a date as implied by `start_date` (e.g., 2021-09-06), but also functions that take a full datetime (e.g., 2021-09-06 12:00) which otherwise could be called `start_time`.

[2021-06-09 15:35] wholmgren commented on #1245
I like `start`, `end`, and `metadata`.

While our long and detailed review of #1175 suggests otherwise (sorry), I really have wanted to keep `iotools` relatively easy to contribute to. Part of that means accepting some inconsistencies, but there's also no reason we can't come through and clean up the API from time to time.

We don't maintain standards for names within actual code other than readab

[2021-06-09 16:56] #1070 closed

[2021-06-17 20:10] toddkarin opened #1249 "Allow user to set tol and maxiter for singlediode newton method"
The first few lines of `pvlib.singlediode` set `tol` and `maxiter` for all the solvers using the newton method:

[code]

However, I would like to change `tol` and `maxiter` for my application. It would be great if these could be added instead as keyword arguments to the various functions so they can be adjusted by the user. Using a variety of singlediode model params, I have found that by setting

[2021-06-17 21:54] cwhanse commented on #1249
At what level would they be exposed?  At the `pvlib.singlediode.bishop88_xxx` functions or at a higher level, e.g., `pvlib.pvsystem.singlediode`?

[2021-06-17 23:17] toddkarin commented on #1249
At the level of bishop88_xxx would be good enough for my purposes.

[2021-06-18 16:02] cwhanse commented on #1249
I support this as long as the interface is common for both the `newton` and `brentq` options.

[2021-06-25 22:56] #1241 closed

[2021-06-29 03:10] AdamRJensen opened #1250 "Add map_variables argument to get_pvgis_tmy"
With the addition of the `get_pvgis_hourly` function (#1186) a variable map dictionary for PVGIS has been added to the PVGIS iotools module.

This issue is raised to add a `map_variables` boolean input to the `read_pvgis_tmy` and the `get_pvgis_tmy` functions to follow the standard for the iotools functions.

While it is a minor change, it is a breaking change as the default for map_variables shou

[2021-07-01 17:17] kurt-rhee commented on #1246
@abhisheksparikh how is it going?  If you need some assistance, my group at EDF could possibly lend a hand implementing the model.

[2021-07-01 17:20] abhisheksparikh commented on #1246
@kurt-rhee Thanks for the offer! :) I am almost ready to open a pull request.

[2021-07-01 17:33] kurt-rhee commented on #1246
@abhisheksparikh Awesome! Very grateful for the contribution, you've definitely saved us time.

[2021-07-02 18:03] zhammond147 opened #1252 "Missing Module Dependency - Tables"
In the pvlib.clearsky.lookup_linke_turbidity() function, you have the following error handling:

try:
    import tables
except ImportError:
    raise ImportError('The Linke turbidity lookup table requires tables. '
                                'You can still use clearsky.ineichen if you '
                                'supply your own turbidities.')

Unfortunately, the _tables_ module has not

[2021-07-02 18:07] kanderso-nrel commented on #1252
It is an optional dependency: https://github.com/pvlib/pvlib-python/blob/master/setup.py#L56
See also https://pvlib-python.readthedocs.io/en/stable/installation.html#compatibility

Should this be explained better in the online docs?  Or maybe mention something about `pvlib[optional]` in that error message?

[2021-07-02 18:23] cwhanse commented on #1252
Is there a good reason that `tables` is still optional? This is a frequent pothole hit by users.

[2021-07-02 18:59] kanderso-nrel opened #1253 "variables_style_rules.csv could use an update"
The [table of parameter names](https://pvlib-python.readthedocs.io/en/latest/variables_style_rules.html) in the docs is a bit dusty and doesn't perfectly reflect today's pvlib.  To make it easier to figure out where the gaps are, here's a script that scans the package, finds the parameter names currently in use, and compares with that table:

[code]

`unlisted_names` has over 300 elements.  I thin

[2021-07-08 20:04] #1234 closed

[2021-07-10 02:11] jranalli opened #1257 "Error in scaling.py when sampling rate faster than 1s."
**Describe the bug**
`scaling._compute_wavelet(clearsky_index)` produces `OverflowError` when passing it a `pandas.Series` type with a time resolution less than one second. Bug occurs due to the way dt is calculated for pandas types. Using pd.timedelta.seconds coerces to an integer seconds, resulting in value of zero. Produces infinity later when we take the log of dt.

Easiest fix could be:
`202

[2021-07-13 23:21] kanderso-nrel opened #1260 ""latest" docs don't make it clear that they contain unreleased features"
**Is your feature request related to a problem? Please describe.**
Someone on stackoverflow tried using the example code in our `latest` docs with pvlib 0.8.1 because they didn't realize the feature wasn't in a stable release yet:  https://stackoverflow.com/questions/68357949/cant-find-pvlib-pvsystem-array

**Describe the solution you'd like**
A warning banner at the top of the pages at `https://p

[2021-07-13 23:49] AdamRJensen commented on #1260
Recently, I have been finding myself often referring to new functions in the latest release, e.g., sending links to people. So I definitely think it has some usage. It's nice being able to somewhere seeing the current GitHub version, which I guess what 'latest' is.

As long as it defaults to 'stable', then I don't see an issue also having 'latest'. Clearly, whomever posted the question must have b

[2021-07-14 01:06] wholmgren commented on #1260
+1 for the banner, but after 0.9.

[2021-07-14 19:22] #849 closed

[2021-07-15 17:23] hashstat opened #1261 "pandas FutureWarning when casting type in DatetimeIndex"
A new `FutureWarning` warning is being issued from pandas from `pvlib.solarposition.spa_python()`.

**Steps to reproduce**
[code]

**Observed behavior**
[code]

**Expected behavior**
[code]

**Environment**
pvlib version: 0.8.1
pandas version: 1.3.0
Python version: 3.9.6
OS: Arch Linux (up-to-date)

**Additional information**
We are not using _pvlib_ directly; it is being pulled in by _pvfactors_.

[2021-07-15 19:11] hashstat commented on #1261
#1256 is related, but the fix was incomplete.

[2021-07-21 19:04] AdamRJensen commented on #1155
@mikofski Pull request #1254 adds a retrieval function for the monthly data files on the BSRN server. As SURFRAD is part of BSRN this should offer a much quicker way of getting SURFRAD data and perhaps this issue can be closed?

It's worth mentioning that the SURFRAD files include some additional data that the BSRN files do not, such as wind speed and direction and a corresponding flag column for

[2021-07-21 19:07] AdamRJensen commented on #810
@mikofski NSRDB is listed as incomplete in the roadmap, speficially "Individual site years (1991-2010) data" is missing.

@kanderso-nrel and I had a look and that data seems quite outdated and probably only available in one large zip file.

Are we still interesting in somehow adding this to pvlib or can it be removed from the roadmap?

[2021-07-21 23:24] kanderso-nrel commented on #1237
I do not use `pvlib.forecast` myself, but I poked around the forecast netcdf and agree that it seems like a bug -- timestamps are local time but should be UTC:

[code]

Is this issue specific to HRRR?  If so, the fix proposed above might not be appropriate, as I think it would affect all forecast providers, not just HRRR.

[2021-07-22 19:03] mikofski commented on #810
Good points, I don't know what the best path is, or what others think. I think there's a lot of value in this data, and there's really no other alternative. I am strongly in favor of timeseries analysis over TMY, but you're right that it's starting to be old data (>10 years) and if it's in a zip file, no clear path to how we manage it, I don't think bundling is an option.

I agree, let's cross it

[2021-07-23 03:39] AdamRJensen commented on #810
@mikofski Out of curiosity, what makes you say that it has a lot of value? I would imagine that NREL's current NSRDB PSM3 has better coverage and is more accurate, hence they have stopped servicing it and put it in a zip archive.

[2021-07-23 14:12] mikofski commented on #810
PSM3 tmy has consistently shown a high bias, not everywhere, but on average, at least for the projects I've worked on. I don't know if this extends to the 5 min time series data, but it seems likely.  On the other hand tmy3 has been consistently closer to the median of other collocated solar resources

[2021-07-27 03:03] #1261 closed

[2021-07-27 03:06] #1109 closed

[2021-07-27 03:07] wholmgren opened #1263 "module_height documentation"
_Originally posted by @cwhanse in https://github.com/pvlib/pvlib-python/pull/1176#discussion_r675072527_

[2021-07-27 06:42] mikofski commented on #1155
let me mull it over, I don't know how much overlap there is but my gut tells me folks will still want to use the raw SURFRAD iotools.

[2021-07-27 15:22] wholmgren commented on #1155
It may be worth benchmarking the retrieval speeds for each data source before trying to improve the raw surfrad fetch. But removing the existing surfrad fetch/read functions is not on the table.

[2021-07-28 10:06] ishaannair opened #1265 "Server Error (400: Variable: Total_cloud_cover_low_cloud_Mixed_intervals_Average is not contained in the requested dataset)"
**Describe the bug**
    HTTPError: Error accessing https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p5deg/Best?var=Total_cloud_cover_entire_atmosphere_Mixed_intervals_Average&var=u-component_of_wind_isobaric&var=v-component_of_wind_isobaric&var=Total_cloud_cover_boundary_layer_cloud_Mixed_intervals_Average&var=Total_cloud_cover_low_cloud_Mixed_intervals_Average&var=Downward_Short-Wave_

[2021-07-28 15:01] kanderso-nrel commented on #1265
This seems like the same error as #1202 and should already be fixed in the pre-releases on pypi -- are you sure you're actually using pvlib `0.9.0a7`?  Maybe you installed that pre-release in a different environment from the one you're using for this notebook?  I do not get the error with `0.9.0a7`:

[code]

[2021-07-28 20:57] AdamRJensen commented on #810
@mikofski @kanderso-nrel I met up with Manajit from NREL (who's one of the people behind the NSRDB) yesterday and brought up this topic. He was quite clear in that NREL prefers pvlib not to provide data retrieval functions for the older datasets as PSM3 is significantly more accurate and the older versions are confusing users. Unless anyone objects I'll remove "Individual site years (1991-2010) da

[2021-07-28 21:13] cwhanse commented on #810
I don't agree with removing the capability to access the older data, some people still use it for historical purposes or because a previous analysis is conditioned on that data. If NREL doesn't want people to use that data, they could remove it from their servers.

[2021-07-28 21:18] AdamRJensen commented on #810
Perhaps my post was not clear. I certainly don't intend to remove any existing functionality. But I am suggesting not adding retrieval capabilities (a get function) for the "Individual site years (1991-2010) data" - hence removing the unticked box on the roadmap. The data is stored in one large zip file, so it isn't easily accessible anyways.

[2021-07-28 21:23] cwhanse commented on #810
Thanks for the clarification - I should have looked at the roadmap first. Are you saying that we will not add a get function to retrieve the 'MTS3' data indicated [here](https://nsrdb.nrel.gov/about/u-s-data.html)?

[2021-07-30 05:02] ishaannair commented on #1265
Hi,
It would seem that my notebook was working in the older version of the pvlib (0.8.0) compared to the one I had installed. After spotting the problem I have successfully got it to work with the latest version, and I am able to get all the data.

Thank you for the help

[2021-07-30 06:30] mikofski commented on #810
I'm fine with removing from the roadmap retrieval of the older timeseries data that was used to generate TMY2 and TMY3, but I disagree with the assertion that we should stop using this data, and I haven't seen any reliable proof that the PSM3 data sets are significantly better. However, I don't see logistically how we can store the old datasets.

[2021-07-30 15:42] #1265 closed

[2021-07-30 15:48] wholmgren commented on #1214
Have we agreed to defer all remaining issues listed above? I can take another look at #1254. Is #1258 ready too? From a quick look at new issues I think the only one I'd consider adding is #1221.

[2021-07-30 16:04] cwhanse commented on #1214
#1258 slipped off my list, we should review and merge. My apologies to @jranalli

#1221 should be included in v0.9.

I don't have time to work on #1113 and related, so I vote deferring.

[2021-07-30 16:47] kanderso-nrel commented on #1214
I have a few gallery examples drafted for Array & Mount, and a small set of edits to the `.rst` pages about Mount stuff, it's not much but maybe better than nothing for now.  Worth opening PRs for those now, or wait for 0.9.1?

[2021-07-30 17:03] wholmgren commented on #1214
@kanderso-nrel worth opening now

[2021-07-30 18:00] AdamRJensen commented on #1245
@wholmgren @kanderso-nrel All of the `get` functions return `data, metadata` with the exception of `get_psm3` which returns `metadata, data`. Are we interested in switching this? If so I can do this now before v0.9.

[2021-07-30 18:36] kanderso-nrel commented on #1245
I'm +1 for consistency.  Is there a way to somehow deprecate the order of return values?  No reasonable solution comes to mind, and some quick googling didn't turn up anything either.  Maybe this should just be a sudden breaking change, with the excuse that pvlib is still pre-1.0.

[2021-07-30 18:48] wholmgren commented on #1245
I'm fine with a breaking change or with leaving it alone for now. Continued growth of pvlib could support that it's better to make current users go through a little pain for the betterment of the larger pool of future users. At our current release cadence, we would not have an opportunity to make this breaking change until 2022.

[2021-07-30 18:50] cwhanse commented on #1245
I would make this change now.

[2021-07-30 19:28] AdamRJensen commented on #1245
I've made the change - I really think it's going to be great in the long term having `iotools` be very consistent!

Now that we're talking iotools inconsistencies and breaking changes - the `pvgis_tmy` functions do not have map variables to pvlib names, which is standard for most other functions including `pvgis_hourly`. The renaming dictionary for `pvgis_hourly` works for `pvgis_tmy`. Given that

[2021-07-30 19:52] kanderso-nrel commented on #1245
For PVGIS `map_variables` can we do a typical deprecation cycle using a strategy like this?

[code]

And then in pvlib 0.10.0 we change `map_variables` to default to `True` instead of `None` and remove the warning.  Thoughts?

[2021-07-31 18:34] mikofski opened #1269 "Transformers"
**problem**
As an energy analyst, I need to know energy at point of interconnect,  and that includes detailed transformer efficiency and losses,  as well as ac collection losses and curtailment

**solution**
A transformer load / no-load model

**alternatives**
Roll your own,  but then this risks everyone using slightly different, possibly flawed models, precisely one of the issues pvlib tries to s

[2021-08-04 08:18] AdamRJensen opened #1270 "GitHub Discussions"
I recently stumbled upon the [xarray package which uses GitHub Discussions](https://github.com/pydata/xarray/discussions) extensively and seemingly quite successfully.

It seems that within pvlib we often tend to make discussions in issues, where eventually someone ends up referring to a comment five comments back and things get hard to follow. With GitHub discussions, comments are not necessarily

[2021-08-04 08:19] AdamRJensen commented on #1270
I would tag @pvlib/pvlib-maintainer, however, it doesn't seem to let me do that..

[2021-08-07 16:02] wholmgren commented on #1214
I relabeled issues/PRs with new milestones. I believe the [0.9.0 milestone tracker](https://github.com/pvlib/pvlib-python/milestone/32) is now accurate.

[2021-08-07 16:37] kanderso-nrel opened #1271 "How to organize the example gallery?"
The [example gallery](https://pvlib-python.readthedocs.io/en/latest/auto_examples/index.html) now has 17 items and might benefit from being organized into sections.  This has been briefly discussed elsewhere:

- https://github.com/pvlib/pvlib-python/pull/1077#issuecomment-705690331
- https://github.com/pvlib/pvlib-python/pull/1266#issuecomment-892112481

I think the sphinx configuration changes to

[2021-08-07 16:44] kanderso-nrel commented on #1221
Should we just replace that entire line with a call to `irradiance.aoi`?

[2021-08-07 17:01] wholmgren commented on #1270
It appears that tag is restricted to members of the pvlib organization and that cannot be changed. So yes, we should stop encouraging people to use it.

I've seen plenty of github discussions go off the rails but I am fine with experimenting with them.

[2021-08-07 18:15] mikofski commented on #1271
I think I like by module? EG:
- solar position
- irradiance
- atmosphere
- clearsky
- PV modules
- inverters
- IO
- IV curves
- PV systems
- etc

This could incorporate both topics and abstraction level, bc objects tend to aggregate several functions across topics. Each section could have both "how to's" and other less general examples

[2021-08-08 03:08] mikofski commented on #1270
I'm fine with discussions

[2021-08-08 04:10] mikofski commented on #1221
@kanderso-nrel the shortcoming with using `irradiance.aoi` afaict is that it calls [`irradiance.aoi_projection`](https://github.com/pvlib/pvlib-python/blob/0e6fea6219618c0da944e6ed686c10f5b1e244a2/pvlib/irradiance.py#L153) which is redundant because the single axis tracker already calculates the solar vector and rotates it into the tracker reference frame to use the `x` and `z` components to calcu

[2021-08-08 04:32] mikofski commented on #1221
or maybe just to get this ball roling we use clip for now and just close it with a #TODO

[2021-08-08 04:48] mikofski commented on #1221
FYI: the repro steps at the top are for a vertical tracker.

[2021-08-08 07:09] mikofski commented on #1221
after #1273

![Figure_1](https://user-images.githubusercontent.com/1385621/128624047-da2d7afd-33c7-4aa5-92af-d321a26cae7e.png)

[2021-08-08 23:35] #1257 closed

[2021-08-09 14:31] cwhanse commented on #1214
Looks like #1273 is the last open item before v0.9.

[2021-08-09 14:33] kanderso-nrel commented on #1214
Oh, can we add #1268 to the list?  I think that one makes sense for v0.9.0 too.

[2021-08-09 14:53] cwhanse commented on #1214
I'm OK with adding #1268 since I believe we decided to implement these changes without deprecation. Better to rip the bandaid right off than continue to think about it.

[2021-08-09 15:07] AdamRJensen commented on #1214
#1268 also includes changes to the unreleased `get_bsrn` and `get_cams` that would become breaking changes down the road if not implemented now, so it certainly makes sense to include!

[2021-08-09 15:30] mikofski opened #1275 "LGTM has 6 errors"
**Describe the bug**
LGTM shows 6 errors,  at least one seems easy to fix there is a self alignment that seems redundant

**To Reproduce**
https://lgtm.com/projects/g/pvlib/pvlib-python/alerts/?mode=list&severity=error

**Expected behavior**
No errors?

**Screenshots**
https://lgtm.com/projects/g/pvlib/pvlib-python/alerts/?mode=list&severity=error

**Versions:**
 - ``pvlib.__version__``: 0.9ish
 -

[2021-08-09 15:33] wholmgren commented on #1275
Certainly should fix that self assignment. Maybe silence the others?

[2021-08-09 15:39] #1221 closed

[2021-08-09 15:46] wholmgren commented on #1270
Closed by https://github.com/pvlib/pvlib-python/discussions/1276

[2021-08-09 15:46] #1270 closed

[2021-08-09 15:49] wholmgren commented on #1214
When cleaning up the whats new for the release we might want to add a note about github discussions. And maybe in the release announcement. Depends on how aggressive you all want to be in pushing discussions. I am neutral and will leave it to others to experiment.

[2021-08-09 16:25] mikofski commented on #1275
I found a Python "LGTM alert suppression" example here: https://lgtm.com/help/lgtm/alert-suppression#python

[2021-08-09 16:31] wholmgren commented on #1275
I've clicked the Hide button on a handful of similar alerts in the past. I didn't know about the comment option until now.

<img width="1342" alt="Screen Shot 2021-08-09 at 9 27 53 AM" src="https://user-images.githubusercontent.com/4383303/128740806-da5936a9-56f7-4bb2-be13-31dc44641a76.png">

I tried looking into it a few years ago and didn't figure it out. Maybe someone smarter than me can figure

[2021-08-09 19:15] #1245 closed

[2021-08-09 19:15] #1250 closed

[2021-08-11 18:58] Jacc0027 opened #1278 "Add a model for spectral corrections"
**Additional context**
First of all, I introduce myself, my name is Jose Antonio Caballero, and I have recently finished my PhD in photovoltaic engineering at the University of Jaén, Spain.

I have developed a python script to apply spectral corrections as a function of AM, AOD, PW based on this work (https://doi.org/10.1109/jphotov.2017.2787019).

We have found that in pvlib there is already a si

[2021-08-11 19:19] cwhanse commented on #1278
Hello @Jacc0027 and welcome to this community.

I would welcome submission of a function implementing that model. It differs from the existing functions by including parameters for perovskite cells.

It would need to be coded as a function similar to [first_solar_spectral_correction](https://github.com/pvlib/pvlib-python/blob/f318c1c1527f69d9bf9aed6167ca1f6ce9e9d764/pvlib/atmosphere.py#L324) using

[2021-08-11 19:37] Jacc0027 commented on #1278
My pleasure @cwhanse , thank you very much for the welcome.

No problem, I can adapt the code in a similar way to the one you attached, and assuming the same variables.

Yes, you are right, the script I attached is not made as a function, it was just a sample to verify the results. And again you are right, the time series in the .csv file are obtained through SMARTS simulations

Therefore, I will

[2021-08-11 22:24] #1271 closed

[2021-08-13 19:06] Jacc0027 commented on #1278
Hi @cwhanse , please find attached the updated script, in which we have tried to meet the requested requirements.

I look forward to any comments you may have.

[AM_AOD_PW_spectral_correction.zip](https://github.com/pvlib/pvlib-python/files/6984688/AM_AOD_PW_spectral_correction.zip)

[2021-08-16 16:52] kanderso-nrel opened #1284 "Tuple default values render without parentheses on RTD"
**Describe the bug**
Parameters with a default value of type Tuple don't render correctly in our docs.  See the missing parentheses around `'0100'` for `logical_records` here:

![image](https://user-images.githubusercontent.com/57452607/129599219-843d2a99-c837-4ab3-ad02-6d492f073c34.png)

Note that the default value for `logical_records` is definitely a tuple in the source code.

This is a known s

[2021-08-17 14:20] spaceguy152 commented on #1237
@kanderso-nrel  I think it affects other models as well. Recently I was working with GFS and found the same issue.

[2021-08-17 17:06] #1237 closed

[2021-08-18 16:48] wholmgren opened #1286 "make tables a required dependency"
I'm going to inject a related question: can we move `tables` off the optional list?  Its required to run the default clearsky model, and, it's a pain to diagnose for users when their python environment can't find it.

_Originally posted by @cwhanse in https://github.com/pvlib/pvlib-python/issues/1283#issuecomment-901258818_

[2021-08-20 16:40] wholmgren commented on #1214
Another 0.9 status check:

- [ ] We need a decision on the kwarg in #1282. Change the name or delete it?
- [ ] Defer #1286 until it's less of a hassle?
- [ ] Include #1264 and #1274? I'm -1. I think we need to take some time to think through how we want to use xarray and dask.
- [ ] Finalize whats new

I suppose one could argue that given all of the new `iotools` functions, we should hold up 0.9 i

[2021-08-20 17:23] cwhanse commented on #1214
I haven't kept up with the iotools PRs and discussion so have no opinion about #1264 and #1275.

Related to #1282, I favor @mikofski's approach of adding a `download` function, and keep the `save_path` kwarg in the `get` function. I think this is useful functionality for the module.

I can reluctantly agree to deferring #1286.

[2021-08-20 18:43] kanderso-nrel commented on #1214
#1286 might have a solution, see https://github.com/pvlib/pvlib-python/pull/1287#issuecomment-902884470.  Ok with me to defer #1264 and especially #1274.

[2021-08-23 11:22] AdamRJensen opened #1289 "Summary of Google Summer of Code 2021 with pvlib"
The purpose of this issue is to give a brief summary of the work that I've done during the 2021 [Google Summer of Code (GSoC)](https://summerofcode.withgoogle.com/about/) program with pvlib.

The official project abstract can be found [here](https://summerofcode.withgoogle.com/projects/#6071460558274560), but for a more thorough description, I recommend reading my blog posts which provide a more d

[2021-08-23 11:47] #1289 closed

[2021-08-23 15:20] wholmgren commented on #1289
Thanks @AdamRJensen for your great contributions and thanks @kanderso-nrel for mentoring! It's a great set of functionality and I'm sure it will be used by many.

[2021-08-24 15:41] #1286 closed

[2021-08-24 15:49] wholmgren commented on #1214
@cwhanse are you suggesting that you're ok with either approach or that you want both approaches implemented?

The main problem is a lack of consensus on how to support the download function. It might take careful thought and larger refactorings to do so consistently across iotools. So do we forge ahead with an API that risks immediate deprecation or do we remove the unreleased feature from 0.9?

[2021-08-24 16:16] cwhanse commented on #1214
I'm in agreement (generally) with the quartet of functions described [here](https://github.com/pvlib/pvlib-python/pull/1282#issuecomment-902095417).

I'm OK if the `save_path` capability is the exception rather than the rule for `iotools` functions, provided where downloads are non-trivial as @mikofski and @AdamRJensen describe [here](https://github.com/pvlib/pvlib-python/pull/1282#issuecomment-90

[2021-08-25 18:30] mikofski opened #1290 "[ENH] download and use horizon data to affect sky diffuse and far shading"
**Problem statement**
1. most satellite data (CPR, SGIS, PSM3, ...) doesn't include effects of horizon, this info is downloaded separately, but pvlib doesnt' currently have any iotools for horizon download. Some sources for horizon data are pvgis and meteonorm, but make sure to follow the correct conventions. Also it's possible that horizon data can be derived from GIS elevation data like USGS or

[2021-08-25 21:37] kahemker opened #1291 "HRRR CONUS 2.5km Forecast Model Name has changed"
**Describe the bug**
The HRRR forecast model throws an exception when trying to `get_data`.  It appears to be a key error when Siphon tries to find the model name 'NCEP HRRR CONUS 2.5km'.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pytest test_forecast.py -rsx --remote-data` from the `\pvlib\tests\` directory
2. You should see `UserWarning: Exception getting data for NCEP HRRR CONUS

[2021-08-25 22:43] mikofski opened #1293 "get PRISM rainfall data"
**Problem**
[PRISM](https://prism.oregonstate.edu/) doesn't have an intuitive API. It has rainfall and other info, but he interface is an AJAX call to a PHP backend which is hidden by JavaScript [here](https://prism.oregonstate.edu/explorer/dataexplorer/js/explorer.js) which I can't figure it out. Maybe there's a way to use the JavaScript to get the data and add it to iotools. Then the data could

[2021-08-26 18:17] #1291 closed, assigned to nobody

[2021-08-27 23:02] mikofski commented on #1252
BTW: I though TL data was originally available for download as an `.nc` file, am I wrong? I guess it's not available from [soda pro](http://www.soda-pro.com/help/general-knowledge/linke-turbidity-factor) anymore?

[2021-08-28 03:51] wholmgren commented on #1252
Thanks @kanderso-nrel for the careful comparisons!

I think we should switch to `h5py` before releasing 0.9. I don't see any value in adding the netcdf4 layer on top of the hdf5 file for this data set. I also don't see any reason use xarray for this simple file and read operation.

Two things that people probably already know but I feel like are not really addressed in some of the discussion above

[2021-08-28 12:37] adriesse commented on #1278
I suggest putting some information into the doc string about the range of applicability.  Is it for clear-sky conditions only, or all sky?  Is it for 30-degree tilt only, a range of tilts, or any orientation?

[2021-08-30 16:35] #1252 closed

[2021-08-31 22:02] mikofski opened #1300 "[DOCS] Contributing refers to maintainers, @pvlib/maintainers, but link doesn't work, who are they?"
**Describe the bug**
The [Contributing](https://pvlib-python.readthedocs.io/en/latest/contributing.html?highlight=maintainer) section of docs refer to "maintainers" and say to ping @pvlib/maintainer, but as mentioned in a recent comment, only team members can use this link, and it's actually @pvlib/pvlib-maintainer so it's a typo. No where does it say who the actual maintainers are. There's no lin

[2021-09-01 19:12] mikofski commented on #1214
Hi All, where are we on v0.9.0? Are we waiting for #1264, #1274, and #1295?

[2021-09-01 19:21] cwhanse commented on #1214
We have 2 votes to defer #1264 and #1274, and I've abstained since I haven't kept up with these PRs.

I think #1295 should be deferred.

As far as I can see, looking over this conversation, all other PRs and issues for v0.9 have been merged or deferred.

[2021-09-01 19:29] wholmgren commented on #1214
I think we only need to finalize the whats new (date, double check no sphinx build errors for linked objects).

[2021-09-01 22:42] #1214 closed

[2021-09-02 01:02] kanderso-nrel opened #1302 "Installing 0.9.0 wheel on python 3.6 does not install dataclasses, causes import failure"
**Describe the bug**
Installing pvlib 0.9.0 using the wheel currently on PyPI does not install dataclasses, causing pvlib to fail to import on python 3.6.  I think this is because the wheel builder workflow uses python 3.8, so it ignores the dataclasses dependency when building the wheel (which is supposed to be universal across all our supported python versions):

https://github.com/pvlib/pvlib-p

[2021-09-02 02:03] wholmgren commented on #1302
I manually built the wheel using python 3.6 and uploaded to testpypi. It seems to work.

[code]

As expected, running `pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ pvlib` in a python 3.8 environment gives me the pvlib 0.9 from primary pypi.

Should I go ahead and upload the py36 whl to primary pypi too or do you want to try cibuildwheel?

[2021-09-02 02:43] kanderso-nrel commented on #1302
Fine with me to upload the 36 wheel just to get this fixed in the short term.  Will it conflict with the `pvlib-0.9.0-py3-none-any.whl` already there?  I don't know how the wheel preference logic works when more than one wheel would work.

Long run I'll volunteer to set up cibuildwheel if we think that's the way to go.

[2021-09-02 03:06] wholmgren commented on #1302
Uploaded. See [here](https://www.python.org/dev/peps/pep-0425/#id1) for documentation on order of preference.

[2021-09-02 03:34] wholmgren commented on #1302
I believe a simple solution is to remove

https://github.com/pvlib/pvlib-python/blob/518cc35567baa15ae203bb8537452927ae10c7a7/setup.py#L48-L50

and add the following to `INSTALL_REQUIRES`: `'dataclasses; python_version < "3.7"'`.

I did that, rebuilt the wheel, and inspected the MANIFEST. It contained `Requires-Dist: dataclasses ; python_version < "3.7"`. `pip install dist/pvlib-0.9.0+0.g518cc355.

[2021-09-02 14:55] kanderso-nrel commented on #1302
Nice.  Would it make sense to "re-release" 0.9.0 to PyPI using that syntax, or are you happy with the state of PyPI as-is?  https://github.com/NREL/rdtools/pull/290 is happy with it, so maybe no need to change anything.

I assume the `pvlib` conda channel has the same issue, so I'll take a look at that and conda-forge now.

[2021-09-02 15:09] wholmgren commented on #1302
I'm happy with the current state so I'd say leave it alone.

[2021-09-02 17:53] kanderso-nrel commented on #1302
Ok, the `pvlib` and `conda-forge` channels have new builds (build `1`) that work for me on both 3.6 and 3.7, so I think everything is fixed.  If anyone discovers that's not the case, please let me know.

[2021-09-03 18:27] mikofski opened #1303 "send announcements for v0.9.0"
Here's my draft email. If no objectes, I will send it out to the list in the [wiki release announcement procedures](https://github.com/pvlib/pvlib-python/wiki/Release-procedures#publicize-release) today.

Subject: ANN: pvlib-0.9.0 released

[2021-09-03 18:28] mikofski commented on #1303
👀 @pvlib/pvlib-maintainer

[2021-09-03 18:41] mikofski commented on #1303
I've sent the announcements. 🙏

[2021-09-03 18:41] #1303 closed

[2021-09-04 16:19] Jacc0027 commented on #1278
Hello Anton,

the proposed experimental equations are applicable in all sky conditions.

The fit coefficients were obtained experimentally with integrated and spectral irradiance measurements with an inclination of 30º above the horizontal. Strictly speaking, this would be the valid tilt for the model.

Regarding the orientation, the experimental installation was completely oriented towards the so

[2021-09-15 09:41] Peque opened #1309 "Add fitting function for Anton's inverter model"
pvlib includes de `inverter.adr()` model, but it still does not provide a way to infer the required parameter for the model given, for example, some known datasheet parameters. The fitting function would be a great addition to be able to work with Anton's model.

I think @adriesse had a MATLAB implementation, so this issue is to discuss its addition and track progress when/if Anton finds some time

[2021-09-23 13:40] Antoine-0 opened #1311 "Spline fitting failure because of rounding"
Hello,

I'm doing an internship about SDM and DDM parameter extraction from experimental IV curves and I've begun to use pvlib (by the way, thank you for the great documentation, it was really helpful to understand the library !).
After some tinkering with my data, I got errors in numpy.linalg but I found out it boils down to the _schumaker_qspline function. #1235
I don't know if this is really a

[2021-09-23 21:19] UGuntupalli opened #1312 "How to use the Transposition Model for locations with DST?"
Hello,

Thanks a lot for maintaining the pvlib pacakge. I am looking at a specific usage that follows the documentation mentioned here (https://pvlib-python.readthedocs.io/en/stable/auto_examples/plot_transposition_gain.html)

Can the same example be demonstrated for a site affected by DST ? The chosen site is in Arizona where there is no DST.

This could in part be linked to an issue in pandas, b

[2021-09-23 21:51] cwhanse commented on #1312
Hi @UGuntupalli

I can't think of a reason that example wouldn't run correctly for a location with DST. I haven't tried it.

Your question is about usage. Can you repost it at stackoverflow or the google group?  The links are [here](https://github.com/pvlib/pvlib-python#getting-support).

Cheers.

[2021-09-23 21:51] #1312 closed

[2021-09-24 00:49] cwhanse commented on #1311
@Antoine-0  Thanks very much for this detailed and complete report. I can reproduce the outcome you report.

I'm not opposed to what you propose: some internal checks to the private function _schumaker_qspline that could raise a more informative error. And to adding to the documentation of fit_desoto_sandia (and similar) to more clearly communicate expectations for the input data.

The source of t

[2021-09-24 06:59] Antoine-0 commented on #1311
Exactly, the issue comes from the input data, even after using `rectify_iv_curve` which is done just before the call to `_fit_sandia_cocontent`.
Like you said, I have precision issues, so I removed voltage duplicates and smoothed the data with a `scipy.signal.savgol` with a window of 51 before using pvlib.
For the dataset that I've given above, I do not get errors anymore, but for another one, I s

[2021-09-24 08:20] mikofski opened #1313 "Integrate Solcast API into iotools"
**Is your feature request related to a problem? Please describe.**
Get irradiance via Solcast API
https://solcast.com/solar-data-api/api/

**Describe the solution you'd like**
Use iotools to get irradiance data from Solcast

**Describe alternatives you've considered**
Solcast already has an API toolkit. Is irons redundant?

**Additional context**
* https://docs.solcast.com.au/#introduction
* https

[2021-09-24 21:42] cwhanse opened #1314 "Specify angle units in pvlib.location.Location.get_solarposition"
The docstring for `pvlib.location.Location.get_solarposition` doesn't specify that the returned solar angles are in units of degrees. It could.  Discussion [here](https://stackoverflow.com/questions/68849740/pvlib-get-sun-zenith-angle).

[2021-09-26 16:10] cwhanse commented on #1311
Thanks again for running this to ground. I agree with you that the code needs to handle floating point round-off error; that's not something I considered when writing the original Matlab function.

These two lines:
[code]
should assign `aa=0` and `b=0` using that `isclose` function. I'm not sure that applying the function to `b` only would be sufficient for all data (but it could be). I went back

[2021-09-27 06:37] Antoine-0 commented on #1311
Yes, I can submit a PR with the following additional lines :
`aa[np.isclose(aa, 0, atol=EPS)] = 0.`
`b[np.isclose(b, 0, atol=EPS)] = 0.`
Could you create a new branch for this, I don't think I can.
Thanks in advance

[2021-09-27 14:31] cwhanse commented on #1311
You can create a branch in your own fork, and make the pull request from there. Instructions are [here](https://pvlib-python.readthedocs.io/en/stable/contributing.html). I'm happy to do the PR if you'd prefer.

[2021-09-27 15:47] Antoine-0 commented on #1311
Well, I tried to make a PR but it seems that all the checks are failing, I'll look it up again tomorrow

[2021-09-27 16:01] AdamRJensen opened #1316 "Add engerer2 decomposition model"
**Is your feature request related to a problem? Please describe.**
The [engerer2](https://aip.scitation.org/doi/full/10.1063/1.5097014) separation/decomposition model generally outperforms all of the decomposition models available in pvlib according to https://doi.org/10.1016/j.solener.2015.10.010.

**Describe the solution you'd like**
Add a Python implementation of the engerer2 model to pvlib.

*

[2021-10-14 04:02] mikofski opened #1322 "what is a citation format file?"
**Is your feature request related to a problem? Please describe.**
create a citation format file: https://citation-file-format.github.io/

**Describe the solution you'd like**
create a citation format file: https://citation-file-format.github.io/

**Describe alternatives you've considered**
create a citation format file: https://citation-file-format.github.io/

**Additional context**
create a cita

[2021-10-14 06:06] miettal opened #1323 "Missing explanation of mounting type in document"
**Describe the bug**

pvlib.temperature.sapm_cell and pvlib.temperature.sapm_module can be specified coefficient a and b.
and It's depends on module and mounting.
In document, mounting method is listed, but is not described detail.

On the other hand, mounting method detail was described in NREL SAM Help System, and also mentioned in NREL SAM forum.
help system code: https://github.com/NREL/SAM/bl

[2021-10-17 19:39] adriesse commented on #1309
I have finally taken some time to work in this topic, which has been at the bottom of my to-do list for too long.  You can now find a ready-to-use function to convert from Sandia model parameters to ADR model parameters here:

https://github.com/adriesse/pvpltools-python

There are also helper functions that can be used with suitable measured data, the CEC matrix, or other tabulated specifications

[2021-10-22 21:15] btaute opened #1329 "SingleAxisTrackerMount doesn't store "tracking" values when calling ModelChain.run()"
**Describe the bug**
I don't believe SingleAxisTrackerMount gets properly modeled using a ModelChain.  I believe it's being modeled as a Fixed-Tilt system.  The following condition lies in `ModelChain.prepare_inputs()`:

[code]

I created a ModelChain using SingleAxisTrackerMount instead of SingleAxisTracker, and the `self.results.tracking` fields never got set.  Also, `isinstance(mc.system, pvlib

[2021-10-28 16:40] kanderso-nrel opened #1332 "pvfactors_timeseries docstring types are incorrect"
**Describe the bug**
The [pvfactors_timeseries](https://pvlib-python.readthedocs.io/en/v0.9.0/generated/pvlib.bifacial.pvfactors_timeseries.html) docstring currently lists several parameters as "numeric", implying scalar values are acceptable ([docs](https://pvlib-python.readthedocs.io/en/stable/contributing.html#documentation)).  However, some parameters cannot actually be scalars and should be l

[2021-10-31 17:27] Peque opened #1333 "Add initial storage support"
Abstract
---

The [storage support proposal for NumFOCUS Small Development Grants was recently accepted](https://groups.google.com/g/pvlib-python/c/ZuCHKhDwyso).

This issue aims to track progress of the development and discussions related to [the proposal](https://08916725177196330806.googlegroups.com/attach/558aad2b63ae0/pvlib%20-%20NumFOCUS%203rd%20round%20of%20Small%20Development%20Grants%20fo

[2021-10-31 18:15] Peque commented on #1333
So, the first step is to understand the state-of-the-art battery models and use cases. I will start with:

- The [SAM videos about battery models](https://www.youtube.com/c/SAMDemoVideos/search?query=battery).

Any other interesting readings are more than welcome! 😊

Another goal is to talk to different stakeholders to understand the current market needs and technologies. I will start with people

[2021-10-31 21:30] elfring opened #1334 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-01 01:04] kanderso-nrel commented on #1334
Hi @elfring, I think we're generally open to improving our codebase, but I'm not sure perl regexes would be the tool of choice to do it.  Seems like a proper linter, or something like [black](https://github.com/psf/black), would make more sense.  What do you think?

Also, any reason why you're interested in augmented assignment statements in particular?

Probably worth pointing out that there is a

[2021-11-01 08:33] elfring commented on #1334
The programming language “Perl” provides special support for the application of regular expressions.
Thus it can look convenient to use it for some data processing approaches.

Such software development tools are evolving in some directions.

:thought_balloon: I hope that some information ([which was published also together with release notes for Python 2](https://docs.python.org/3/whatsnew/2.0.ht

[2021-11-01 16:00] steve-ransome commented on #925
Thanks for the comments. I'm happy to maintain the python code, however I would need help on any github, testing and decisions on library.

I've had several useful comments from Cliff Hansen already and am trying to follow them all where possible.

Here's a zip file with all the relevant mlfm code and 3 reference files, the html files show the output from running each file.
[mlfm_0_4.zip](https://

[2021-11-01 16:32] adriesse commented on #925
I agree that appending more and more columns to a DataFrame may not be the best way.  If you do need to do joins, there are rsuffix and lsuffix arguments that will help to avoid column name conflicts.

For overall code structure/organization, perhaps you can split your current py file into two: one with pure model functions (no matplotlib and no printing), and one with the rest.  Perhaps that seco

[2021-11-01 17:38] steve-ransome commented on #925
Thanks Anton. Will try to adopt all your suggestions. I had forgotten about the suffix options, they should work on the joins.

[2021-11-01 23:43] Peque commented on #1333
@btaute Thanks for your suggestions and interesting pointers! :blush:

May I contact you using the Gmail address you use on your commits?

[2021-11-03 20:20] #1311 closed

[2021-11-04 17:47] janinefreeman commented on #1333
Hi all! We have many updates to the battery models and dispatch algorithms going into SAM for the next release, and we would love to make sure the pvlib capabilities are closely aligned with SAM's capabilities. @Peque we're happy to meet with you to help figure out the best way to make this happen, and which algorithms may be of interest for your first steps. My colleagues Darice @dguittet and Bri

[2021-11-04 20:11] Peque commented on #1333
Thanks a lot @janinefreeman, that would be great! :blush:

[2021-11-05 11:24] steve-ransome commented on #925
I've rewritten the mlfm code now so it follows the helpful suggestions made.
I separated the py functions into

**mlfm_lib_code_0_41.py**

[code]

**mlfm_lib_graphs_0_41.py**

[code]

There are now three different dataframes : dmeas, dnorm and dstack

There are three different measurement files and one for testing, as I've taken out the print statements this is selected by setting meas_file

[code

[2021-11-05 22:46] #1314 closed

[2021-11-11 16:32] adriesse commented on #925
Time flies!  I think this is better for sure, but I think we need some more guidance from the maintainers here.  Is it close enough to have a PR?

[2021-11-11 17:39] cwhanse commented on #925
I think so. Python modules should be put into a new folder `pvlib.mlfm`.

[2021-11-12 15:15] lucasschn opened #1338 "pvsystem.Array.get_irradiance raises an error if solar_zenith is passed as a float"
**Bug Description**
`pvsystem.get_irradiance` documentation says solar_zenith can be passed as a float or a Series. However, if `dni_extra` is not defined and `solar_zenith` is passed as float, then `solar_zenith.index` is not defined and the call to `irradiance.get_extra_irradiance` with `solar_zenith.index` as an argument fails.

**To Reproduce**
Steps to reproduce the behavior:
`test_sys = pvsy

[2021-11-12 15:48] cwhanse commented on #1338
Confirmed bug. Thanks @lucasschn.

The `PVSystem.get_irradiance` method is a convenience wrapper for `irradiance.get_total_irradiance` which is common front end for the set of sky diffuse models, some of which require `dni_extra`. Currently, `PVSystem.get_irradiance` uses `solar_zenith.index` to calculate `dni_extra` if the user doesn't provide `dni_extra`.

Here's a few options I see:
1. change t

[2021-11-12 16:00] lucasschn commented on #1338
Thanks @cwhanse for the feedback. I personally find Option 3 (require `dni_extra` as input if `solar_zenith` isn't a Series) the most elegant. I could implement it and open a PR if this solution is indeed the preferred one.

[2021-11-12 16:08] kanderso-nrel commented on #1338
Quibble: technically it is `Array.get_irradiance` (not `PVSystem.get_irradiance`) that calculates `dni_extra` if it is missing:

https://github.com/pvlib/pvlib-python/blob/90013a5ce43611c43224b3a2f3ef72f54ad527af/pvlib/pvsystem.py#L1468-L1469

I think I also lean towards option 3.  I think changing that condition to `dni_extra is None and hasattr(solar_zenith, 'index')` would result in `ValueError

[2021-11-12 16:18] lucasschn commented on #1338
@kanderso-nrel You are right in pointing out that the invoked function  is `Array.get_irradiance`, but it's not possible to instantiate a simple Array with `array=pvsystem.Array()`, as a mount needs to be defined. That's why I used the wrapper `PVSystem.get_irradiance` in my simple example for reproducing the bug.

About the use case, I passed scalars whereas I was exploring the module and testing

[2021-11-12 23:20] kurt-rhee opened #1340 "Transposition model with multiple tilts"
**Is your feature request related to a problem? Please describe.**
I would like to calculate transposition given an azimuth, a tilt angle, and a rotation angle.  This may occur if you have a single axis tracker which has a non-zero, non-trivial change in elevation along the tracker axis as well as a phi rotation about the torque tube.  My current understanding is that pvlib assumes that a tracker

[2021-11-12 23:27] kurt-rhee commented on #1340
For additional context:

In a right handed coordinate system where the index finger (x) points to the east, the middle finger points away from the observer at origin (y), and the thumb points upwards towards zenith (z).  I would like a transposition model that can accept:
- solar module rotations about the z-axis (thumb) to model azimuth
- solar module rotations about the y-axis (middle finger) to

[2021-11-12 23:31] kanderso-nrel commented on #1340
Howdy @kurt-rhee, pvlib models SAT as horizontal by default, but tilted-axis SAT is supported via `pvlib.tracking.singleaxis`'s `axis_tilt` parameter.  The `surface_tilt` and `surface_azimuth` values returned will have the tilted axis baked in, so they should be appropriate to pass along to the functions in `pvlib.irradiance` as-is.  I don't think a fancy transposition model is really needed since

[2021-11-12 23:46] kanderso-nrel commented on #1340
Illustrating the "baked in" point, here's a short example showing how `axis_tilt` affects the simulated POA irradiance.  If the trackers were horizontal then POA would touch GHI at solar noon, but in this case the tracker axis is tilted facing to the south a bit, so `surface_tilt` is nonzero at solar noon and POA and GHI don't touch.

[code]
![image](https://user-images.githubusercontent.com/57452

[2021-11-12 23:54] kurt-rhee commented on #1340
hey @kanderso-nrel, nice to talk to you and really enjoyed your papers on slope aware backtracking they were really helpful and easy to understand.

As for the original question, your answer makes total sense and I see now that th eoutput of pvlib.tracking.singleaxis gives separate values for tracker_theta and surface tilt when the tracker axis tilt is != 0.

Would you happen to have any visuals o

[2021-11-13 00:04] kanderso-nrel commented on #1340
Thanks!

Section 2 of [Marion & Dobos](https://www.nrel.gov/docs/fy13osti/58891.pdf) is certainly relevant, although I personally find that diagram a bit difficult to grasp.  I'm afraid I can't think of any others off the top of my head.

[2021-11-13 00:06] kurt-rhee commented on #1340
Thank you!  I'll give it a read over the weekend.

[2021-11-13 00:06] #1340 closed

[2021-11-17 22:22] adriesse commented on #1309
Does this seem useful to anyone?

[2021-11-17 22:26] adriesse commented on #1338
Most or all of the bottom layer function work with scalars and I think that's important.  May be less so for the classes, but still desirable.

[2021-11-17 22:30] adriesse commented on #1322
I that a question to an answer?

[2021-11-17 23:08] cwhanse commented on #1309
For this specific issue, the two `fit_xxx` functions in `power_conversion.py` would be valuable to add to `pvlib.inverter` if you are offering that code.

[2021-11-18 06:17] mikofski commented on #1322
I can't remember, but I think we need to do this?

[2021-11-19 14:36] lucasschn commented on #1338
In order to give clearer inputs to the user, I suggest to implement the following:
[code]

[2021-11-19 14:46] lucasschn commented on #1338
### Invalid inputs
If solar_zenith is neither a float nor a pandas Series, an error is raised:
[code]
`TypeError: Argument solar_zenith must be a float or a pandas Series. Currently is a <class 'str'>.`

If solar_zenith is passed as a float, dni_extra must be defined and an error is raised:
[code]
`ValueError: If solar_zenith is passed as a float, then dni_extra must be defined.`

### Valid inputs

[2021-11-19 14:48] lucasschn commented on #1338
Is that the expected behavior?
If yes, then the [documentation](https://pvlib-python.readthedocs.io/en/stable/generated/pvlib.pvsystem.Array.get_irradiance.html?highlight=Returns) still needs a small update: the function can also return an OrderedDict, not only a pandas DataFrame.

[2021-11-19 15:49] alisboainegi opened #1341 "get_processed_data not running"
Pvlib was working fine and suddenly does not.

When trying to run  get_processed_data this error appears:
xml.etree.ElementTree.ParseError: no element found: line 1, column 0

**Versions:**
 - ``pvlib.__version__``:  0.9.0
 - ``pandas.__version__``: 1.3.4
 - python: 3.8 and 3.7

[2021-11-19 16:45] cwhanse commented on #1338
How about

[code]

My hesitation is that AttributeError could occur in other ways than solar_zenith missing an index.

I agree, the docstring should communicate that an OrdereDict can be returned.

[2021-11-19 16:48] cwhanse commented on #1341
For some reason, the forecast server returned an empty response. I doubt this is a pvlib problem.

[2021-11-19 17:06] alisboainegi commented on #1341
Thank you for your reply!

So there is not much to do, right?

[2021-11-19 17:35] cwhanse commented on #1341
Yes, I would wait and try again.

[2021-11-19 17:36] #1341 closed

[2021-11-19 17:44] wholmgren commented on #1338
*must be a Series with a DatetimeIndex.

I also like @kanderso-nrel's suggestion in https://github.com/pvlib/pvlib-python/issues/1338#issuecomment-967232590

[2021-11-22 14:00] lucasschn commented on #1338
@cwhanse looking at the [documentation about Python's built-in exceptions](https://docs.python.org/3/library/exceptions.html#AttributeError), I don't see any other case where an AttributeError could be raised, other than solar_zenith.index not being defined. And if solar_zenith is a pandas Series, it _must_ have an index. Am I missing something? Do you see any other caveat?

[2021-11-22 14:18] lucasschn commented on #1338
@wholmgren Yes, you are right. What about this:
[code]

[2021-11-22 14:24] lucasschn commented on #1338
About @kanderso-nrel's suggestion in [#1338 (comment)](https://github.com/pvlib/pvlib-python/issues/1338#issuecomment-967232590), indeed `hasattr(solar_zenith, index)` could be an additional check, but I don't think it replaces `isinstance(solar_zenith, pandas.Series), because (as already mentioned above):

Therefore I would say that `isinstance(solar_zenith, pandas.Series` is more robust than `ha

[2021-11-22 19:17] adriesse commented on #1322
Not needed, but nice to have?

[2021-11-22 19:22] adriesse commented on #1309
It's written with pvlib in mind, but I'm still thinking about some improvements.

[2021-11-22 19:31] adriesse commented on #1338
You could perhaps just use the solar constant as `dni_extra` when all else fails.  Then you don't need to raise anything.

[2021-11-22 21:11] cwhanse commented on #1338
That's a good idea. Variance is at most 4%.

[2021-11-23 19:16] steve-ransome commented on #925
What's the next stage to get this going? If I move the python modules to pvlib.mlfm can someone do a PR? I had problems last time I tried and would appreciate some help.

[2021-11-24 09:22] kdebrab opened #1342 "gti_dirint raises 'UnboundLocalError: local variable 'best_ghi' referenced before assignment'"
**Describe the bug**
`irradiance.gti_dirint` fails for surface faced North

**To Reproduce**
[code]
raises
[code]
The error is not raised e.g. when `surface_azimuth = 180`.

**Versions:**
 - ``pvlib.__version__``: 0.9.0
 - ``pandas.__version__``: 1.3.4
 - python: 3.9.4.final.0

[2021-11-24 09:53] kdebrab commented on #1342
The example is not fully correct (I should have converted ghi to the plane before feeding it to gti_dirint), but that doesn't really matter for the bug report.

In this case, the plane doesn't see the sun during the times, so diriving the components would be trivial (it's all diffuse), but, in any case, the algorithm should not raise an error.

[2021-11-24 17:50] cwhanse commented on #1342
Confirmed. The problem appears to be that `_gti_dirint_lt_90` is always called, without checking if any `aoi` value is less than 90. The test for `gti_dirint` doesn't hit this corner case.

Maybe put an `if` block around this [line](https://github.com/pvlib/pvlib-python/blob/aba071f707f9025882e57f3e55cc9e3e90e869b2/pvlib/irradiance.py#L1906).

[2021-11-24 18:17] wholmgren commented on #1342
It's not as simple as putting an `if aoi_lt_90.any()` around `_gti_dirint_lt_90`. `_gti_dirint_gte_90` requires the `best_kt_prime` determined in `_gti_dirint_lt_90`. I don't think we can make this work without going beyond what's in the Marion paper. I suggest we instead return an informative error if insufficient data is supplied with aoi < 90.

[2021-11-26 15:56] cwhanse commented on #925
@steve-ransome the next step is a PR so all maintainers can review. What problems did you have? Git has a learning kerb, for sure.

[2021-11-29 10:32] steve-ransome commented on #925
Thanks Cliff. I reported problems on 18 Aug 2020 further up this thread, I couldn't seem to understand what I was doing re github, tortoise git and the PR despite Mark's @mikofski instructions

[2021-11-29 17:01] kanderso-nrel opened #1345 "CEC module library is behind current version in SAM"
As discussed in https://github.com/pvlib/pvlib-python/discussions/1344, the CEC module table shipped with pvlib (`SAM 2018.11.11 r2`, `1/3/2019`) is behind the latest version shipped with SAM (`SAM 2020.2.29 r3`, `11/25/2020`).

@mikofski in https://github.com/pvlib/pvlib-python/issues/440 you brought up pvfree -- any thoughts there this time around?

[2021-11-29 22:18] mikofski commented on #1345
It's possible to update pvfree by clicking the admin pulldown, selecting upload, and uploading the desired csv. IMO some advantages of using pvfree or something similar:
1. library updates don't require a pvlib re-release if they two are decoupled
2. pvfree db doesn't allow integrity or validation errors, meaning, you can't upload the same file twice or put a string in a number field
3. human read

[2021-11-30 18:08] thiagomoeng opened #1347 "How to get more then 30days of GFS Data?"
Hi, I'm a new pvlib user and I'm having a problem trying to request more than 30 days of GFS data. Is there any way to get/download data for the entire year?

Sample Code:

[code]

And the result only contains data from the last 30 days as follows
`2021-10-30 21:00:00-03:00                                           0.000000                                           0.000000               ...

[2021-12-01 01:58] mikofski commented on #1345
see https://github.com/BreakingBytes/pvfree/issues/34 might need to update this table in the source, easy pr

[2021-12-01 10:43] cweickhmann commented on #526
Maybe related is a behaviour in `spectrum.spectrl2` that I [came across this week](https://stackoverflow.com/questions/70172766/pvlib-bird1984-north-facing-element-shows-negative-irradiance/70174010#70174010). North-facing panels exhibit negative irradiance. Not sure if this is due to the AOI value range or if the [NREL reference implementation](https://www.nrel.gov/grid/solar-resource/spectral.ht

[2021-12-01 11:15] cweickhmann opened #1348 "`spectrum.spectrl2` calculates negative irradiance for angle of incidence outside +/- 90°"
When using pvlib (but also the spectrl2 implementation provided by NREL), I obtain negative Irradiance for a north-facing panel.
From @kevinsa5 's [reply on StackOverflow](https://stackoverflow.com/questions/70172766/pvlib-bird1984-north-facing-element-shows-negative-irradiance/70174010#70174010) I take that this is in fact not intended.

In the example code below, the angle of incidence is calcul

[2021-12-01 14:54] kanderso-nrel commented on #1348
Thanks @cweickhmann!  I want to take a closer look at the technical report to be sure, but on a first glance I think the problem here is the same one solved by the line marked with `# GH 526` in `irradiance.haydavies`:

https://github.com/pvlib/pvlib-python/blob/aba071f707f9025882e57f3e55cc9e3e90e869b2/pvlib/irradiance.py#L811-L816

Note that, even though `spectrum.spectrl2` uses `irradiance.hayda

[2021-12-01 15:44] cwhanse commented on #1348
I support that.

[2021-12-01 15:56] wholmgren commented on #1345
+1. But that feels like a breaking change even if it's not a real API issue, so I'll make the same suggestion for a short term solution as in #440: make a minor pvlib release with the new files AND update pvfree.

https://github.com/pvlib/pvmodules is also relevant. I don't recall if there was a block other than lack of time. @cwhanse?

[2021-12-01 16:14] cwhanse commented on #1345
That's mostly it. NREL also wants to open source the production of the CEC module file. @janinefreeman

[2021-12-02 21:40] cwhanse commented on #925
@steve-ransome my concern about creating the PR for you, is that someone will still need to use git to submit changes during the review. My workload is such that I don't think I can edit the PR to completion.

[2021-12-03 18:12] steve-ransome commented on #925
Thanks Cliff. I will contact you as requested.

[2021-12-04 14:50] williamhobbs commented on #1333
I agree with @btaute about looking at EPRI's DER-VET/StorageVET. I could make email introductions with EPRI contacts if that has not already been done and is of interest. And of course I agree that SAM is an excellent resource.

I can be available to provide any input that might be useful. I have an electric utility and IPP/developer background. My pvlib experience is a little light, but I have be

[2021-12-04 17:29] cwhanse commented on #1333
I think functions that represent automated controls, like ramp rate smoothing, could be considered within the scope of pvlib. An algorithm to optimize storage dispatch based on forecasts and TOU rates strikes me as scope for another project.

[2021-12-06 14:45] Peque commented on #1333
I leave here a couple of notes I have taken during the use case refinement phase. With the intention of starting with the next phase (implementation of the first prototype) this month. :blush:

Market analysis
---

So, one of the goals for this initial phase was to analyze the market and talk to different stakeholders. During November I had the opportunity to go to a [national professional fair ab

[2021-12-06 16:53] mikofski commented on #1333
Thanks @Peque, baby steps, this is just a starting point. We can use this as a launching point for future additions like DC-coupled or relaxing hourly time constraints. I have also been doing a lot more PV+BESS modeling lately so I may be able to contribute more. Another thing I would suggest is that you could also contribute to SAM/SSC as well. Perhaps that's out of scope for the small dev grant,

[2021-12-06 18:05] Peque commented on #1333
Thanks for your support @mikofski!

I'm starting to fear the same (that at some point, changes to SCC may be required). While I have experience with Python programming, and even [some with embedded C](https://github.com/Bulebots/bulebule), I still think C++ is one of the most difficult programming languages. :joy:

Anyway, the team at NREL was very welcoming and open to external contributions. So

[2021-12-06 19:10] wholmgren commented on #1333
Thanks to everyone for their time and efforts so far! @Peque sorry if I missed this, but what is the value in wrapping pySAM? Or why not just use/improve PySAM directly? Perhaps a draft PR would make this obvious, so my apologies if I'm both too late and too early to these discussions.

From my perspective, a slow but reliable and reasonably complete python implementation would also be welcome. On

[2021-12-06 19:46] adriesse commented on #1333
Thanks for the updates @Peque.  At a very high level, what information would be the inputs and output to/from SAM?

[2021-12-06 19:53] adriesse commented on #1333
Apparently @wholmgren was typing while I was thinking similar things.  Somethings really basic in native pvlib would be my preference, although I recognize there may be users who have different needs.

[2021-12-06 22:44] Peque commented on #1333
Thanks for sharing your thoughts!

@wholmgren I think pvlib and PySAM have different approaches. While pvlib aims to be flexible maintaining both a structured and OOP API and, at the same time, allows and supports multiple models to run simulations, PySAM is just a way of exposing the still relatively rigid API of SAM (and SAM's goal, for what I know, is not to be flexible and support many differe

[2021-12-06 22:56] cwhanse commented on #1333
To me the value of wrapping pySAM is to facilitate use of SAM capabilities, and to bring those capabilities into (what we hope will be) a common interface for battery/storage models. We don't yet have the interface but Peque's response to adreisse (above) outlines what could become the interface.

[2021-12-07 00:05] mikofski commented on #1333
A couple of notes:

1. While having the flexibility to tinker with the code can be an advantage, I don't think pvlib's core philosophy values that over established, published, peer-reviewed, documented, and tested algorithms.
2. Having a pvlib-PySAM interface to a battery model that is rigid isn't necessarily a bad thing and accomplishes the goal of the SDG project quite nicely. It is a low barrie

[2021-12-07 09:55] adriesse commented on #1333
A couple of thoughts:

1. @mikofski I think pvlib-python offers rather more than the ability to "tinker with the code" !  (And I know you would agree.)
2. @Peque For the interface/wrapper/api although you intend to target the annual+hourly model in SAM, perhaps you can still keep the pvlib-python portion generic enough to accommodate arbitrary timesteps and durations.
3. @mikofski Who is our custo

[2021-12-07 10:39] Peque commented on #1333
@adriesse Yeah, that is the idea. Not providing an annual+hourly time series would throw an exception when dealing with this specific backend, but that should not generally be the case. :blush:

I think pvlib's customers could be all pvlib's users. Each start in GitHub, each fork, each citation... Everything counts towards a growing community. A bigger community also means higher chances of people

[2021-12-07 15:08] wholmgren commented on #1333
I think we need to ground this conversation in some pseudocode or simple scripts that actually use pysam with the battery feature as intended here. I didn't find any good examples with a few minutes of googling.

[2021-12-07 15:16] dguittet commented on #1333
### Run speed

@Peque Could you share the code you used for this comparison? I did a quick run with PySAM v2.2.4 using this attached script [BatteryWithCustomDispatch.py.zip](https://github.com/pvlib/pvlib-python/files/7669149/BatteryWithCustomDispatch.py.zip), which is a modification of the [Example here](https://github.com/NREL/pysam/blob/master/Examples/BatteryWithCustomDispatch.py). I found a

[2021-12-07 18:33] Peque commented on #1333
@dguittet Thanks a lot for your comment Darice! :blush:

My code looked like this:

[code]

Got the parameter structure from an example as well. The issue seems to be with the time delta! Note how it was set to `1 / 360` (second timesteps). I didn't think the time delta could have an impact when maintaining the number of iterations, but it really does. Switching the `dt_hr` makes things run much f

[2021-12-07 19:07] janinefreeman commented on #1333
One very late-to-the-game comment from me: one consideration that @cwhanse and I have discussed is, how can we best avoid duplicating effort (e.g. recoding existing battery models from SAM into python)? There will obviously be some cases where that is unavoidable, but ideally the broader group of bright minds and talented programmers involved in pvlib/SAM/PySAM can get farther by leveraging each o

[2021-12-07 21:40] wholmgren opened #1350 "account for major pvwatts changes"
The [SAM Version 2021.12.02 release notes](https://nrel.github.io/SAM/doc/releasenotes.html) describe major changes to the PVWatts model:

We should add a note or a warning to `pvsystem.pvwatts_dc` and `inverter.pvwatts`. And `ModelChain.with_pvwatts` is also now ambiguous.

[2021-12-07 21:47] kanderso-nrel commented on #1350
Append `v5` to the function names?  So `ModelChain.with_pvwattsv5`, etc, and deprecate the originals

[2021-12-07 22:17] cwhanse commented on #1350
After thumbing up, second thought: append `v5` to base layer functions but add a parameter to `ModelChain.with_pvwatts`.

[2021-12-08 16:46] kanderso-nrel opened #1352 "Add note to `irradiance.haydavies` docstring about projection_ratio parameter"
Is it worthwhile to add a similar note to `irradiance.haydavies`? Something like "When supplying projection_ratio, consider constraining its values when zenith angle approaches 90 degrees. See code for details." Certainly not required here.

_Originally posted by @wholmgren in https://github.com/pvlib/pvlib-python/pull/1349#pullrequestreview-826594259_

[2021-12-08 16:48] #1348 closed

[2021-12-08 18:02] Carlosbogo commented on #1352
Hi, if needed I would like to work on this issue.

[2021-12-08 18:19] cwhanse commented on #1352
@Carlosbogo you are welcome to do it. Thanks!

[2021-12-10 03:35] #1352 closed

[2021-12-10 17:29] #1260 closed

[2021-12-16 01:32] AdamRJensen opened #1358 "Change advertisement position in new pydata theme"
**Is your feature request related to a problem? Please describe.**
With the new pydata theme implemented in #1173, the ads from readthedocs have become much more prominent. E.g., the main pvlib landing page in the [latest version](https://pvlib-python.readthedocs.io/en/latest/) is dominated by the advertisement (see screenshot from a phone below):

<img src="https://user-images.githubusercontent.c

[2021-12-16 15:24] wholmgren commented on #1358
Of these options:

1. Pay readthedocs
2. Hack the theme
3. Build the docs in the ci, post to a github.io repository.
4. Live with the ads

I prefer 4, 1, 3, 2.

Would be nice if PVPMC could pay for rtd ad free hosting and, while we're at it, a domain name too. While the combined price of that is roughly $100 per year, I'm guessing the overhead in making that happen is on the order of $1000 per yea

[2021-12-16 19:47] choldgraf commented on #1358
I think that the right long-term solution is to make the sidebar collapsible when you're on mobile, rather than having it displayed at the top of the page. Agreed it is sub-optimal

[2021-12-16 22:51] AdamRJensen commented on #1358
Another option would be to move the advertisement to the right-hand side. This only would require a minor change of the sphinx settings and avoids the advertisement being placed at the top on smartphones.

In general the [left-hand side of a webpage tends to get the most attention](https://cxl.com/blog/10-useful-findings-about-how-people-view-websites/), so either way, I would favor moving the adv

[2021-12-16 22:54] choldgraf commented on #1358
ah I just realized that you could do this already with theme configuration, by following these instructions:

https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/sections.html#the-left-sidebar

You should try putting the `sidebar-ethical-ads` snippet in the footer:

https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/sections.html#the-footer

does that work?

[2021-12-17 20:01] kanderso-nrel commented on #1332
Maybe this is less a docs bug and more a functionality bug.  I generally expect pvlib functions to work with scalar orientation values.  A better fix may be to allow scalar inputs and to cast scalars to arrays inside the function prior to forwarding them on to pvfactors.

[2021-12-17 20:03] cwhanse commented on #1332
+1

[2021-12-17 22:56] AdamRJensen commented on #1358
@choldgraf I successfully moved the ad to the footer in #1359 and it worked like a charm!

I really think it's a win-win, it moves the advertisement to the bottom on smartphones and makes it less dominating in the browser version.

Would it make sense to make this the default for the theme?

[2021-12-17 23:00] choldgraf commented on #1358
well we probably don't want the advertisement in the footer on a full width, since it'd generally be hidden, but I think the "hidden sidebar" that I mentioned above is a reasonable compromise

[2021-12-27 12:38] UGuntupalli opened #1360 "```get_pvgis_tmy``` results don't match PVGIS website"
**Describe the bug**
Data retrieved using pvlib does not match data in pvgis website

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Data download using pvlib iotools should match the original source i.e. Pvgis

**Screenshots**

![image](https://user-images.githubusercontent.com/47903157/147472128-03662139-3f9e-4dc3-947f-a651be4190f3.png)

**Versions:**
 - ``pvlib.

[2021-12-27 13:14] AdamRJensen commented on #1360
The reason that they differ is that the PVGIS website uses 10 year period for calculating the TMY, whereas the API defaults to using all years. This results in different months being used in the final TMY dataset.

From the [PVGIS API documentation](https://ec.europa.eu/jrc/en/PVGIS/docs/noninteractive):
![image](https://user-images.githubusercontent.com/39184289/147474624-1445a3bd-0082-43fa-ba6d-

[2021-12-27 14:00] UGuntupalli commented on #1360
@AdamRJensen,

Thank you for the clarification. PVsyst also offers a way to pull the PVGIS data (https://www.pvsyst.com/help/meteo_source_pvgis.htm). However, what is not clear at least reading this documentation is whether PVsyst is querying hourly data or monthly data.

Is there a comparable form of getting the equivalent data as imported via Pvsyst using Pvlib ?

[2021-12-27 14:01] #1358 closed

[2021-12-27 14:58] kanderso-nrel commented on #1360
Hi @UGuntupalli, without knowing what exactly PVsyst is doing, I'm not sure we can advise how to replicate it in python.  Maybe someone else knows more about that PVsyst function.  That docs page you linked seems to say that it is no longer available in PVsyst anyway.

[2021-12-29 16:30] williamhobbs opened #1363 "Broken link in read_midc documentation"
The link to Variable Style Rules (https://pvlib-python.readthedocs.io/en/latest/variables_style_rules.html) appears to be broken:

https://github.com/pvlib/pvlib-python/blob/b3c1b5e9fba606c3a89c052d07c9e500518bba5d/pvlib/iotools/midc.py#L155-L207

![image](https://user-images.githubusercontent.com/45701090/147683451-9470e26d-6b27-43aa-9359-17b648d316bc.png)

[2021-12-29 16:43] kanderso-nrel commented on #1363
Thanks @williamhobbs, I didn't think to check for existing links when I moved those pages under `user_guide` in #1173.  Looking at the results of `$ git grep "pvlib-python\..*/en/"`, there are several links to update:

- `README.md:Please see the [Installation page](http://pvlib-python.readthedocs.io/en/stable/installation.html) of the documentation for complete instructions.`
- `docs/tutorials/ir

[2021-12-29 16:59] cwhanse commented on #1363
+1

[2021-12-29 19:07] StantonLanham opened #1364 "Error when attempting to access NCEP weather model forecasts"
**Describe the bug**
Getting a 404 error when attempting to retrieve weather model forecasts

Server Error (404: 404)

**To Reproduce**
Steps to reproduce the behavior:

import datetime
from pvlib.forecast import GFS
latitude, longitude, tz = 32.2, -110.9, 'US/Arizona'
start = pd.Timestamp(datetime.date.today(), tz=tz)
end = start + pd.Timedelta(days=7)
irrad_vars = ['ghi', 'dni', 'dhi']
model = G

[2021-12-30 00:01] kahemker commented on #1364
It seems that the Net CDF Subset service is down.  I have no idea who maintains this and where outages can be reported.

Start from this URL
https://thredds.ucar.edu/thredds/catalog/grib/NCEP/GFS/Global_0p5deg/latest.html?dataset=grib/NCEP/GFS/Global_0p5deg/GFS_Global_0p5deg_20211229_1800.grib2

Try to click "NetCDF Subset".   See the 404 error from the following link:  https://thredds.ucar.edu/th

[2021-12-30 17:43] kahemker commented on #1364
Sounds like Thredds is back online.  This issue can be closed

[2021-12-31 14:13] #1364 closed

[2022-01-03 09:48] adriesse commented on #1350
The release note itself seems ambiguous, since the "Detailed PV Model" has several module and inverter options, and incomplete, since the parameters for those options aren't identified.  Regardless, I think it's a good idea to create and maintain ways in which pvlib users can run a version of their choice and document what that choice implies technically.

[2022-01-04 00:51] #1360 closed

[2022-01-04 01:26] #1332 closed

[2022-01-04 01:26] #1127 closed

[2022-01-04 10:52] adriesse commented on #1350
The following note from the SAM website may also be relevant:

[2022-01-05 09:16] JoLo90 opened #1367 "Wrong Return in documentation of cloud_covr_to_transmittance_linear"
In the documentation of the **pvlib.forecast.NDFD.cloud_cover_to_transmittance_linear** function, it seems the documented return is the wrong one: It shows the GHI as the return instead of the transmittance.

![image](https://user-images.githubusercontent.com/65318981/148192058-a75a0ff8-7655-4d66-833f-ef5d0c625bea.png)

Here is the function in pvlib.forecast that seems to confirm the case.

[2022-01-05 11:58] AdamRJensen commented on #1367
Seems like it was a mistake when the [function](https://github.com/pvlib/pvlib-python/blame/master/pvlib/forecast.py#L512-L538) was added in #180.

Should probably be updated to something like this:

    Returns
    -------
    transmittance: numeric
        Estimated transmittance.

Perhaps it's worth denoting that it is a fraction and not in percentage like the cloud cover?

[2022-01-05 16:24] cwhanse commented on #1367
Absolutely

[2022-01-05 17:09] AdamRJensen commented on #1367
@JoLo90 If you wanted to make a pull request for this issue, that would be more than welcomed.

[2022-01-05 18:46] JoLo90 commented on #1367
@AdamRJensen I'll create a PR in the next days.

[2022-01-07 19:22] williamhobbs commented on #1313
This could be expanded to include other APIs, such as Solargis (https://solargis.com/products/api/data-delivery-web-service/overview) and SolarAnywhere (https://developers.cleanpower.com/irradiance-and-weather-data/).

[2022-01-07 19:34] kanderso-nrel commented on #1313
A bit of relevant discussion here: https://github.com/pvlib/pvlib-python/discussions/1310

[2022-01-07 19:36] mikofski commented on #1313
Hi @kanderso-nrel is this issue superceded by the Engerer PR #1366 ?

[2022-01-07 19:36] williamhobbs commented on #1347
I don't think that the servers that pvlib uses to pull NWP data (like GFS) serve as a long-history archive, and instead have a limited rolling window for available data, e.g., 4 weeks or 30 days.

NOAA does use AWS for some of the NWP outputs, e.g., GEFS (GFS ensemble), https://registry.opendata.aws/noaa-gefs/, and HRRR, https://registry.opendata.aws/noaa-hrrr-pds/. I'm not sure of the status, but

[2022-01-07 19:56] kanderso-nrel commented on #1313
@mikofski Solcast and Engerer don't seem related to me, what's the connection?  Or maybe you meant another issue?

[2022-01-07 19:58] williamhobbs opened #1371 "Add iotools function to write SAM-formatted CSV files"
**Is your feature request related to a problem? Please describe.**
Manual formatting is required before writing weather data into a CSV file that NREL SAM can read.

**Describe the solution you'd like**
An iotools function, e.g., `pvlib.iotools.write_sam()`, that writes data to a CSV file in SAM's format in a standardized way would be nice.

**Describe alternatives you've considered**
Manually re-

[2022-01-07 22:08] wholmgren opened #1372 "`read_crn` returns -99999 instead of `NaN`"
**Describe the bug**
`read_crn` fails to map -99999 to `NaN`

**To Reproduce**
[code]

**Expected behavior**
Should return `NaN` instead of -99999

**Versions:**
 - ``pvlib.__version__``: 0.9.0
 - ``pandas.__version__``: 1.0.3 (doesn't matter)
 - python: 3.7

**Additional context**

Documentation [here](https://www.ncei.noaa.gov/pub/data/uscrn/products/subhourly01/) says

So we should change

http

[2022-01-07 23:40] AdamRJensen commented on #1372
@wholmgren I have added -99999 and -999999 to the list of nan values in #1368.

However, I'd also be happy to implement column-specific replacement of nans. Any suggestion on how to do this?

[2022-01-08 00:34] mikofski commented on #1313
[Nick Engerer is the CTO and a co-founders of Solcast](https://www.linkedin.com/in/dr-nick-engerer/), so I thought maybe their software uses his methods? But TBH that's just an assumption.

[2022-01-09 01:49] AdamRJensen commented on #1372
I see that the CRN files contain the latitude and longitude of the stations. I suppose it would make sense to parse this and output it in a metadata dictionary?

I realize that outputing a tuple of `(data, meta)` instead of just `data` would be a breaking change, but it would be in line with the iotools pattern.

[2022-01-09 21:37] wholmgren commented on #1372
`crn.WIDTHS` gets you half way there, but you'd need a corresponding list for the number of decimals allowed in each column. From there you can determine, for each column, how many 9s will fit between a `-` and the space required for the decimals.

Could be nice, but not sure how we'd handle the breaking change in a nice way. Let's address in a separate issue.

[2022-01-10 15:00] kanderso-nrel commented on #1313
Ha, of course!  I think #1366 does not supercede this one: decomposition function in `pvlib.irradiance` vs data fetching function in `pvlib.iotools`.

[2022-01-10 22:46] AdamRJensen commented on #1372
It is possible to pass a dictionary to the `na_values` argument in `pd.read_fwf`:

    NAN_DICT = {
        'AIR_TEMPERATURE': -9999,
        'PRECIPITATION': -9999,
        'SOLAR_RADIATION': -99999,
        'SR_FLAG'  # 1 chars
        'SURFACE_TEMPERATURE': 9999,
        'RELATIVE_HUMIDITY': -9999,
        'SOIL_MOISTURE_5': -99,
        'SOIL_TEMPERATURE_5': -9999,
        'WIND_1_5': -99}

Al

[2022-01-11 00:01] AdamRJensen commented on #1372
There are a few CRN stations that have longitudes in the -99 range, but none that would match:
![image](https://user-images.githubusercontent.com/39184289/148858143-792e0a96-c883-4a07-ad69-f415f40739fe.png)

[2022-01-13 21:44] williamhobbs opened #1377 "Documentation: Link to SAM CSV weather file format is broken"
This reference link for SAM CSV file format in this documentation page, https://pvlib-python.readthedocs.io/en/stable/generated/pvlib.iotools.read_psm3.html, appears broken:

![image](https://user-images.githubusercontent.com/45701090/149413598-97b4a7eb-0ac8-40e1-b263-7a305b92f87d.png)

This link might be acceptable: https://sam.nrel.gov/images/web_page_files/sam-help-2020-2-29-r1_weather_file_for

[2022-01-13 22:01] kanderso-nrel commented on #1377
That PDF likes to disappear.  In the meantime, https://github.com/NREL/developer.nrel.gov/issues/196 has a link to a copy on the internet archive.

[2022-01-15 22:45] Peque commented on #1333
So, I opened [a draft PR to start a discussion](https://github.com/pvlib/pvlib-python/pull/1378).

Any comments/suggestions are more than welcome! :blush:

A couple of thoughts:

- I would suggest having a look at [the storage documentation](https://pvlib-python--1378.org.readthedocs.build/en/1378/user_guide/storage.html) before diving into the code
- The idea is to agree upon an initial API and m

[2022-01-15 23:04] Peque opened #1379 "Enable Jupyter Sphinx Extension in docs?"
While writing documentation, I noticed the extended use of the IPython Sphinx Directive.

I bet most pvlib users like to play with pvlib in interactive environments. However, I think Jupyter Notebooks are getting more common/widespread when compared to IPython consoles. I wondered if it would be acceptable to allow code in the documentation to look more like notebooks instead of consoles.

There i

[2022-01-16 13:27] kanderso-nrel commented on #1367
Closed by #1370, thanks @JoLo90!

[2022-01-16 13:27] #1367 closed

[2022-01-16 14:47] kanderso-nrel commented on #1379
Thanks for the thorough summary @Peque!  Just to have something to look at, here's the result of naively replacing ipython w/ jupyter-execute:
- jupyter-execute: https://pvlib-python--1380.org.readthedocs.build/en/1380/user_guide/modelchain.html
- ipython: https://pvlib-python.readthedocs.io/en/latest/user_guide/modelchain.html

Of course blocks of code with multiple outputs only show the last out

[2022-01-16 19:33] Peque commented on #1379
@kanderso-nrel Yeah, it seems Jupyter does not show `??`'s output bellow the code cell, but rather at the bottom of the page:

![Screenshot from 2022-01-16 20-24-57](https://user-images.githubusercontent.com/526577/149674777-8d9b7c74-2213-4522-88b3-5c8d49cd0188.png)

If the IPython directive was to be replaced I agree some restructuring would be needed. Either by splitting code into multiple cells

[2022-01-16 19:55] Peque commented on #1379
By the way, it seems `??` is only used in `user_guide/modelchain.rst`.

It looks like it is used to illustrate how the functions/methods are implemented (i.e.: to show the source code of the function). @wholmgren was that the intention?

If so, maybe [`sphinx-code-include`](https://github.com/ColinKennedy/sphinx-code-include) could be used instead, with the advantage of displaying the source code

[2022-01-18 09:52] adriesse commented on #1333
Hi @Peque,

I read through everything to get an idea of where you're headed, but was kind of waiting for the flurry of comments from others to begin before piping up.  I do agree it would be best to start with discussing what's described in the documentation.  Anyway, main point of this comment is to signal that your work has not gone unnoticed! :)

Anton

[2022-01-21 17:38] wholmgren commented on #1379
Yes.

Have the jupyter/ipython developers provided any guidance on the future of either tool?

[2022-01-21 17:44] Peque commented on #1379
@wholmgren What do you mean by that? Maybe we can ask them. :blush:

[2022-01-22 02:41] sjschneider opened #1387 "ModelChain should accept albedo in weather dataframe"
**Is your feature request related to a problem? Please describe.**
Albedo is treated as a scalar constant in pvlib, but it is of course a function of the weather and changes throughout the year.  Albedo is currently set in the PVSystem or Array and cannot be altered using the ModelChain.  Albedo is provided as a timeseries from many weather data services as well as through NREL's NSRBD and it woul

[2022-01-22 02:43] wholmgren commented on #1379
My impression is that ipython directive was largely abandoned for at least a few years as development focused on notebooks and then jupyter lab. It's been a little finicky. Maybe this jupyter extension will be more reliable?

[2022-01-22 16:43] Peque commented on #1379
@wholmgren It's true that the directive had [3 commits in the last 2 years](https://github.com/ipython/ipython/commits/master/IPython/sphinxext/ipython_directive.py), and [the documentation](https://ipython.readthedocs.io/en/stable/sphinxext.html) still states:

`jupyter-sphinx` [seems to be a bit more active](https://github.com/jupyter/jupyter-sphinx/commits/master) and there does not seem to be

[2022-01-23 19:09] ColmBhandal commented on #1322
Hi I'm new to the repo and I just saw this, decided to learn what a cff file was and mocked one up with a Gist, taking the details of the 4 people in the org that I found on GitHub and using the CFF Initializer to get a rough CFF started. Here's the Gist:

https://gist.github.com/ColmBhandal/0751d0c05c77cb8dc30bd660470547de

[2022-01-23 20:16] mikofski commented on #1322
Thanks! Can you please copy the gist into a new pull request?

[2022-01-23 23:39] kanderso-nrel commented on #1081
Here are a few prototype implementations.  Note that the output is very slightly different from the function @mjprilliman posted above -- I've not yet chased down the difference but it's good enough for proof of concept anyway.  tl;dr: the numpy-based implementations are quite fast but assume regular sampling.  https://gist.github.com/kanderso-nrel/1d6da384d7af8afc24c230f1f144eb57

I still think i

[2022-01-24 01:19] kanderso-nrel commented on #1387
I think I agree that it would make more sense to pass around ground albedo with the weather data instead of treating it as a characteristic of the array.

It is true that the docs for `Array` and `PVSystem` say that `albedo` is a float, but I think it should also work to set albedo to a time series that matches the weather you pass to `ModelChain.run_model()`.  At least that saves you from looping

[2022-01-24 01:45] kanderso-nrel commented on #1345
Perhaps that concern could be addressed by pvfree exposing multiple versions of the CEC table via a new API parameter, similar to how the PSM3 API has `tmy-2018` and such.  Then code that specifies `cecdb='2018.11.11'` (or whatever) would behave the same even after a new version of the table is added.

[2022-01-24 02:05] cwhanse commented on #1387
I agree that albedo can change with e.g., precipitation or season, but it is also a property of the bare ground surface, and it is that perspective that put albedo with the system parameters. One use case for not having albedo in the weather data would be to evaluate the effect of different ground cover on array output.

I am only away of the NSRDB offering albedo with weather data; are there othe

[2022-01-24 09:11] ColmBhandal commented on #1246
@abhisheksparikh Are you still working on your PR? If you don't have the time I can attempt to continue work on it.

[2022-01-24 09:14] ColmBhandal commented on #1322
@mikofski I don't seem to be able to ping "@pvlib/maintainer" in the PR so I'm just pinging you here. There are two outstanding tasks on the PR which I'll need guidance with (the 3rd I believe is exclusively for maintainers). I've added a "(Maintainer please advise)" prefix to those tasks. Thanks.

[2022-01-24 14:22] kanderso-nrel commented on #1322
Looking briefly around at other packages, CFF files are used for a few things: pointing to publications in JOSS or similar, pointing to Zenodo DOIs, or not pointing to any external reference and just being a reference in itself.  I don't think the latter makes sense for us.  Maybe it should just be a citation to the JOSS paper?

Also, according to [this](https://twitter.com/zenodo_org/status/14203

[2022-01-24 15:32] ColmBhandal commented on #1322
I had a brief look at the PDF linked [here](https://zenodo.org/record/3515946#.Ye6_vOrP1aQ). It seems as though using the CFF as a way of linking the software to a research paper is more of a secondary use case, as far as I can see from the "File structure" section:

"optionally, a list of references which should be cited in different use cases or scopes, e.g., a software paper
describing the abst

[2022-01-24 15:37] mjprilliman commented on #1081
Hi Kevin,

Thanks for these examples. For your question, I would say the spirit of the model would be to include anything within the window even if there is not a full window to look back on. But taking model speed into account I think your v3 and v4 approaches make the most sense even without the partial window calculations. I would imagine in most use cases the first 20 minutes of data would occ

[2022-01-24 15:53] cwhanse commented on #1322
If we add a CFF for the JOSS paper, and that makes it easier for people to add the reference to their bibliography, I'm in favor.

Is there any kind of "Cite This" button that could be added? E.g. https://ieeexplore.ieee.org/document/9543668

[2022-01-24 16:18] mikofski commented on #1322
@cwhanse my understanding is that if we have the CFF file in our repo, then GitHub will automatically add a Citation section to our repo main landing page like this:
![image](https://user-images.githubusercontent.com/1385621/150821395-677d6252-ee62-4742-8eaa-e5d29ee7a690.png)
(see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/a

[2022-01-24 16:54] kanderso-nrel commented on #1387
To clarify my above message, I think it *already* works to set `PVSystem.albedo` or `Array.albedo` to a Series, despite the docs saying it must be float.

A non-exhaustive list of examples: [SolarAnywhere](https://www.solaranywhere.com/support/data-fields/albedo/), [SolarGIS](https://solargis.com/docs/getting-started/data-parameters), [MERRA2](https://disc.gsfc.nasa.gov/datasets/M2TMNXRAD_5.12.4/s

[2022-01-24 17:14] campanelli-sunpower commented on #1387
Does anyone know if including time-specific albedo this has been shown to be even more important with bifacials?

(I would think yes.)

[2022-01-24 17:37] cwhanse commented on #1387
Yes, it is more important than for single-sided modules. There are ground surfaces where the albedo depends on the solar elevation and hence time of day.

One caution about albedo from satellite-derived irradiance: those values are at least km^2 scale, and are observed from space, whereas a PV model is assuming that the albedo is localized (m^2) and has been determined from the irradiance reaching

[2022-01-24 17:47] cwhanse commented on #1387
Which is the better course of action?

1. Leave `albedo` on `PVsystem` or `Array`. Edit the docstrings and add tests to make it explicit that `PVSystem.albedo` or `Array.albedo` can be a Series. Advantages: avoids deprecating and removing `PVSystem.albedo`. Downside: users obtaining albedo from weather data sources have an extra step to perform when using `ModelChain` methods.
2. Add `albedo` as a

[2022-01-24 17:49] ColmBhandal commented on #1322
@wholmgren Per your suggestion moving the PR discussion to the issue and replying to this:

Of the goals you listed and for the current state of the CFF (just a rough draft and subject to change) I think that may be correct, but note that @cwhanse also seems to be in favour of a follow-on issue in which a script will be generated to auto-append all contributors to the CFF using the Git shortlog -

[2022-01-24 18:09] campanelli-sunpower commented on #1387
@cwhanse I lean toward option 1. However, it seems that for option 1, a user might have to duplicate computations already done in the `ModelChain` in the preliminary step of using the weather to compute the existing `PVSystem.albedo` (as some formulaic combination of ground conditions and weather). Do you know if this is really an issue?

[2022-01-24 18:23] adriesse commented on #1322
I think it's worth having a discussion about algorithms for author lists.  Obviously I will never make the top 10, but it would be nice to have my name show up here or there now and then.

[2022-01-24 18:55] adriesse commented on #1081
Nice work, Kevin.  Based on a comment in the code, I wonder if this could help for the pandas version:

https://stackoverflow.com/questions/60736556/pandas-rolling-apply-using-multiple-columns/60918101#60918101